﻿
@{
    ViewBag.Title = "Investment Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content area -->
<div class="content">
    <div class="StickyHeader" style="z-index:9999">
        <div class="page-header page-header-light">

            <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                <div class="d-flex">
                    <div class="breadcrumb">
                        <a href="/" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                        <span class="breadcrumb-item active">Dashboards</span>
                    </div>
                    <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
                </div>

            </div>
            <div class="page-header-content header-elements-md-inline">
                <div class="page-title d-flex">
                    <h1 style="font-size:34px"><i class="icon-graph mr-2"></i> <span class="font-weight-bold">Investment</span> Dashboard</h1>
                    <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
                </div>

            </div>

        </div>

        <div class="page-header page-header-light">
            <div class="page-header-content header-elements-md-inline">
                <div class="page-title d-flex" style="display: block !important;margin: 0 auto;">
                    <div class="form-check form-check-switchery form-check-inline">
                        <label class="form-check-label">
                            <input id="sec_registered_1940_act" type="checkbox" class="form-check-input-switchery" checked data-fouc>
                            SEC Registered
                        </label>
                    </div>
                    <div class="form-check form-check-switchery form-check-inline">
                        <label class="form-check-label">
                            <input id="exclusively_crypto" type="checkbox" class="form-check-input-switchery" checked data-fouc>
                            Exclusively Crypto
                        </label>
                    </div>
                    <div class=" form-check form-check-switchery form-check-inline">
                        <label class="form-check-label">
                            <input id="hiring" type="checkbox" class="form-check-input-switchery" checked data-fouc>
                            Hiring
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <!-- Investments card -->
                <div class="card">
                    <div class="card-header header-elements-inline">
                    </div>
                    <div class="card-body py-0" style="margin-left: 8.5% !important">
                        <div class="row">
                            <div class="col-2">
                                <div class="mb-3">
                                    <h2 id="InvestmentFirmsCount" class="font-weight-bold mb-0"></h2>
                                    <span class="font-size-lg" style="color:#26A69A">Investment Firms</span>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="mb-3">
                                    <h2 id="AUMSumBillions" class="font-weight-bold mb-0"></h2>
                                    <span class="font-size-lg" style="color:#26A69A">Asssets Under Management</span>
                                    <br />
                                    <span class="font-size-xs">(USD Billion)</span>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="mb-3">
                                    <h2 id="InvestmentsSum" class="font-weight-bold mb-0"></h2>
                                    <span class="font-size-lg" style="color:#26A69A">Investments</span>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="mb-3">
                                    <h2 id="ProfessionalStaffSum" class="font-weight-bold mb-0"></h2>
                                    <span class="font-size-lg" style="color:#26A69A">Staff</span>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="mb-3">
                                    <h2 id="aum_investmentsSum" class="font-weight-bold mb-0"></h2>
                                    <span class="font-size-lg" style="color:#26A69A">AUM/Investments</span>
                                    <br />
                                    <span class="font-size-xs">(USD Billion)</span>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="mb-3">
                                    <h2 id="Aum_staffSum" class="font-weight-bold mb-0"></h2>
                                    <span class="font-size-lg" style="color:#26A69A">AUM/Staff</span>
                                    <br />
                                    <span class="font-size-xs">(USD Billion)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /sales stats -->
            </div>

        </div>

    </div>


    <!-- Map and scatter -->
    <div class="row" id="switches">
        <ul id="sortable" class="col-xl-12">
            <li class="col-xl-6">
                <div>
                    <div id="percentage-time-based-analytics" class="card flex-1 px-2 py-1 mr-lg-1 overflow-auto">
                        <div class="card-header header-elements-inline bg-transparent">
                            <h5 class="card-title">
                                Percentage Time Based Analytics
                                <span class="text-dark ml-1"> - Investment Funds</span>
                            </h5>
                            <div class="header-elements">
                                <div class="list-icons">
                                    @*<a href="#" class="list-icons-item"><i class="icon-pushpin"></i></a>
                                <a href="#" class="list-icons-item"><i class="mi-zoom-out-map"></i></a>
                                <a href="#" class="list-icons-item"><i class="icon-move"></i></a>
                                <a href="#" class="list-icons-item"><i class="icon-cog3"></i></a>*@
                                    <a data-action="collapse" class="list-icons-item rotate-180"></a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body p-0 height900">
                            <div>
                                <div id="form2">
                                    <div class="dx-fieldset">
                                        <div class="dx-field">

                                            <div class="dx-field-value pct100">
                                                <div id="BarDimension"></div>
                                            </div>
                                        </div>
                                        <div class="dx-field">

                                            <div class="dx-field-value pct100">
                                                <div id="BarMeasure"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="button-container">
                                <div id="backButton"></div>
                            </div>
                            <div id="BarChart"></div>

                        </div>
                    </div>

                </div>
            </li>
            <li class="col-xl-6">
                <div>
                    <div id="geo-spatial-analytics" class="card flex-1 px-2 py-1 mr-lg-1 overflow-auto">
                        <div class="card-header header-elements-inline bg-transparent">
                            <h5 class="card-title">
                                Multi Dimensional Time Series
                                <span class="text-dark ml-1"> - Investment Funds</span>
                            </h5>
                            <div class="header-elements">
                                <div class="list-icons">
                                    <a data-action="collapse" class="list-icons-item rotate-180"></a>
                                </div>
                            </div>
                        </div>

                        <div class="card-body p-0r height900">
                            <div>
                                <div id="form">
                                    <div class="dx-fieldset">
                                        <div class="dx-field">

                                            <div class="dx-field-value pct100">
                                                <div id="BubbleDimension"></div>
                                            </div>
                                        </div>
                                        <div class="dx-field">

                                            <div class="dx-field-value pct100">
                                                <div id="BubbleMeasure"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="BubbleChart"></div>

                        </div>
                    </div>

                </div>
            </li>

            <li class="col-xl-6">
                <div>
                    <div id="Top-Ten-Parallel-Metric-Analytics" class="card flex-1 px-2 py-1 mr-lg-1 overflow-auto">
                        <div class="card-header header-elements-inline bg-transparent">
                            <h5 class="card-title">
                                Top Ten Parallel Metric Analytics
                                <span class="text-dark ml-1"> - Investment Funds</span>
                            </h5>
                            <div class="header-elements">
                                <div class="list-icons">
                                    @*<a href="#" class="list-icons-item"><i class="icon-pushpin"></i></a>
                                <a href="#" class="list-icons-item"><i class="mi-zoom-out-map"></i></a>
                                <a href="#" class="list-icons-item"><i class="icon-move"></i></a>
                                <a href="#" class="list-icons-item"><i class="icon-cog3"></i></a>*@
                                    <a data-action="collapse" class="list-icons-item rotate-180"></a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body p-0 height900">
                            <div>
                                <div id="form2">
                                    <div class="dx-fieldset">
                                        <div class="dx-field">

                                            <div class="dx-field-value pct100">
                                                <div id="TreeDimension"></div>
                                            </div>
                                        </div>
                                        <div class="dx-field">

                                            <div class="dx-field-value pct100">
                                                <div id="TreeMeasure"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="drill-down-title">
                            </div>
                            <div id="Top10TreeMap"></div>
                        </div>
                    </div>

                </div>
            </li>
            <li class="col-xl-6">
                <div>
                    <div id="geo-spatial-analytics" class="card flex-1 px-2 py-1 mr-lg-1 overflow-auto">
                        <div class="card-header header-elements-inline bg-transparent">
                            <h5 class="card-title">
                                Geo Spatial Analytics
                                <span class="text-dark ml-1"> - Investment Funds</span>
                            </h5>
                            <div class="header-elements">
                                <div class="list-icons">
                                    @*<a href="#" class="list-icons-item"><i class="icon-pushpin"></i></a>
                                <a href="#" class="list-icons-item"><i class="mi-zoom-out-map"></i></a>
                                <a href="#" class="list-icons-item"><i class="icon-move"></i></a>
                                <a href="#" class="list-icons-item"><i class="icon-cog3"></i></a>*@
                                    <a data-action="collapse" class="list-icons-item rotate-180"></a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body p-0 height900">
                            <div class="card-body p-0r" style="height:900px">
                                <div>
                                    <div id="form">
                                        <div class="dx-fieldset">
                                            <div class="dx-field">

                                                <div class="dx-field-value pct100">
                                                    <div id="MapDimension"></div>
                                                </div>
                                            </div>
                                            <div class="dx-field">

                                                <div class="dx-field-value pct100">
                                                    <div id="MapMeasure"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="Map"></div>

                            </div>

                        </div>
                    </div>

                </div>
            </li>
        </ul>
    </div>
 <!-- Grid -->
        <div class="row">
            <div class="card flex-1 px-2 py-1">
                <div class="card-header header-elements-inline bg-transparent">
                    <h6 class="card-title">
                        List Details
                        <span class="text-dark ml-1">Investment Funds</span>
                    </h6>
                    <div class="header-elements">
                        <div class="list-icons"><a href="#" class="list-icons-item"><i class="icon-pushpin"></i></a> <a href="#" class="list-icons-item"><i class="mi-zoom-out-map"></i></a> <a href="#" class="list-icons-item"><i class="icon-move"></i></a> <a href="#" class="list-icons-item"><i class="icon-cog3"></i></a> <a data-action="collapse" class="list-icons-item rotate-180"></a></div>
                    </div>
                </div>
                <div class="card-body p-0">
                    <div class="row align-items-center mt-1 mb-3">
                        <div class="col-sm-2 col-md-2 col-lg-1">
                            <div class="btn-group btn-group-toggle">
                                <label class="btn btn-outline active" style="background-color:whitesmoke">
                                    <input type="radio" name="filters" autocomplete="off" checked="checked" style="color:#000">
                                    All
                                </label><label class="btn btn-outline">
                                    <input type="radio" name="filters" autocomplete="off" checked="checked">
                                    Top 10
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-10 col-md-10 col-lg-11">
                            <div class="form-group form-group-feedback form-group-feedback-right mb-0">
                                <input type="text" placeholder="Search by:" class="form-control form-control-sm">
                                <div class="form-control-feedback form-control-feedback-sm"><i class="icon-search4 rotate-90"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="datatable-scroll">
                        <table id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" class="table datatable-basic dataTable no-footer table datatable-sorting">
                            <thead>
                                <tr role="row">
                                    <th tabindex="0" rowspan="1" colspan="1" aria-controls="DataTables_Table_0" aria-sort="ascending" aria-label="Firm Name" class="pl-0 sorting">Firm Name</th>
                                    <th tabindex="0" rowspan="1" colspan="1" aria-controls="DataTables_Table_0" aria-sort="ascending" aria-label="Primary Contact" class="pl-0 sorting">Primary Contact</th>
                                    <th tabindex="0" rowspan="1" colspan="1" aria-controls="DataTables_Table_0" aria-sort="ascending" aria-label="Country" class="pl-0 sorting">Country</th>
                                    <th tabindex="0" rowspan="1" colspan="1" aria-controls="DataTables_Table_0" aria-sort="ascending" aria-label="Company Contact" class="pl-0 sorting">Company Contact</th>
                                    <th tabindex="0" rowspan="1" colspan="1" aria-controls="DataTables_Table_0" aria-sort="ascending" aria-label="AUM/Investments" class="pl-0 sorting">AUM/Investments</th>
                                    <th tabindex="0" rowspan="1" colspan="1" aria-controls="DataTables_Table_0" aria-sort="ascending" aria-label="AUM/Staff" class="pl-0 sorting">AUM/Staff</th>
                                    <th tabindex="0" rowspan="1" colspan="1" aria-controls="DataTables_Table_0" aria-sort="ascending" aria-label="SEC Registered" class="pl-0 undefined">SEC Registered</th>
                                </tr>
                            </thead>
                            <tbody id="grid"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="row">


            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel"></h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12 modal_body_content">
                                    <p></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 modal_body_map">
                                    <div class="location-map" id="location-map">
                                        <div style="width: 600px; height: 400px;" id="map_canvas"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 modal_body_end">
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- /content area -->
<!-- /main content -->
