﻿
@{
    ViewBag.Title = "Courses - Zion Portal";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}


<div class="inner-wrapper" style="background:#ffffff">
  
    <section role="main" class="content-body">
        <div>
            <h1>Manage Member</h1>
        </div>
        <hr />

      
        <div class="row">
            <div class="demo-container">
                <div id="memberGrid"></div>
            </div>
        </div>
        <div class="row">
            <div class="demo-container">
                <div id="memaddGrid">
               
                </div>
            </div>
        </div>

        <div class="row">
            <div class="demo-container">
                <div id="subcatGrid">

                </div>
            </div>
        </div>

     
     
      
        <!-- end: page -->
    </section>
  
</div>

