﻿
@{
    ViewBag.Title = "Courses - Zion Portal";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}


<div class="inner-wrapper" style="background:#ffffff">
  
    <section role="main" class="content-body">
        <div>
            <h1>Member - <strong> Smith, John</strong></h1>
        </div>
        <hr />
        <div class="demo-container">

            <div class="container">
                <div class="left-content">
                    <div id="treeview"></div>
                </div>
                <div class="right-content">
                    <div class="title-container">
                        <img class="flag" id="personPhoto" src="~/img/ProfilePhoto/Ayo_Photo.png" />
                        <div>
                            <div class="country-name" id="reportName">Activity Report</div>
                            <div id="country-description"><strong>Notes: </strong>t is a long established fact that a reader will be distracted by the readable content of a page 
                            when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here,
</div>
                        </div>
                    </div>

                    @*<div class="stats">
                        <div>
                            <div class="sub-title">Report Count</div>
                            <div class="stat-value" id="reportcount">25</div>
                        </div>
                        <div>
                            <div class="sub-title">Card 2</div>
                            <div class="stat-value" id="card2">34</div>
                        </div>
                        <div>
                            <div class="sub-title">Card 3</div>
                            <div class="stat-value" id="card3">10</div>
                        </div>
                    </div>*@
                    <hr />
                    <div id="ActivityreportGrid"></div>
                </div>
            </div>

           
        </div>


        <div class="row">
            <div class="demo-container">
               
            </div>
        </div>





        <!-- end: page -->
    </section>
  
</div>

