﻿
@{
    ViewBag.Title = "ComposeEmail";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div class="inner-wrapper">


    <section role="main" class="content-body">
     

        <!-- start: page -->
        <section class="content-with-menu content-with-menu-has-toolbar mailbox">
            <div class="content-with-menu-container" data-mailbox data-mailbox-view="compose">
              
                <div class="inner-body">
                    <div class="inner-toolbar clearfix">
                        <ul>
                            <li>
                                <a href="#" id="sendemail"><i class="far fa-paper-plane mr-2"></i> Send</a>
                            </li>
                            <li>
                                <a id="discardemail" href="~/Training/Students"><i class="fas fa-times mr-2"></i> Discard</a>
                            </li>
                          
                        </ul>
                    </div>
                    <div class="mailbox-compose">
                        <form class="form-horizontal form-bordered form-bordered">

                            <div class="form-group form-group-invisible">
                                <label for="to" class="control-label-invisible">To:</label>
                                <div class="col-md-12 mailbox-compose-field">
                                    <input id="to" type="text" class="form-control form-control-invisible" data-role="tagsinput" data-tag-class="badge badge-primary" value="">
                                </div>
                            </div>

                            <div class="form-group form-group-invisible">
                                <label for="cc" class="control-label-invisible">CC:</label>
                                <div class="col-md-12 mailbox-compose-field">
                                    <input id="cc" type="text" class="form-control form-control-invisible" data-role="tagsinput" data-tag-class="badge badge-primary" value="">
                                </div>
                            </div>

                            <div class="form-group form-group-invisible">
                                <label for="subject" class="control-label-invisible">Subject:</label>
                                <div class="col-md-12 mailbox-compose-field">
                                    <input id="subject" type="text" class="form-control form-control-invisible" value="">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="compose">
                                    <div id="compose-field" class="compose-control">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- end: page -->
    </section>
</div>

