﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Assets</title>
    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/16.2.13/css/dx.common.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/16.2.13/css/dx.light.css" />
    <link href="~/css/icons/icomoon/styles.min.css" rel="stylesheet" type="text/css">
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/css/bootstrap_limitless.min.css" rel="stylesheet" type="text/css">
    <link href="~/css/layout.css" rel="stylesheet" type="text/css">
    <link href="~/css/components.min.css" rel="stylesheet" type="text/css">
    <link href="~/css/colors.min.css" rel="stylesheet" type="text/css">
    <style>
        #sortable {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

            #sortable li {
                float: left;
            }
    </style>
    <link href="~/css/DigitalAssets.css" rel="stylesheet" type="text/css">/>
    <style>
        .dataTable thead .sorting::before {
            content: "\E98C";
            transform: rotate(90deg);
            color: #888;
            opacity: 1;
        }

        .dataTable thead .sorting::after {
            content: "\EA9F";
            font-family: "material-icons";
            right: 0.5rem;
            top: 55%;
            margin-top: -0.275rem;
            color: #888;
            transform: rotate(270deg);
            opacity: 1;
        }
    </style>
    <!-- /global stylesheets -->
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <!-- Main navbar -->
    <div class="navbar navbar-expand-md navbar-dark">
        <div class="navbar-brand">
            <a href="index.html" class="d-inline-block">

            </a>
        </div>
        <div class="d-md-none">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
                <i class="icon-tree5"></i>
            </button>
            <button class="navbar-toggler sidebar-mobile-main-toggle" type="button">
                <i class="icon-paragraph-justify3"></i>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-mobile">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="#" class="navbar-nav-link sidebar-control sidebar-main-toggle d-none d-md-block">
                        <i class="icon-paragraph-justify3"></i>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav" style="position:absolute;right:0">
                <li class="nav-item dropdown">
                    <a href="#" class="navbar-nav-link dropdown-toggle caret-0" data-toggle="dropdown">

                    </a>


                </li>

                <li class="nav-item dropdown dropdown-user">
                    <a href="#" class="navbar-nav-link d-flex align-items-center dropdown-toggle" data-toggle="dropdown">
                        <img src="~/images/placeholders/placeholder.jpg" class="rounded-circle mr-2" height="34" alt="">
                        <span>John Smith</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="#" class="dropdown-item"><i class="icon-user-plus"></i> My Account</a>
                        <a href="#" class="dropdown-item"><i class="icon-comment-discussion"></i> Messages <span class="badge badge-pill bg-blue ml-auto">58</span></a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item"><i class="icon-switch2"></i> Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- /main navbar -->
    <!-- Page content -->
    <div class="page-content">
        <!-- Main sidebar -->
        <div class="sidebar sidebar-dark sidebar-main sidebar-expand-md">
            <!-- Sidebar mobile toggler -->
            <div class="sidebar-mobile-toggler text-center">
                <a href="#" class="sidebar-mobile-main-toggle">
                    <i class="icon-arrow-left8"></i>
                </a>
                Navigation
                <a href="#" class="sidebar-mobile-expand">
                    <i class="icon-screen-full"></i>
                    <i class="icon-screen-normal"></i>
                </a>
            </div>
            <!-- /sidebar mobile toggler -->
            <!-- Sidebar content -->
            <div class="sidebar-content">

                <!-- Main navigation -->
                <div class="card card-sidebar-mobile">
                    <ul class="nav nav-sidebar" data-nav-type="accordion">
                        <!-- Main -->
                        <li class="nav-item-header"><div class="text-uppercase font-size-xs line-height-xs">Navigation</div> <i class="icon-menu" title="Main"></i></li>

                        <li class="nav-item nav-item-submenu">
                            <a href="#" class="nav-link active"><i class="icon-graph"></i> <span>Dashboards</span></a>
                            <ul class="nav nav-group-sub" data-submenu-title="">
                                <li class="nav-item"><a href="~/Dashboards/Investment" class="nav-link active">Investments</a></li>
                                <li class="nav-item"><a href="#" class="nav-link disabled">Dashboard 2<span class="badge bg-transparent align-self-center ml-auto">WIP</span></a></li>
                                <li class="nav-item"><a href="#" class="nav-link disabled">Dashboard 3<span class="badge bg-transparent align-self-center ml-auto">WIP</span></a></li>
                                <li class="nav-item"><a href="#" class="nav-link disabled">Dashboard 4<span class="badge bg-transparent align-self-center ml-auto">WIP</span></a></li>
                                <li class="nav-item"><a href="#" class="nav-link disabled">Dashboard 5<span class="badge bg-transparent align-self-center ml-auto">WIP</span></a></li>
                                <li class="nav-item"><a href="#" class="nav-link disabled">Dashboard 6<span class="badge bg-transparent align-self-center ml-auto">WIP</span></a></li>
                                <li class="nav-item"><a href="#" class="nav-link disabled">Dashboard 7<span class="badge bg-transparent align-self-center ml-auto">WIP</span></a></li>
                                <li class="nav-item"><a href="#" class="nav-link disabled">Dashboard 8<span class="badge bg-transparent align-self-center ml-auto">WIP</span></a></li>
                                <li class="nav-item"><a href="#" class="nav-link disabled">Dashboard 9<span class="badge bg-transparent align-self-center ml-auto">WIP</span></a></li>
                            </ul>
                        </li>

                    </ul>
                </div>
                <!-- /main navigation -->
            </div>
            <!-- /sidebar content -->

        </div>
        <!-- /page content -->
        <div style="width:100%">
            @RenderBody()
        </div>
        <!-- /page content -->
        <!-- /main sidebar -->

    </div>

    <!-- Footer -->
    <div class="navbar navbar-expand-lg navbar-light">
        <div class="text-center d-lg-none w-100">
            <button type="button" class="navbar-toggler dropdown-toggle" data-toggle="collapse" data-target="#navbar-footer">
                <i class="icon-unfold mr-2"></i>
                Footer
            </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-footer">
            <span class="navbar-text">
                &copy; 2019.
            </span>

        </div>
    </div>
    <!-- /footer -->
    <!-- Core JS files -->
    <script src="~/js/main/jquery.min.js"></script>

    <script src="~/js/main/bootstrap.bundle.min.js"></script>
    <script src="~/js/plugins/loaders/blockui.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- /core JS files -->
    <!-- Theme JS files -->
    <script src="~/js/plugins/visualization/d3/d3.min.js"></script>
    <script src="~/js/plugins/visualization/d3/d3_tooltip.js"></script>
    <script src="~/js/plugins/forms/selects/bootstrap_multiselect.js"></script>
    <script src="~/js/plugins/ui/moment/moment.min.js"></script>
    <script src="~/js/plugins/pickers/daterangepicker.js"></script>
    <script src="~/js/demo_pages/dashboard.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZVZKVPayoGv5mG5c37irdJveoxdzlOss"></script>

    <script src="~/js/plugins/forms/styling/uniform.min.js"></script>
    <script src="~/js/plugins/forms/styling/switchery.min.js"></script>
    <script src="~/js/plugins/forms/styling/switch.min.js"></script>

    <!-- Theme JS files -->
    <script src="~/js/plugins/extensions/jquery_ui/widgets.min.js"></script>
    <script src="~/js/plugins/extensions/jquery_ui/effects.min.js"></script>

    <script src="~/js/demo_pages/jqueryui_components.js"></script>
    <script src="~/js/app.js"></script>
    <script src="~/js/demo_pages/form_checkboxes_radios.js"></script>

    <script src="~/Scripts/dx.all.js"></script>
    <script src="~/Scripts/vectormap-utils/dx.vectormaputils.node.js"></script>
    <script src="~/Scripts/vectormap-data/world.js"></script>


    <script src="~/js/BarChartDigitalAsset.js"></script>
    <script src="~/js/TreeMapChartDigitalAsset.js"></script>
    <script src="~/js/BubbleChartDigitalAsset.js"></script>
    <script src="~/js/DigitalAsset.js"></script>
    <script>
        $(function () {
            $("#sortable").sortable();
            $("#sortable").disableSelection();
        });
    </script>

    <!-- /theme JS files -->
    @*<script>
            $(document).ready(function () {
                var map = null;
                var myMarker;
                var myLatlng;
                function initializeGMap(lat, lng) {
                    myLatlng = new google.maps.LatLng(lat, lng);
                    var myOptions = {
                        zoom: 12,
                        zoomControl: true,
                        center: myLatlng,
                        mapTypeId: google.maps.MapTypeId.ROADMAP
                    };
                    map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
                    myMarker = new google.maps.Marker({
                        position: myLatlng
                    });
                    myMarker.setMap(map);
                }

                // Re-init map before show modal
                $('#myModal').on('show.bs.modal', function (event) {
                    var button = $(event.relatedTarget);
                    initializeGMap(button.data('lat'), button.data('lng'));
                    $("#location-map").css("width", "100%");
                    $("#map_canvas").css("width", "100%");
                });

                // Trigger map resize event after modal shown
                $('#myModal').on('shown.bs.modal', function () {
                    google.maps.event.trigger(map, "resize");
                    map.setCenter(myLatlng);
                });
            });
        </script>*@

</body>



</html>
