﻿@{
    ViewBag.Title = "Reservation - ChooseRoom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- Site Main -->
<div class="site-main">
   <div class="section">
        <div class="widget-page-title" style="background:#e8e8e8;">
          
           <div class="container">
             <div class="col-lg-12 col-md-12" style="background:#e8e8e8;">
                         <div class="col-lg-4 col-md-4">
                                           
                             <div class="widget-page-title">
            <div class="wrapper-inner" style="background:#e8e8e8;">
                <!-- Title -->
                <h2 class="themefontcolor" style="background:#e8e8e8;">Choose Room</h2>
           
                <!-- Title End -->
             
            </div>
        </div>
                             </div>

                 <div class="col-lg-8 col-md-8">
                     <div class="widget-booking-form">
            <div class="wrapper-inner" style="padding-top:30px">
                     <div class="widget-inner">
                    <div class="row">
                       <div class="col-lg-12 col-md-12">
                         
                            <!-- Booking Form -->
                            <div class="booking-form" style="margin:0px;padding:5px;background:#e8e8e8; border:15px solid whitesmoke">
                                
                                <div class="data-form">

                                    <div id="booking">
                                        
                                        <div class="row">
                                            <div class="col-md-4">
                                                 <h5>Check in</h5>
                                                <div>
                                               
                                                <i class="fa fa-calendar-plus-o"></i>
                                                <input id="checkin" type="text" name="checkin"  value="@Session["checkin"]" placeholder="CHECK IN" class="datepicker avail">
                                           </div>
                                                     </div>
                                            <div class="col-md-4">
                                                <h5>Check out</h5>
                                                       <div>
                                                <i class="fa fa-calendar-plus-o"></i>
                                                <input id="checkout" type="text" name="checkout"  value="@Session["checkout"]" placeholder="CHECK OUT" class="datepicker avail">
                                            </div>
                                                       </div>
                                            <div class="col-md-4">
                                                <h5>Guests</h5>
                                                       <div>
                                                <i class="fa fa-caret-down"></i>
                                                <select name="guest" required>
                                                <option value="@Session["guest"]">@Session["guesttext"]</option>
                                        <option value="1">1 guest</option>
                                        <option value="2">2 guests</option>
                                        <option value="3">3 guests</option>
                                        <option value="4">4 guests</option>
                                        <option value="5">5 guests</option>
                                        <option value="6">6 guests</option>
                                        <option value="6+">6+ guests</option>

                                    </select>
                                                                  </div>
                                            </div>
                                        
                                         
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Booking Form End -->
                        </div>
                        
                    </div>
                </div>
                 
                 </div>
                         </div>
                     </div>
                            
             </div>
           </div>
        </div>
    </div>
   
    <div class="section">
      
            <div class="wrapper-inner">
            
                
                 <!-- Rooms List -->
            <div class="widget-rooms-list">
                <div class="rooms-item">
                    <div class="item-photo">
                        <a href="#" data-background="../../Content/img/TowlabPix/SliderRoom1.JPG"></a>
                    </div>
                    <div class="item-desc">
                        <h2 class="roomtype"><a href="#">Standard Room</a></h2>
                        <p>Spacious with 4 ½ by 6 mattress, reading table, chair and scenic view.</p>
                        <div class="desc-features">
                            <ul>
                                <li><i class="fa fa-check"></i> BREAKFAST</li>
                                <li><i class="fa fa-check"></i> WI-FI</li>
                                <li><i class="fa fa-check"></i> HAIR DRYER</li>
                                <li><i class="fa fa-check"></i> LCD TV</li>
                                <li><i class="fa fa-check"></i> SHOWER AND TAB</li>
                                <li><i class="fa fa-check"></i> SECURITY SYSTEM</li>
                                <li><i class="fa fa-check"></i> AIR CONDITIONING</li>
                                <li><i class="fa fa-check"></i> MINI BAR</li>
                                <li><i class="fa fa-check"></i> TEA AND COFFEE SET</li>
                            </ul>
                        </div>
                    </div>
                    <div class="item-price">
                        <div class="price-inner">
                            <h3 class="price">₦8,000 </h3>
                            <h5>PER NIGHT</h5>
                            <button class="btn abc" >SELECT ROOM</button>
                            <br />
                            <br />
                            <a href="Roomdetail/1" 
                                 )" class="">ROOM DETAILS</a>
                        </div>
                    </div>
                </div>
                <div class="rooms-item">
                    <div class="item-photo">
                        <a href="#" data-background="../../Content/img/TowlabPix/SliderRoom1.JPG"></a>
                    </div>
                    <div class="item-desc">
                        <h2 class="roomtype"><a href="#">Deluxe Room</a></h2>
                        <p>Spacious room with 6 by 6 mattress, reading table and chair.</p>
                        <div class="desc-features">
                            <ul>
                                <li><i class="fa fa-check"></i> BREAKFAST</li>
                                <li><i class="fa fa-check"></i> WI-FI</li>
                                <li><i class="fa fa-check"></i> HAIR DRYER</li>
                                <li><i class="fa fa-check"></i> LCD TV</li>
                                <li><i class="fa fa-check"></i> SHOWER AND TAB</li>
                                <li><i class="fa fa-check"></i> SECURITY SYSTEM</li>
                                <li><i class="fa fa-check"></i> AIR CONDITIONING</li>
                                <li><i class="fa fa-check"></i> MINI BAR</li>
                                <li><i class="fa fa-check"></i> TEA AND COFFEE SET</li>
                            </ul>
                        </div>
                    </div>
                    <div class="item-price">
                        <div class="price-inner">
                      
                            <h3 class="price">₦10,500</h3>
                            
                            <h5>PER NIGHT</h5>
                            <button class="btn abc" >SELECT ROOM</button>
                            <br />
                            <br />
                            <a href="Roomdetail/2" class="">ROOM DETAILS</a>
                        </div>
                    </div>
                </div>
                <div class="rooms-item">
                    <div class="item-photo">
                        <a href="#" data-background="../../Content/img/TowlabPix/SliderRoom1.JPG"></a>
                    </div>
                    <div class="item-desc">
                        <h2 class="roomtype"><a href="#">Business Room</a></h2>
                        <p>Spacious room with 6.4 by 6mattress with, double guest chairs, stool, reading table.</p>
                        <div class="desc-features">
                            <ul>
                                <li><i class="fa fa-check"></i> BREAKFAST</li>
                                <li><i class="fa fa-check"></i> WI-FI</li>
                                <li><i class="fa fa-check"></i> HAIR DRYER</li>
                                <li><i class="fa fa-check"></i> LCD TV</li>
                                <li><i class="fa fa-check"></i> SHOWER AND TAB</li>
                                <li><i class="fa fa-check"></i> SECURITY SYSTEM</li>
                                <li><i class="fa fa-check"></i> AIR CONDITIONING</li>
                                <li><i class="fa fa-check"></i> MINI BAR</li>
                                <li><i class="fa fa-check"></i> TEA AND COFFEE SET</li>
                            </ul>
                        </div>
                    </div>
                    <div class="item-price">
                        <div class="price-inner">
                         
                            <h3 class="price">₦12,500</h3>
                           
                            <h5>PER NIGHT</h5>
                            <button class="btn abc" >SELECT ROOM</button>

                            <br />
                            <br />
                            <a href="Roomdetail/3"  class="">ROOM DETAILS</a>
                        </div>
                    </div>
                </div>
                <div class="rooms-item">
                    <div class="item-photo">
                        <a href="#" data-background="../../Content/img/TowlabPix/SliderRoom1.JPG"></a>
                    </div>
                    <div class="item-desc">
                        <h2 class="roomtype"><a href="#">Special Room</a></h2>
                        <p>Spacious room with 6.4 by 6 mattress, designed wall, reading table, guest chair, fancy reading lamps, and bed lamp.</p>
                        <div class="desc-features">
                            <ul>
                                <li><i class="fa fa-check"></i> BREAKFAST</li>
                                <li><i class="fa fa-check"></i> WI-FI</li>
                                <li><i class="fa fa-check"></i> HAIR DRYER</li>
                                <li><i class="fa fa-check"></i> LCD TV</li>
                                <li><i class="fa fa-check"></i> SHOWER AND TAB</li>
                                <li><i class="fa fa-check"></i> SECURITY SYSTEM</li>
                                <li><i class="fa fa-check"></i> AIR CONDITIONING</li>
                                <li><i class="fa fa-check"></i> MINI BAR</li>
                                <li><i class="fa fa-check"></i> TEA AND COFFEE SET</li>
                            </ul>
                        </div>
                    </div>
                    <div class="item-price">
                        <div class="price-inner">
                          
                            <h3 class="price">₦14,500</h3>
                         
                            <h5>PER NIGHT</h5>
                            <button class="btn abc" >SELECT ROOM</button>

                            <br />
                            <br />
                            <a href="Roomdetail/4"  class="">ROOM DETAILS</a>
                        </div>
                    </div>
                </div>
                 <div class="rooms-item">
                    <div class="item-photo">
                        <a href="#" data-background="../../Content/img/TowlabPix/SliderRoom1.JPG"></a>
                    </div>
                    <div class="item-desc">
                        <h2 class="roomtype"><a href="#">Luxury Suite</a></h2>
                        <p>Scenic view, guest sitting room with guest toilet, comfortable cushion chairs, bed room with king size mattress, and double exit doors.</p>
                        <div class="desc-features">
                            <ul>
                                <li><i class="fa fa-check"></i> BREAKFAST</li>
                                <li><i class="fa fa-check"></i> WI-FI</li>
                                <li><i class="fa fa-check"></i> HAIR DRYER</li>
                                <li><i class="fa fa-check"></i> LCD TV</li>
                                <li><i class="fa fa-check"></i> SHOWER AND TAB</li>
                                <li><i class="fa fa-check"></i> SECURITY SYSTEM</li>
                                <li><i class="fa fa-check"></i> AIR CONDITIONING</li>
                                <li><i class="fa fa-check"></i> MINI BAR</li>
                                <li><i class="fa fa-check"></i> TEA AND COFFEE SET</li>
                            </ul>
                        </div>
                    </div>
                    <div class="item-price">
                        <div class="price-inner">
                          
                            <h3 class="price">₦25,000</h3>
                         
                            <h5>PER NIGHT</h5>
                            <button class="btn abc" >SELECT ROOM</button>

                            <br />
                            <br />
                            <a href="Roomdetail/5"  class="">ROOM DETAILS</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Rooms List End -->
            </div>
        
    </div>
 
     
    <div class="section">
        <div class="wrapper-inner">
           
      
        </div>
    </div>
    <!-- Section Rooms End -->
</div>
<!-- Site Main End -->
