﻿@{
    ViewBag.Title = "Complete Reservation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Site Main -->
<div class="site-main">
    <!-- Section Page Title -->
    <div class="section" style="background:#e8e8e8">
        <div class="widget-page-title">
            <div class="wrapper-inner" style="background:#e8e8e8">
               
                <!-- Breadcrumb -->
                <div class="widget-breadcrumb">
                    <ul>
                         <li><a href="@Url.Action(
                                 controllerName: "Reservation", 
                                 actionName: "ChooseRoom" 
                                 )">Choose room</a></li>
                        <li>Make Reservation</li>
                    </ul>
                </div>
                <!-- Breadcrumb End -->
            </div>
        </div>
    </div>
    <!-- Section Page Title End -->

    <!-- Section Booking -->
    <div class="section">
        <div class="widget-booking-form">
            <div class="wrapper-inner">
                <div class="widget-inner">
                    <div class="row">
                        <div class="col-lg-8 col-md-7">
                          
                            <!-- Booking Form -->
                            <div class="booking-form" style="padding-bottom:0px; margin-bottom:0px;">
                                <h2>Make Reservation</h2>
                                <div class="data-form">
                                    <form action="/Reservation/SubmitReservation" id="booking-form" method="post">
                                        <div class="row">
                                          @Html.ValidationSummary(true)
                                            <div class="col-md-6">
                                                <input type="text" name="form-name" id="form-name" placeholder="First Name" required>
                                            </div>
                                            <div class="col-md-6">
                                                <input type="text" name="form-surname" id="form-surname" placeholder="Last Name" required>
                                            </div>
                                            <div class="col-md-6">
                                                <input type="text" name="form-email" id="form-email" placeholder="Email" required>
                                            </div>
                                            <div class="col-md-6">
                                                <input type="text" name="form-phone" id="form-phone" placeholder="Phone" required>
                                            </div>
                                           
                                            <div class="col-md-12">
                                                <textarea cols="6" rows="3" name="form-requirements" id="form-requirements" placeholder="SPECIAL REQUIREMENTS"></textarea>
                                            </div>
                                            <div class="col-md-6">
                                                <input type="submit" value="Reserve Room" class="btn">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- Booking Form End -->
                        </div>
                        <div class="col-lg-4 col-md-5">
                            <!-- Booking Detail -->
                            <div class="booking-detail">
                                <h5><span>BOOKING DETAILS</span><span style="float:right; margin-top:-15px;"> <button id= "pbchoosefrm" class="btn">EDIT</button></span></h5>
                                <br />
                                <div class="detail-room">
                                    <div class="room-photo">
                                        <a href="#" data-background="../../Content/img/TowlabPix/SliderRoom1.JPG"></a>
                                    </div>
                                    <div class="room-desc">
                                        <h3><a href="#">@Session["roomtype"]</a></h3>
                                        <h4>@Session["price"]<small>PER NIGHT</small></h4>
                                    </div>
                                </div>
                                <div class="detail-info">
                                    <ul>
                                        <li>
                                            <label>CHECK IN</label>
                                            <p id="checkin">@Session["checkin"]</p>
                                        </li>
                                        <li>
                                            <label>CHECK OUT</label>
                                            <p id="checkout">@Session["checkout"]</p>
                                        </li>
                                        <li>
                                            <label>GUESTS</label>
                                            <p id="guest" >@Session["guest"]</p>
                                        </li>
                                        
                                        <li>
                                            <label>NIGHT</label>
                                            <p>@Session["nights"]</p>
                                        </li>
                                        
                                        <li class="total" style="border-bottom:none !important;">
                                            <label>TOTAL PRICE</label>
                                            <p>@Session["totalprice"]</p>
                                        </li>
                                       
                                    </ul>
                                </div>
                            </div>
                            <!-- Booking Detail End -->
                         
                        </div>
                    </div>

                    <div class="row">
                           <!-- Booking Help -->
                            <div class="booking-help">
                                <h2>Need Booking Help?</h2>
                                <p>If you need help with booking, Our advisor team are 24/7 at your service to help you.</p>
                                <p><a href="mailto:info@towlabsuites.com">info@towlabsuites.com</a></p>
                                <h3><i class="fa fa-phone-square"></i>+234 909 006 491</h3>
                            </div>
                            <!-- Booking Help End -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Section Booking End -->
</div>
<!-- Site Main End -->
    @Scripts.Render("~/bundles/jqueryval")