﻿@{
    ViewBag.Title = "unsubscribe";
    Layout = "~/Views/Shared/LayoutPlain.cshtml";
}


<!-- Site Main -->
<div class="site-main">
    <!-- Section Page Title -->
    <div class="section" >
        <div class="widget-page-title">
            <div class="widget-background" style="background:whitesmoke"></div>
            <div class="wrapper-inner">
                <!-- Title -->
                <h1>Un Subscribe</h1>
             
                <!-- Title End -->
             
            </div>
        </div>
    </div>
    <!-- BitVector32.Section Page Title End -->
    <section style="background:#fff" >
        <div class="wrapper-inner">
     <h3 >We hate to see you go.But not to worry, you can always subscribe again anytime to receive promotional content </h3>
            <br />
         
            <div id="message"></div>
             <br />
            <br />
        <a id="b" class="btn">Click here to un subscribe</a>
            </div>
        </section>
    </div>