﻿@{
    ViewBag.Title = "Rooms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Site Main -->
<div class="site-main">
    <!-- Section Page Title -->
    <div class="section">
        <div class="widget-page-title">
            <div class="widget-background" data-background="Content/img/towlabpix/slider2.jpg"></div>
            <div class="wrapper-inner">
                <!-- Title -->
                <h5>Find Your Perfect Fit</h5>
                <p> With 5 different types of rooms to choose from, you're guaranteed to find your perfect fit. Our rooms are built and designed with your ultimate comfort in mind. </p>
                <!-- Title End -->
        
            </div>
        </div>
    </div>
    <!-- Section Page Title End -->

    <!-- Section Rooms -->
    <div class="section">
        <div class="wrapper-inner">
            <!-- Rooms List -->
            <div class="widget-rooms-list">
                <div class="rooms-item">
                    <div class="item-photo">
                        <a href="#" data-background="../../Content/img/TowlabPix/standardroom1.JPG"></a>
                    </div>
                    <div class="item-desc">
                        <h2><a href="#">Standard Room</a></h2>
                        <p>Spacious with 4 ½ by 6 mattress, reading table, chair and scenic view.</p>
                        <div class="desc-features">
                            <ul>
                                <li><i class="fa fa-check"></i> BREAKFAST</li>
                                <li><i class="fa fa-check"></i> WI-FI</li>
                                <li><i class="fa fa-check"></i> HAIR DRYER</li>
                                <li><i class="fa fa-check"></i> LCD TV</li>
                                <li><i class="fa fa-check"></i> SHOWER AND TAB</li>
                                <li><i class="fa fa-check"></i> SECURITY SYSTEM</li>
                                <li><i class="fa fa-check"></i> AIR CONDITIONING</li>
                                <li><i class="fa fa-check"></i> MINI BAR</li>
                                <li><i class="fa fa-check"></i> TEA AND COFFEE SET</li>
                            </ul>
                        </div>
                    </div>
                    <div class="item-price">
                        <div class="price-inner">
                            
                            <h3>₦8,000 </h3>
                            <h5>PER NIGHT</h5>
                            <a class="rdlink" href="@Url.Action(
                                 controllerName: "Home", 
                                 actionName: "StandardRoom" 
                                 )" >ROOM DETAILS</a>
                            <br />
                            <br />
                            <a href="@Url.Action(
                                 controllerName: "Home", 
                                 actionName: "StandardRoom" 
                                 )" class="btn">Book Room</a>
                        </div>
                    </div>
                </div>
                <div class="rooms-item">
                    <div class="item-photo">
                         <a href="#" data-background="../../Content/img/TowlabPix/deluxeroom1.JPG"></a>
                    </div>
                    <div class="item-desc">
                        <h2><a href="#">Deluxe Room</a></h2>
                        <p>Spacious room with 6 by 6 mattress, reading table and chair.</p>
                        <div class="desc-features">
                            <ul>
                                <li><i class="fa fa-check"></i> BREAKFAST</li>
                                <li><i class="fa fa-check"></i> WI-FI</li>
                                <li><i class="fa fa-check"></i> HAIR DRYER</li>
                                <li><i class="fa fa-check"></i> LCD TV</li>
                                <li><i class="fa fa-check"></i> SHOWER AND TAB</li>
                                <li><i class="fa fa-check"></i> SECURITY SYSTEM</li>
                                <li><i class="fa fa-check"></i> AIR CONDITIONING</li>
                                <li><i class="fa fa-check"></i> MINI BAR</li>
                                <li><i class="fa fa-check"></i> TEA AND COFFEE SET</li>
                            </ul>
                        </div>
                    </div>
                    <div class="item-price">
                        <div class="price-inner">
                      
                            <h3>₦10,500</h3>
                            
                            <h5>PER NIGHT</h5>
                            <a class="rdlink" href="@Url.Action(
                                 controllerName: "Home", 
                                 actionName: "DeluxeRoom" 
                                 )" >ROOM DETAILS</a>
                            <br />
                            <br />
                            <a href="@Url.Action(
                                 controllerName: "Home", 
                                 actionName: "DeluxeRoom" 
                                 )" class="btn">Book Room</a>
                        </div>
                    </div>
                </div>
                <div class="rooms-item">
                    <div class="item-photo">
                         <a href="#" data-background="../../Content/img/TowlabPix/SliderRoom1.JPG"></a>
                    </div>
                    <div class="item-desc">
                        <h2><a href="#">Business Room</a></h2>
                        <p>Spacious room with 6.4 by 6mattress with, double guest chairs, stool, reading table.</p>
                        <div class="desc-features">
                            <ul>
                                <li><i class="fa fa-check"></i> BREAKFAST</li>
                                <li><i class="fa fa-check"></i> WI-FI</li>
                                <li><i class="fa fa-check"></i> HAIR DRYER</li>
                                <li><i class="fa fa-check"></i> LCD TV</li>
                                <li><i class="fa fa-check"></i> SHOWER AND TAB</li>
                                <li><i class="fa fa-check"></i> SECURITY SYSTEM</li>
                                <li><i class="fa fa-check"></i> AIR CONDITIONING</li>
                                <li><i class="fa fa-check"></i> MINI BAR</li>
                                <li><i class="fa fa-check"></i> TEA AND COFFEE SET</li>
                            </ul>
                        </div>
                    </div>
                    <div class="item-price">
                        <div class="price-inner">
                         
                            <h3>₦12,500</h3>
                           
                            <h5>PER NIGHT</h5>
                            <a class="rdlink" href="@Url.Action(
                                 controllerName: "Home", 
                                 actionName: "BusinessRoom" 
                                 )">ROOM DETAILS</a>
                            <br />
                            <br />
                            <a href="@Url.Action(
                                 controllerName: "Home", 
                                 actionName: "BusinessRoom" 
                                 )" class="btn">Book Room</a>
                        </div>
                    </div>
                </div>
                <div class="rooms-item">
                    <div class="item-photo">
                         <a href="#" data-background="../../Content/img/TowlabPix/SpecialRoom1.JPG"></a>
                    </div>
                    <div class="item-desc">
                        <h2><a href="#">Special Room</a></h2>
                        <p>Spacious room with 6.4 by 6 mattress, designed wall, reading table, guest chair, fancy reading lamps, and bed lamp.</p>
                        <div class="desc-features">
                            <ul>
                                <li><i class="fa fa-check"></i> BREAKFAST</li>
                                <li><i class="fa fa-check"></i> WI-FI</li>
                                <li><i class="fa fa-check"></i> HAIR DRYER</li>
                                <li><i class="fa fa-check"></i> LCD TV</li>
                                <li><i class="fa fa-check"></i> SHOWER AND TAB</li>
                                <li><i class="fa fa-check"></i> SECURITY SYSTEM</li>
                                <li><i class="fa fa-check"></i> AIR CONDITIONING</li>
                                <li><i class="fa fa-check"></i> MINI BAR</li>
                                <li><i class="fa fa-check"></i> TEA AND COFFEE SET</li>
                            </ul>
                        </div>
                    </div>
                    <div class="item-price">
                        <div class="price-inner">
                          
                            <h3>₦14,500</h3>
                         
                            <h5>PER NIGHT</h5>
                            <a class="rdlink" href="@Url.Action(
                                 controllerName: "Home", 
                                 actionName: "SpecialRoom" 
                                 )" >ROOM DETAILS</a>
                            <br />
                            <br />
                            <a href="@Url.Action(
                                 controllerName: "Home", 
                                 actionName: "SpecialRoom" 
                                 )" class="btn">Book Room</a>
                        </div>
                    </div>
                </div>
                 <div class="rooms-item">
                    <div class="item-photo">
                         <a href="#" data-background="../../Content/img/TowlabPix/luxurysuite1.JPG"></a>
                    </div>
                    <div class="item-desc">
                        <h2><a href="#">Luxury Suite</a></h2>
                        <p>Scenic view, guest sitting room with guest toilet, comfortable cushion chairs, bed room with king size mattress, and double exit doors.</p>
                        <div class="desc-features">
                            <ul>
                                <li><i class="fa fa-check"></i> BREAKFAST</li>
                                <li><i class="fa fa-check"></i> WI-FI</li>
                                <li><i class="fa fa-check"></i> HAIR DRYER</li>
                                <li><i class="fa fa-check"></i> LCD TV</li>
                                <li><i class="fa fa-check"></i> SHOWER AND TAB</li>
                                <li><i class="fa fa-check"></i> SECURITY SYSTEM</li>
                                <li><i class="fa fa-check"></i> AIR CONDITIONING</li>
                                <li><i class="fa fa-check"></i> MINI BAR</li>
                                <li><i class="fa fa-check"></i> TEA AND COFFEE SET</li>
                            </ul>
                        </div>
                    </div>
                    <div class="item-price">
                        <div class="price-inner">
                          
                            <h3>₦25,000</h3>
                         
                            <h5>PER NIGHT</h5>
                            <a class="rdlink" href="@Url.Action(
                                 controllerName: "Home", 
                                 actionName: "LuxurySuite" 
                                 )">ROOM DETAILS</a>
                            <br />
                            <br />
                            <a href="@Url.Action(
                                 controllerName: "Home", 
                                 actionName: "LuxurySuite" 
                                 )" class="btn">Book Room</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Rooms List End -->
      
        </div>
    </div>
    <!-- Section Rooms End -->
</div>
<!-- Site Main End -->