﻿@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Site Main -->
<div class="site-main">
 

    <!-- Section About Promo -->
    <div class="section">
        <div class="widget-page-title">
            <div class="widget-background" data-background="../../Content/img/TowlabPix/slider6.JPG"></div>
            <div class="wrapper-inner">
                <!-- Title -->
                <h1 class="themefontcolor">Know Us, Love Us</h1>
                <p>When you stay with us, you’re not just staying anywhere, you’re staying somewhere—within a vibrant community, 
                    in a unique hotel that combines authentic local experiences, 
                    modern design and intimate service with the peace of mind and consistency of staying with one of the world’s serene hotels</p>
                <!-- Title End -->
             
            </div>
        </div>
    </div>
    <!-- Section About Promo End -->

    <!-- Section About Grid -->
    @*<div class="section">
        <div class="widget-about-grid">
            <div class="wrapper-inner">
                <div class="widget-inner">
                    <div class="widget-item">
                        <!--<h5>ABOUT TOWLAB</h5>-->
                        <h2>Our Mission</h2>
                        <p>Simply put, Towlab Suites makes life better on the road. That’s because we believe that human, heartfelt connections are what make life worth living. So we come to work every day eager to lavish them on our guests and each other. It’s nice to have that on your daily “to do” list.</p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>*@
    <!-- Section About Grid End -->


    <!-- Section Features -->
    <div class="section">
        <div class="widget-features-carousel">
            <div class="wrapper-inner">
                <!-- Features Title -->
                <div class="widget-title">
                    <h3 class="themefontcolor">OUR SIGNATURE AMENITIES</h3>
                  
                    <p>Towlab suites has options for you. Reserve a spot for relaxation in our outdoor area or in the comfort of your room.
                         At the end of each day, 
                        relax with a thoughtfully selected red or white at our hosted evening wine hour and with other assorted drinks.</p>

                </div>
                <!-- Features Title End -->
                <!-- Features Carousel -->
                <div class="widget-carousel owl-carousel owl-theme">
                    <div class="features-item">
                        <div class="item-inner" data-background="../../Content/img/ico-coffee.png">
                            <h5>BREAKFAST</h5>
                        </div>
                    </div>
                    <div class="features-item">
                        <div class="item-inner" data-background="../../Content/img/ico-roomservice.png">
                            <h5>ROOM SERVICE</h5>
                        </div>
                    </div>
                    <div class="features-item">
                        <div class="item-inner" data-background="../../Content/img/ico-food.png">
                            <h5>BISTRO &amp; BAR</h5>
                        </div>
                    </div>
                    <div class="features-item">
                        <div class="item-inner" data-background="../../Content/img/ico-wifi.png">
                            <h5>WI-FI SERVICE</h5>
                        </div>
                    </div>
                    <div class="features-item">
                        <div class="item-inner" data-background="../../Content/img/ico-car.png">
                            <h5>FREE PARKING</h5>
                        </div>
                    </div>             
                    
                </div>
                <!-- Features Carousel End -->
            </div>
        </div>
    </div>
    <!-- Section Features End -->

    <!-- Section Video -->
    <div class="section">
        <div class="widget-video-full" data-background="../../Content/img/thumb-video-full.jpg">
            <div class="wrapper-inner">
                <!-- Video Title -->
                <div class="widget-title">
                   
                    <h2>Virtual Tour</h2>
                    <p>Take a Virtual Tour. Lets give you the opportunity to explore our beautiful hotel and the amenities it has to offer..</p>
                </div>
                <!-- Video Title End -->
                <!-- Video Content -->
                <div class="widget-inner">
                    <a href="~/Content/towlab_video.mp4" class="video-play popup-video"><i class="fa fa-play"></i></a>
                </div>
                <!-- Video Content End -->
            </div>
        </div>
    </div>
    <!-- Section Video End -->



    <!-- Section Testimonials -->
    <div class="section">
        <div class="widget-testimonials-carousel">
            <div class="wrapper-inner">
                <!-- Testimonials Title -->
                <div class="widget-title">
                    <h2>What our guests are saying ...</h2>
                </div>
                <!-- Testimonials Title End -->
                <!-- Testimonials Carousel -->
                 <div class="widget-carousel owl-carousel owl-theme">
                    <div class="testimonials-item">
                        <div class="item-comment">
                           This place just emits first class all the way...from the beautiful courtyards, 
                            to the amazing lobby and the restaurant with excellent food. 
                            My wedding reception was held here, couldn't have been happier. Their events room was just beautiful and roomy,  
                            wait staff super friendly and helpful. Thank you TowLab Suites! 
                             <h5 style="padding-top:15px; text-align: right">Alfred A.</h5>
                        </div>
                   
                    </div>
                    <div class="testimonials-item">
                        <div class="item-comment">
                            One of the best places to stay! The rooms were super clean and spacious.
                             We had breakfast and lunch at the on-site restaurant, such authentic tasty food. 
                            TowLab Suites is definitely my go to place next time I need a hotel. 
                            I'm looking forward to another awesome stay. Oh and I have to mention the very extremely helpful staff.   
                       <h5 style="padding-top:15px; text-align: right">Soji A.</h5>
                             </div>
                        
                    </div>
                    <div class="testimonials-item">
                        <div class="item-comment">
                                My colleagues and I really enjoyed our stay at the Towlab Suites. 
                             Decent place and very decent prices for the great quality of food and service you get..
                            The staff was excellent and very friendly. The food was absolutely great!
                              I will definitely stay here again. We already agreed this will be our next corporate event location. 
                            <h5 style="padding-top:15px; text-align: right">Abiodun O.</h5>
                        </div>
                        
                    </div>
                    <div class="testimonials-item">
                        <div class="item-comment">
                             I wished we had a longer stay at Towlab Suites. 
                            The whole atmosphere was extremely relaxing. Very pleasant little hotel to stay. 
                            We loved the food, and the staff was exceptional!
                             <h5 style="padding-top:15px; text-align: right">Gbenga O.</h5>
                        </div>
                        
                    </div>
                    <div class="testimonials-item">
                        <div class="item-comment">
                                Love the serenity of this place !!!especially the sit out bar - Very comfortable and relaxing.
                            Definitely will be here again in the nearest future
                            
                              <h5 style="padding-top:15px; text-align: right">Issa B.</h5>  
                        </div>
                       
                    </div>
                   
                    <div class="testimonials-item">
                        <div class="item-comment">
                                Conveniently located location,staff was very friendly and accommodating. 
                            Rooms were clean, spacious and modern  with room service reasonably priced meals! 
                              <h5 style="padding-top:15px; text-align: right">Roy.</h5>  
                        </div>
                       
                    </div>
                    
                   
                </div>
                <!-- Testimonials Carousel End -->
            </div>
        </div>
    </div>
    <!-- Section Testimonials End -->
</div>
<!-- Site Main End -->