﻿@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Site Main -->
<div class="site-main">
    <!-- Section Page Title -->
    <div class="section">
        <div class="widget-page-title">
            <div class="widget-background" data-background="../../Content/img/TowlabPix/restaurant1.JPG"></div>
            <div class="wrapper-inner">
                <!-- Title -->
                <h2 style="color:#e68134">We'd Love To Hear From You!</h2>
                <p>We welcome any questions, comments or suggestions you may have that will allow us to serve you better. Reaching us is easy by phone, email or regular mail. Please use any of the below options to contact us and one 
                    of our staff members will be happy to assist.</p>
                <!-- Title End -->
            </div>
        </div>
    </div>
    <!-- Section Page Title End -->

    <!-- Section Contact -->
    <div class="section">
        <div class="wrapper-inner">
            <div class="row">
                <div class="col-lg-6">
                    <!-- Contact Info -->
                    <div class="widget-contact-info">
                        <ul>
                            <li>
                                <h5>TOWLAB SUITES</h5>
                                <ul>
                                    <li>No 2 Irese Road, Akure Ondo state</li>
                                    <li>Phone:+234 090 900 6491</li>
                                    <li><a href="mailto:info@towlabsuites.com">info@towlabsuites.com  </a></li>
                                </ul>
                            </li>
                            <li>
                                <h5>RESERVATION</h5>
                                <ul>
                                    <li>Mrs. Ngozi - Director of Reservation</li>
                                    <li>Phone: +234 090 900 6491  </li>
                                    <li><a href="mailto:reservations@towlabsuites.com">reservations@towlabsuites.com</a></li>
                                </ul>
                            </li>
                            <li>
                                <h5>PUBLIC RELATIONS</h5>
                                <ul>
                                    <li>Mr David Babajide  - Public Relations Manager</li>
                                    <li>Phone: +34 080 609 05565</li>
                                    <li><a href="mailto:admin@towlabsuites.com">admin@towlabsuites.com</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- Contact Info End -->
                </div>
                <div class="col-lg-6">
                    <!-- Contact Form -->
                    <div class="widget-contact-form">
                       @Html.Raw(TempData["ContactMessage"]) 
                        <p>Please submit your inquiry below, you will receive a response from one of our friendly staff.</p>
                        <div class="data-form">
                            <form action="/Base/ContactUs" id="contact-form" method="post" >
                                <div class="row">
                                    <div class="col-md-6">
                                        <input type="text" id="form-firstname" name="form-firstname" placeholder="YOUR FIRST NAME" required>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" id="form-lastname" name="form-lastname" placeholder="YOUR LAST NAME" required>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" id="form2-email" name="form2-email" placeholder="YOUR EMAIL ADDRESS" required>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" id="form-phone" name="form-phone" placeholder="YOUR PHONE" required>
                                    </div>
                                    <div class="col-md-12">
                                        <textarea cols="6" rows="8" id="form-message" name="form-message" placeholder="YOUR MESSAGE" required></textarea>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="note">* Please fill in all of the required fields</p>
                                    </div>
                                    <div class="col-md-6 align-right">
                                        <input type="submit" value="Send Email" class="btn">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- Contact Form End -->
                </div>
                <div class="col-lg-12">
                    <!-- Contact Review -->
                 
                    <!-- Contact Review End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Section Contact End -->

    <!-- Section Map -->
    <div class="section">
        <div class="wrapper-full">
            <div class="widget-google-map">
                <!-- Google Map Title -->
                <div class="map-title">
                    <i class="fa fa-map-marker"></i>
                    <h5>MAP</h5>
                </div>
                <!-- Google Map Title End -->
                <!-- Google Map -->
                <div class="map-google"></div>
                <!-- Google Map End -->
            </div>
        </div>
    </div>
    <!-- Section Map End -->
</div>
<!-- Site Main End -->
