﻿@{
    ViewBag.Title = "Deluxe Room";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Site Main -->
<div class="site-main">
    <!-- Section Page Title -->
    <div class="section">
        <div class="widget-page-title">
            
                <div class="widget-breadcrumb rmdetailheader">
                    <ul>
                        <li><a href="@Url.Action(
                                 controllerName: "Home", 
                                 actionName: "Room" 
                                 )">Rooms</a></li>
                        <li>Deluxe Room</li>
                    </ul>
                </div>
                <!-- Breadcrumb End -->
            
       </div>
    </div>
    <!-- Section Page Title End -->

    <!-- Section Rooms Detail -->
    <div class="section" style="background-color:#fff !important">
        <div class="wrapper-inner">
            <div class="widget-rooms-detail">
                <div class="widget-inner">
                    <div class="row">
                        <div class="col-md-8">
                            <!-- Room Slider -->
                            <div class="room-slider">
                                <div  class="room-price"><span id="roomprice">₦10,500</span> <small>PER NIGHT</small></div>
                                <p id="roomtype" class="hidden"> Deluxe Room</p>
                                <div class="owl-carousel owl-theme owl-type1">
                                    <a href="../../Content/img/TowlabPix/DeluxeRoom1.JPG" data-background="../../Content/img/TowlabPix/DeluxeRoom1.JPG" title="Deluxe Room" class="popup-gallery"></a>
                                    <a href="../../Content/img/TowlabPix/DeluxeRoom2.JPG" data-background="../../Content/img/TowlabPix/DeluxeRoom2.JPG" title="Deluxe Room" class="popup-gallery"></a>
                                    <a href="../../Content/img/TowlabPix/DeluxeRoom3.JPG" data-background="../../Content/img/TowlabPix/DeluxeRoom3.JPG" title="Deluxe Room" class="popup-gallery"></a>
                                </div>
                            </div>
                            <!-- Room Slider End -->
                            <!-- Room Thumbnails -->
                            <div class="room-thumbnails">
                                <div class="owl-carousel">
                                    <a href="#" data-background="../../Content/img/TowlabPix/DeluxeRoom1.JPG" title="Deluxe Room"></a>
                                    <a href="#" data-background="../../Content/img/TowlabPix/DeluxeRoom2.JPG" title="Deluxe Room"></a>
                                    <a href="#" data-background="../../Content/img/TowlabPix/DeluxeRoom3.JPG" title="Deluxe Room"></a>
                                </div>
                            </div>
                            <!-- Room Thumbnails End -->
                            <!-- Room Description -->
                            <div class="room-desc">
                                <h5>ROOM DESCRIPTION</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac scelerisque leo. Curabitur sed ornare orci. Nulla molestie pretium libero quis tincidunt. Nullam at arcu vitae felis dignissim lacinia. Integer vitae ipsum quis dolor convallis tristique. Donec lectus ex, posuere id felis et, commodo viverra felis. Morbi aliquet, mauris ornare bibendum elementum, lectus ante posuere lorem, eu condimentum odio nunc nec justo. Quisque vel sapien molestie, ultricies lectus iaculis, gravida sem. Nullam laoreet ipsum eget nunc auctor, vitae imperdiet dui eleifend. Sed molestie facilisis sollicitudin. Cras tincidunt vestibulum metus, sed posuere dui.</p>
                                <p>Vivamus pharetra tortor et congue gravida. Cras erat libero, malesuada in lorem vel, fringilla finibus diam. Morbi sollicitudin placerat placerat. Nullam euismod cursus mattis. Donec sit amet imperdiet sem, vel molestie purus. Duis blandit pharetra ligula ac sodales. Quisque velit massa, congue quis dignissim id, ornare sed arcu.Phasellus id velit iaculis, vulputate magna in, feugiat felis. Nulla eu ligula quis ante venenatis dapibus. Nulla ut congue est. Maecenas diam felis, volutpat vel orci quis, sodales malesuada lectus. Sed id feugiat turpis. Quisque ac turpis id nibh varius pellentesque vitae vitae lacus.</p>
                            </div>
                            <!-- Room Description End -->
                        </div>
                        <br />
                        <div class="col-md-4">
                            <!-- Room Booking -->
                           <div class="room-booking">
                                <h5 style="text-align:center !important">Make a reservation</h5>
                                <div class="data-form">
                             
                                        <div class="row">
                                            <div class="col-md-12">
                                                <i class="fa fa-calendar-plus-o"></i>
                                                <input id="checkin" type="text" name="checkin" placeholder="CHECK IN" class="datepicker" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <i class="fa fa-calendar-plus-o"></i>
                                                <input id="checkout" type="text" name="checkout" placeholder="CHECK OUT" class="datepicker" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <i class="fa fa-caret-down"></i>
                                                <select name="guest" required>
                                                <option value="">Guest(s)</option>
                                        <option value="1">1 guest</option>
                                        <option value="2">2 guests</option>
                                        <option value="3">3 guests</option>
                                        <option value="4">4 guests</option>
                                        <option value="5">5 guests</option>
                                        <option value="6">6 guests</option>
                                        <option value="6+">6+ guests</option>
                                                </select>
                                            </div>
                                        </div>
                                      
                                        <div class="row">
                                            <div class="col-md-12">
                                                <button type="submit" class="btn abc">BOOK THIS ROOM</button>
                                            </div>
                                        </div>
                            
                                </div>
                            </div>
                            <!-- Room Booking End -->
                            <br />
                            <br />
                            <div class="room-features">
                                <h5 style="text-align:center !important">ROOM FEATURES</h5>
                                @*<h2>Room Features</h2>*@
                                <ul>
                                    <li><i class="fa fa-check"></i> BREAKFAST</li>
                                    <li><i class="fa fa-check"></i> WI-FI</li>
                                    <li><i class="fa fa-check"></i> HAIR DRYER</li>
                                    <li><i class="fa fa-check"></i> LCD TV</li>
                                    <li><i class="fa fa-check"></i> SHOWER AND TAB</li>
                                    <li><i class="fa fa-check"></i> SECURITY SYSTEM</li>
                                    <li><i class="fa fa-check"></i> AIR CONDITIONING</li>
                                    <li><i class="fa fa-check"></i> MINI BAR</li>
                                    <li><i class="fa fa-check"></i> TEA AND COFFEE SET</li>
                                </ul>
                            </div>
                            <!-- Room Features End -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Section Rooms Detail End -->
</div>
<!-- Site Main End -->
