﻿@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*@Model TowlabSuites.Models.photo*@

<!-- Site Main -->
<div class="site-main">
    <!-- Section Page Title -->
    <div class="section">
        <div class="widget-page-title">
            <div class="widget-background" data-background="../../Content/img/TowlabPix/outdoor4.JPG"></div>
            <div class="wrapper-inner">
                <!-- Title -->
                <h2 style="color:#e68134">A Picture is worth a 1000 words</h2>
                <p>
                 Get up-close and personal with our beautiful hotel conveniently located in the Ondo state. Browse our image gallery to discover our beautiful, spacious, rooms and suites, view our inviting meeting and events facilities and be wowed by images of our very delish cuisine and cocktails. It’s all just a click away..</p>
                <!-- Title End -->
             
            </div>
        </div>
    </div>
    <!-- Section Page Title End -->

    <!-- Section Gallery -->
    <div class="section">
        <div class="wrapper-inner">
            <!-- Gallery Filter -->
            <div class="widget-filter-top">
                <ul>
                    <li class="active"><a href="#" data-filter="*">ALL</a></li>
                    <li><a href="#" data-filter=".bar">BAR &amp; LOUNGE</a></li>
                    <li><a href="#" data-filter=".outdoor">Outdoor relaxation</a></li>
                    <li><a href="#" data-filter=".restaurant">RESTAURANT</a></li>
                    <li><a href="#" data-filter=".conference">CONFERENCE &amp Events</a></li>
                </ul>
            </div>
            <!-- Gallery Filter End -->
            <!-- Gallery List -->
            <div class="widget-gallery-grid">
                <div class="row">
                   @for (int i = 0; i < Model.Count; i++){
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 isotope-item @Model[i].photodesc">
                        <div class="gallery-item">
                            <a href="@Model[i].photourl" data-background="@Model[i].photourl" title="@Model[i].photodesc" class="popup-gallery"></a>
                        </div>
                    </div>
                   
                   }




                 
                </div>
            </div>
            <!-- Gallery List End -->
        </div>
    </div>
    <!-- Section Gallery End -->
</div>
<!-- Site Main End -->