﻿@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- Site Main -->
<div class="site-main">
    <!-- Section Slider -->
    <div class="section">
        <div class="widget-slider">
            <div class="wrapper-full">
                <!-- Slider Carousel -->
                <div class="widget-carousel owl-carousel owl-theme">
                 
                    <div class="slider-item" data-background="Content/img/towlabpix/slider7.jpg">

                        <div class="wrapper">
                            <div class="item-inner">
                            
                            </div>
                        </div>
                    </div>
                    <div class="slider-item" data-background="Content/img/towlabpix/outdoor2.jpg">
                        <div class="wrapper">
                            <div class="item-inner">
                            
                                
                            </div>
                        </div>
                    </div>
                 <div class="slider-item" data-background="Content/img/towlabpix/slider2.jpg">
                        <div class="wrapper">
                            <div class="item-inner">
                          
                                
                            </div>
                        </div>
                    </div>
                    <div class="slider-item" data-background="Content/img/towlabpix/slider4.jpg">

                        <div class="wrapper">
                            <div class="item-inner">
                          
                            </div>
                        </div>
                    </div>
                    
                    
                </div>
                <!-- Slider Carousel End -->
                <!-- Slider Booking -->
                <div class="slider-booking">
                    <div class="wrapper">
                        <!--<h5>BOOK YOUR HOTEL NOW</h5>-->
                      
                            <ul id="initreserveform">
                                <li>
                                    <i class="fa fa-calendar-plus-o"></i>
                                    <input id="checkin" type="text" name="checkin" placeholder="CHECK IN" class="datepicker"  required >
                                </li>
                                <li>
                                    <i class="fa fa-calendar-plus-o"></i>
                                    <input id="checkout" type="text" name="checkout" placeholder="CHECK OUT" class="datepicker" required>
                                </li>
                                <li>
                                    <i class="fa fa-caret-down"></i>
                                    <select id="guest" name="guest" required>
                                        <option value="">Guests</option>
                                        <option value="1">1 guest</option>
                                        <option value="2">2 guests</option>
                                        <option value="3">3 guests</option>
                                        <option value="4">4 guests</option>
                                        <option value="5">5 guests</option>
                                        <option value="6">6 guests</option>
                                        <option value="6+">6+ guests</option>
                                    </select>
                                    <input id="guesttext" type="text" name="guesttext"  class="hidden">
                                </li>
          
                                <li>
                                    <button id="initreservebtn"  class="btn">BOOK NOW</button>
                                </li>
                            </ul>
                      
                    </div>
                </div>
                <!-- Slider Booking End -->
           </div>
        </div>
    </div>
  
    <!-- Section Slider End -->

 

    <!-- Section About Promo -->
    <div class="section">
        <div class="widget-about-promo" data-background="Content/img/towlabpix/Home_About.jpg">
            <div class="wrapper-inner">
                <div class="widget-inner">
                    <div class="row">
                        <div class="col-md-6">
                        
                            <h2 class="themefontcolor">Your Perfect Escape</h2>
                            <p>We’ve all heard it before – “You get what you pay for.” 
                                What if you could enjoy a luxurious boutique stay in Akure for less? 
                                That’s called “winning.”With Towlab Suites, All You Do Is Win with the luxury rooms and competitive prices.
                                We have all it takes to make your stay a memorable one. 
                                <br />
                                At Towlab Suites®, we create sophisticated spaces designed to expand the mind and spark new ways of thinking. 
                         
                                </p>
                            <br />
                            <br />
                               <h3 style="text-align:center"> <strong>Book with us today</strong> - You will never regret it</h3>



                            <a href="/About" class="btn">LEARN MORE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Section About Promo End -->

     <!-- Section Gallery -->
    <div class="section">
      
        <div class="widget-gallery-carousel">
            <div class="wrapper-inner">
                <!-- Gallery Title -->
                <div class="widget-title" style="padding-top:40px">
             
                    <h2 class="themefontcolor">Discover Towlab Suites</h2>
                    
                    <p style="padding-bottom:50px;">From the outdoor relaxation to the exquisite restaurant featuring great Nigerian and continental dishes, 
                        there's always an exciting time for everyone at Towlab Suites. Families will enjoy all day entertainment with a focus on cultural activities 
                        and guided tours to renowned  tourism site at Ikogosi arm Springs, Eri-Ijesa Waterfalls, Idanre Hills 
                        and the Smoking Golf Resort, Ilara.</p>
                </div>
                <!-- Gallery Title End -->
                <!-- Gallery Carousel -->
                <div class="widget-carousel owl-carousel owl-theme">
         
                    <div class="gallery-item">
                        <a href="/Services" data-background="Content/img/towlabpix/slider8.jpg" title="Photo Name" class="">
                            <span class="item-text">Bar &amp; Lounge</span>
                        </a>
                    </div>
                    <div class="gallery-item">
                        <a href="/Services" data-background="Content/img/towlabpix/home_restaurant.jpg" title="restaurant" class="">
                            <span class="item-text">Restaurant</span>
                        </a>
                    </div>
                 
                    <div class="gallery-item">
                        <a href="/Services" data-background="Content/img/towlabpix/outdoor3.jpg" title="outdoor" class="">
                            <span class="item-text">Outdoor Relaxation</span>
                        </a>
                    </div>

                       <div class="gallery-item">
                        <a href="/Services" data-background="Content/img/towlabpix/conference1.jpg" title="Conference room" class="">
                            <span class="item-text">Conference &amp; Events</span>
                        </a>
                    </div>

                    <div class="gallery-item">
                        <a href="/Services" data-background="Content/img/towlabpix/home_lodging.jpg" title="lodging" class="">
                            <span class="item-text">Lodging</span>
                        </a>
                    </div>
                </div>

                <!-- Gallery Carousel End -->
            </div>
        </div>
          
    </div>
    <!-- Section Gallery End -->

    <!-- Section Video -->
    <br />
    <br />
  
   
     <div class="widget-title" style=" padding-top:30px;">
   
                 <h2 class="themefontcolor">Virtual Tour</h2> 
         <p>Seeing is believing. Right? Take a Virtual Tour. Lets give you the opportunity to explore our beautiful hotel and the amenities it has to offer..
             <br /> Enjoy </p>
                </div>
   
    <div class="section">

        <div class="widget-video-full" data-background="Content/img/towlabpix/slider7_2.jpg" style="opacity:0.3;background-position:center,bottom">
            
            <div class="wrapper-inner">
                <!-- Video Title -->
              
     <div class="widget-title" style=" margin:50px;">
   
                  
                </div>
      
                <!-- Video Title End -->
                <!-- Video Content -->
                <div class="widget-inner">
                    <a href="~/Content/towlab_video.mp4" class="video-play popup-video"><i class="fa fa-play"></i></a>
                </div>
                <!-- Video Content End -->
            </div>
         
        </div>
    </div>
    <!-- Section Video End -->

  

    <!-- Section Testimonials -->
    <div class="section">
        <div class="widget-testimonials-carousel">
            <div class="wrapper-inner">
                <!-- Testimonials Title -->
                
                <!-- Testimonials Title End -->
                <!-- Testimonials Carousel -->
                <div class="widget-carousel owl-carousel owl-theme">
                    <div class="testimonials-item">
                        <div class="item-comment">
                           This place just emits first class all the way...from the beautiful courtyards, 
                            to the amazing lobby and the restaurant with excellent food. 
                            My wedding reception was held here, couldn't have been happier. Their events room was just beautiful and roomy,  
                            wait staff super friendly and helpful. Thank you TowLab Suites! 
                             <h5 style="padding-top:15px; text-align: right">Alfred A.</h5>
                        </div>
                   
                    </div>
                    <div class="testimonials-item">
                        <div class="item-comment">
                            One of the best places to stay! The rooms were super clean and spacious.
                             We had breakfast and lunch at the on-site restaurant, such authentic tasty food. 
                            TowLab Suites is definitely my go to place next time I need a hotel. 
                            I'm looking forward to another awesome stay. Oh and I have to mention the very extremely helpful staff.   
                       <h5 style="padding-top:15px; text-align: right">Soji A.</h5>
                             </div>
                        
                    </div>
                    <div class="testimonials-item">
                        <div class="item-comment">
                                My colleagues and I really enjoyed our stay at the Towlab Suites. 
                             Decent place and very decent prices for the great quality of food and service you get..
                            The staff was excellent and very friendly. The food was absolutely great!
                              I will definitely stay here again. We already agreed this will be our next corporate event location. 
                            <h5 style="padding-top:15px; text-align: right">Abiodun O.</h5>
                        </div>
                        
                    </div>
                    <div class="testimonials-item">
                        <div class="item-comment">
                             I wished we had a longer stay at Towlab Suites. 
                            The whole atmosphere was extremely relaxing. Very pleasant little hotel to stay. 
                            We loved the food, and the staff was exceptional!
                             <h5 style="padding-top:15px; text-align: right">Gbenga O.</h5>
                        </div>
                        
                    </div>
                    <div class="testimonials-item">
                        <div class="item-comment">
                                Love the serenity of this place !!!especially the sit out bar - Very comfortable and relaxing.
                            Definitely will be here again in the nearest future
                            
                              <h5 style="padding-top:15px; text-align: right">Issa B.</h5>  
                        </div>
                       
                    </div>
                   
                    <div class="testimonials-item">
                        <div class="item-comment">
                                Conveniently located location,staff was very friendly and accommodating. 
                            Rooms were clean, spacious and modern  with room service reasonably priced meals! 
                              <h5 style="padding-top:15px; text-align: right">Roy.</h5>  
                        </div>
                       
                    </div>
                    
                   
                </div>
                <!-- Testimonials Carousel End -->
            </div>
        </div>
    </div>
    <!-- Section Testimonials End -->
</div>
<!-- Site Main End -->