﻿@{
    ViewBag.Title = "Room Type";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Site Main -->
<div class="site-main">
    <!-- Section Page Title -->
    <div class="section">
        <div class="widget-page-title">
            <div class="widget-background" data-background="@Model[0].roombannerphoto"></div>
            <div class="wrapper-inner">
                <!-- Title -->
                <h1>@Model[0].shortdesc</h1>
                <p>@Model[0].longdesc</p>
                <!-- Title End -->
                <!-- Breadcrumb -->
                <div class="widget-breadcrumb">
                    <ul>
                        <li><a href="/Room">Rooms</a></li>
                        <li>@Model[0].shortdesc</li>
                    </ul>
                </div>
                <!-- Breadcrumb End -->
            </div>
        </div>
    </div>
    <!-- Section Page Title End -->

    <!-- Section Rooms Detail -->
    <div class="section">
        <div class="wrapper-inner">
            <div class="widget-rooms-detail">
                <div class="widget-inner">
                    <div class="row">
                        <div class="col-md-8">
                            <!-- Room Slider -->
                            <div class="room-slider">
                                <div  class="room-price"><span id="roomprice">@Model[0].roomrate</span> <small>PER NIGHT</small></div>
                                <div class="owl-carousel owl-theme owl-type1">
                                   
                                    @foreach (string a in Model[0].roomphotolist.Split(';'))
                                {
                                <a href="@a" data-background="@a" title="@Model[0].shortdesc" class="popup-gallery"></a>
                                }
                        
                                </div>
                            </div>
                            <!-- Room Slider End -->
                            <!-- Room Thumbnails -->
                            <div class="room-thumbnails">
                                <div class="owl-carousel">
                                    @foreach (string a in Model[0].roomphotolist.Split(';'))
                                {
                                <a href="@a" data-background="@a" title="@Model[0].shortdesc"></a>
                                }
                                  
                                </div>
                            </div>
                            <!-- Room Thumbnails End -->
                            <!-- Room Description -->
                          @*  <div class="room-desc">
                                <h5>ROOM DESCRIPTION</h5>
                                <p>@Model[0].detaildesc</p>
                            </div>*@
                            <!-- Room Description End -->
                        </div>
                        
                        <div class="col-md-4">
                            <!-- Room Booking -->
                            <div class="room-booking" style="border:10px solid #fff; background:#e8e8e8">
                                <h5 style="text-align:center !important">Make a reservation</h5>
                                <div class="data-form">
                             <p id="roomtype" class="hidden">@Model[0].shortdesc</p>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <i class="fa fa-calendar-plus-o"></i>
                                                <input id="checkin" type="text" name="checkin" placeholder="CHECK IN" class="datepicker" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <i class="fa fa-calendar-plus-o"></i>
                                                <input id="checkout" type="text" name="checkout" placeholder="CHECK OUT" class="datepicker" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <i class="fa fa-caret-down"></i>
                                                <select name="guest" required>
                                                <option value="">Guest(s)</option>
                                        <option value="1">1 guest</option>
                                        <option value="2">2 guests</option>
                                        <option value="3">3 guests</option>
                                        <option value="4">4 guests</option>
                                        <option value="5">5 guests</option>
                                        <option value="6">6 guests</option>
                                        <option value="6+">6+ guests</option>
                                                </select>
                                            </div>
                                        </div>
                                      
                                        <div class="row">
                                            <div class="col-md-12">
                                                <button type="submit" class="btn abc">BOOK THIS ROOM</button>
                                            </div>
                                        </div>
                            
                                </div>
                            </div>
                            <!-- Room Booking End -->
                            <br />
                            <br />
                            <!-- Room Features -->
                            <div class="room-features"  style="border:10px solid #fff; background:#e8e8e8">
                                <h5 style="text-align:center">ROOM FEATURES</h5>
                                @*<h2>Room Features</h2>*@
                                <ul>
                                    @foreach (string a in Model[0].roomfeaturelist.Split(';'))
                                {
                                <li><i class="fa fa-check"></i>@a</li>
                                }
                                
                                </ul>
                            </div>
                            <!-- Room Features End -->
                        </div>
                   
                   
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Section Rooms Detail End -->
</div>
<!-- Site Main End -->
