﻿@{
    ViewBag.Title = "Room";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@*@Model TowlabSuites.Models.roomsinfo;*@

@*<h2>_roomDemo</h2>*@


<!-- Site Main -->
<div class="site-main">
    <!-- Section Page Title -->
    <div class="section">
        <div class="widget-page-title">
            <div class="widget-background" data-background="Content/img/towlabpix/home_lodging.jpg"></div>
            <div class="wrapper-inner">
                <!-- Title -->
                <h2 class="themefontcolor">FIND YOUR PERFECT FIT</h2>
                <p>With 5 different types of rooms to choose from, you're guaranteed to find your perfect fit. Our guestrooms are built and designed with your ultimate comfort in mind. 
                  Each room features plush bedding, flexible work spaces, hard surface flooring with area rugs and artwork that reflects the unique culture and character.<!-- Title End -->
                 <br /><br />Browse below to see what each type of room uniquely offers and which one best suits your needs.</p>
            </div>
        </div>
    </div>
    <!-- Section Page Title End -->

        <!-- Section Rooms -->
    <div class="section">
        <div class="wrapper-inner">
            <!-- Rooms List -->
            <div class="widget-rooms-list">
                 @for (int i = 0; i < Model.Count; i++)
                 
                    {
                <div class="rooms-item">
                    <div class="item-photo">
                        <a href="#" data-background="@Model[i].roomphoto"></a>
                    </div>
                   
                    <div class="item-desc">
                        <h2><a href="#">@Model[i].shortdesc</a></h2>
                        <p>@Model[i].longdesc</p>
                        <div class="desc-features">
                            <ul>
                                @foreach (string a in Model[i].roomfeaturelist.Split(';'))
                                {
                                <li><i class="fa fa-check"></i>@a</li>
                                }
                                
                            </ul>
                        </div>
                    </div>
                  
                    <div class="item-price">
                        <div class="price-inner">
                            
                            <h3>@Model[i].roomrate</h3>
                            <h5>PER NIGHT</h5>
                            <a class="rdlink" href="@Model[i].roomdetailurl" >ROOM DETAILS</a>
                            <br />
                            <br />
                            <a href="@Model[i].roomdetailurl" class="btn">Book Room</a>
                        </div>
                    </div>
                </div>
                 }
 </div>
                 

            </div>
        </div>
    </div>