﻿@{
    ViewBag.Title = "Amenities";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Site Main -->
<div class="site-main">
    <!-- Section Page Title -->
    <div class="section">
        <div class="widget-page-title">
            <div class="widget-background" data-background="Content/img/towlabpix/outdoor4.jpg"></div>
            <div class="wrapper-inner">
                <!-- Title -->
                <h2 class="themefontcolor">The TowLab Experience, A different way to stay.</h2>
                <h3> </h3>
                <p>Get refreshed and reenergized with your state of the art amenities and exceptional services provided by Towlab Suites.
                    
                    From outdoor relaxation to full service bar , we believe you have everything to make your stay enjoyable.
                </p>
                <!-- Title End -->
              
            </div>
        </div>
    </div>
    <!-- Section Page Title End -->

    <!-- Section Services -->
    <div class="section">
        <div class="wrapper-inner">
            <!-- Services List -->
            <div class="widget-services-list">
                <div class="services-item">
                    <div class="item-photo">
                        <div class="photo-big" data-background="Content/img/towlabpix/cocktail.jpg"></div>
                        <div class="photo-small" data-background="Content/img/towlabpix/bar9.jpg"></div>
                      
                    </div>
                    <div class="item-desc">
                        <h3 class="themefontcolor" >Bar &amp; Lounge</h3>
                        <p> Need a place to unwind after a conference or meeting? Want to catch up with colleagues and friends over drinks? Hurdling up to  watch the game of the week? 
                         The bar at Towlab Suites is well equipped to provide all your need for your relaxation pleasure. Our bartenders love what they do and it shows! </p>
                    </div>
                </div>
                <div class="services-item">
                    <div class="item-photo">
                        <div class="photo-big" data-background="Content/img/towlabpix/africanchef.jpg"></div>
                        <div class="photo-small" data-background="Content/img/towlabpix/restaurant8.jpg"></div>
                      
                    </div>
                    <div class="item-desc">
             
                        <h3 class="themefontcolor">Restaurant &amp Private Dining</h3>
                        <p>We understand that having a perfect stay goes beyond clean sheets and spacious rooms. This is why creativity and passion are always on our restaurant's menu. When you stay at Towlab Suites, you're just in the right spot to dine, wine and unwind. Get a taste of traditional cuisine or an assortment of continental dishes lovingly prepared by creative chefs. 
                           <p></p>
                      
                    </div>
                </div>
              
                <div class="services-item">
                    <div class="item-photo">
                        <div class="photo-big" data-background="Content/img/towlabpix/outdoor3.jpg"></div>
                        <div class="photo-small" data-background="Content/img/towlabpix/outdoor4.jpg"></div>
                    </div>
                    <div class="item-desc">
                        <h3 class="themefontcolor">Outdoor Relaxation</h3>
<p>We invite you to immerse yourself and relax in our beautiful, breezy outdoor patio. Here you can enjoy a meal, have some drinks, chit chat with other guest or simply enjoy a quiet and peaceful time by yourself, our outdoor environment does it all. O
    ur staff are available to serve you, making sure your outdoor time is pleasant and memorable.</p>                    </div>
                </div>

                  <div class="services-item">
                    <div class="item-photo">
                        <div class="photo-big" data-background="Content/img/towlabpix/conference1.jpg">></div>
                        <div class="photo-small" data-background="Content/img/towlabpix/conference1.jpg">></div>
    
                    </div>
                    <div class="item-desc">
    
                        <h3 class="themefontcolor">Conference &amp; Events</h3>
                        <p>Our events venue is designed to impress. Whether it's a corporate meeting, wedding reception, 
                            wedding engagement, birthdays, retirement party, private party or fundraiser event, at Towlab Suites 
                            we set you and your guests up to celebrate in style.
                             Our meticulous team considers every detail to ensure your guests are wined, dined and wowed.
                    </div>
                </div>
              
            </div>
            <!-- Services List End -->
        </div>
    </div>
    <!-- Section Services End -->
</div>
<!-- Site Main End -->