﻿
@{
    ViewBag.Title = "ZionPortal Schedule - Zion Portal";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div class="inner-wrapper" style="background:#ffffff">

    <section role="main" class="content-body">
        <div>
            <h1>Employee Profile</h1>
        </div>
        <hr />

        <!-- start: page -->

        <div class="row">
            <div style="width:90%;margin:0 auto;">
                <div id="btn" style="float:right;margin-bottom:20px;"></div>
                <div id="summary"></div>

                <div id="form" style="margin:10px auto;" class="center">

                </div>


            </div>
        </div>
        <div class="row">
            <div class="demo-container">
                <div id="reportpopup"></div>
            </div>
        </div>




        <!-- end: page -->
    </section>

</div>




