﻿
@model IEnumerable<Microsoft.Graph.Team>

@{
    ViewBag.Current = "Calendar";
}

<h1>Calendar</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Organizer</th>
            <th scope="col">Subject</th>
            <th scope="col">Start</th>
            <th scope="col">End</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.WebUrl</td>
            <td>@item.</td>
            @*<td>@Convert.ToDateTime(item.Start.DateTime).ToString("M/d/yy h:mm tt")</td>
        <td>@Convert.ToDateTime(item.End.DateTime).ToString("M/d/yy h:mm tt")</td>*@
        </tr>
        }
    </tbody>
</table>

