﻿<!DOCTYPE html>
<html lang="en">
    <head>
       
  

        <!-- Basic Page Head -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>@ViewBag.Title - Towlab Suites</title>
<meta name="description" content="Responsive Hotel Template">
<meta name="author" content="AcePointe - AcePointe.com">
<meta name="keywords" content="hotel, hostel, motel, guesthouse, booking, accommodation, inn, spa, resort, travel, holiday, tourism, vacation, bootstrap, responsive">

<!-- Mobile Meta -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

<!-- Favicons -->

 
        <link href="~/Content/img/TowlabPix/TowlabSuitesFav.png" rel="shortcut icon" type="image/x-icon" />
         @Styles.Render("~/Content/img/apple-touch-icon.png")
         @Styles.Render("~/Content/img/apple-touch-icon-76x76.png")
         @Styles.Render("~/Content/img/apple-touch-icon-120x120.png")
         @Styles.Render("~/Content/img/apple-touch-icon-152x152.png")
         @Styles.Render("~/Content/img/apple-touch-icon-167x167.png")
         @Styles.Render("~/Content/img/apple-touch-icon-180x180.png")
         @Styles.Render("~/Content/img/apple-touch-icon-180x180.png")
         @Styles.Render("~/Content/css/bootstrap.min.css")
         @Styles.Render("~/Content/css/font.awesome.min.css")
         @Styles.Render("~/Content/css/magnific.popup.css")
         @Styles.Render("~/Content/css/owl.carousel.css")
         @Styles.Render("~/Content/css/owl.theme.default.css")
         @Styles.Render("~/Content/css/jquery-ui.css")
         @Styles.Render("~/Content/css/owl.theme.default.css")
         @Styles.Render("~/Content/css/jquery-ui.css")

         @Styles.Render("~/Content/css/style.css")
         @Styles.Render("~/Content/css/responsive.css")
         @Styles.Render("~/Content/css/jquery-confirm.css")
         @Styles.Render("~/Content/css/TLS.css")

         @Styles.Render("https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700,700italic,900,900italic&amp;subset=latin,latin-ext")
         @Styles.Render("https://fonts.googleapis.com/css?family=Lato:300,400,700,900&amp;subset=latin,latin-ext")

  
        @Scripts.Render("~/bundles/modernizr")  
    
    </head>
    <body>
      <!-- Site Loading -->
<div class="site-loading">
	<img src="Content/img/loading.gif" alt="Loading">
</div>
<!-- Site Loading End -->

<!-- Site Back Top -->
<div class="site-backtop" title="Back to top">
	<i class="fa fa-angle-up"></i>
</div>
<!-- Site Back Top End -->

<!-- Site Header -->
<div class="site-header layoutbg">
    <!-- Header Top -->
    <div class="header-top">
        <div class="wrapper">
            <div class="header-contact">
                <ul>
                   <li class="fa fa-phone"><strong>+234 909 006 491</strong></li> 
                    
                </ul>
            </div>
            <div class="header-lang">
                <ul>
@*                    <li><a class="" href=#" style="text-transform:lowercase; font-weight:normal; color:#fff; text-decoration:underline">Check reservation</a></li>*@
                 <li><a href="/Base/checkreservation" style="text-transform:lowercase; font-weight:normal; color:#fff; text-decoration:underline"><i></i>Check reservation</a></li>
                    
                    @* <li><a href="#" target="_blank"><i class="fa fa-facebook" ></i></a></li>
                    <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>*@
                </ul>
            </div>
        </div>
    </div>
    <!-- Header Top End -->
    <!-- Header Bottom -->
    <div class="header-bottom">
        <div class="wrapper">
            <div class="header-logo">
                <a href="@Url.Action(
                                 controllerName: "Home", 
                                 actionName: "Index" 
                                 )"><img src="~/Content/img/TowlabPix/TowlabSuiteslogoFinal.png" alt="Towlab Suites"></a>
            </div>
            <div class="header-nav">
                <ul class="nav-left">
                    <li><a href="@Url.Action(
                                 controllerName: "Home", 
                                 actionName: "Index" 
                                 )">HOME</a></li>

                    <li><a href="@Url.Action(
                                 controllerName: "Home", 
                                 actionName: "getRoomView" 
                                 )">ROOMS</a></li>

                     <li><a href="@Url.Action(
                                 controllerName: "Home", 
                                 actionName: "Services" 
                                 )">SERVICES</a></li>
                </ul>
                <ul class="nav-right">
                     <li><a href="@Url.Action(
                                 controllerName: "Home", 
                                 actionName: "Gallery" 
                                 )">PHOTOS</a></li>
                    <li><a href="@Url.Action(
                                 controllerName: "Home", 
                                 actionName: "About" 
                                 )">ABOUT US</a></li>
                    <li><a href="@Url.Action(
                                 controllerName: "Home", 
                                 actionName: "Contact" 
                                 )">CONTACT</a></li>
                </ul>
            </div>
            <div class="header-toggle">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </div>
    <!-- Header Bottom End -->
</div>
<!-- Site Header End -->
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
      
<!-- Site Footer -->
<div class="site-footer">
    <!-- Footer Top -->
    <div class="footer-top layoutbg">
        <div class="wrapper">
            <div class="row">
                <div class="col-lg-4">
                    <h5>FOLLOW Towlab</h5>
                    <div class="widget-social-icons">
                        <ul>
                            <li><a href="https://www.facebook.com/towlabsuitesakure/?ref=br_tf" target="_blank"><i class="fa fa-facebook" style="color:#ff6a00"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-twitter" style="color:#ff6a00"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-google-plus" style="color:#ff6a00"></i></a></li>
                        </ul>
                    </div>
                </div>
                
                <div class="col-lg-4">
            <div class="footer-contact">
                 <h5>Contact Us</h5>
                 <div class="widget-newsletter">
                <ul style="color:#fff;">
                    <li><i class="fa fa-phone" style="color:#ff6a00"></i> +234 909 006 491</li> 
                    <li><a  style="color:#fff" href="mailto:info@towlabsuites.com"><i class="fa fa-paper-plane" style="color:#ff6a00"></i> info@towlabsuites.com</a></li>
        
                    <li><i class="fa fa-map-marker" style="color:#ff6a00"></i>Km 3 Owo- Ilesha express way,Ondo State</li>
                    
                    
                </ul>
                     </div>
            </div>
                 </div>

                <div class="col-lg-4">
                    <h5>Be the first to know</h5>
                    <div class="widget-newsletter">
                      
                            <input type="text" id="form-email" name="form-email" placeholder="Email Address" required>
                            <button id="promoemailsubmit"><i class="fa fa-paper-plane"></i></button>
               
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Top End -->
    <!-- Footer Bottom -->
    <div class="footer-bottom">
        <div class="wrapper">
            <div class="footer-copyright" style="margin-top:10px;">
                <p style="text-align:center">© Towlab Suites. Designed by AcePointe</p>
            </div>
             @*<div class="col-lg-6">
            <div class="footer-copyright" style="margin-top:10px;">
                <p style="text-align:left">copyright © Towlab Suites</p>
            </div>
                 </div>
             <div class="col-lg-6">
                  <div class="footer-copyright" style="margin-top:10px;">
                <p style="text-align:right">Designed by AcePointe</p>
            </div>
            
                 </div>*@
            
        </div>
    </div>
    <!-- Footer Bottom End -->
<!-- Site Footer End -->
  </div>


<!-- Scripts -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
@Scripts.Render("~/Content/js/jquery-ui.min.js")
@Scripts.Render("~/Content/js/jquery.fitvids.js")
@Scripts.Render("~/Content/js/bootstrap.min.js")
@Scripts.Render("~/Content/js/magnific.popup.min.js")
@Scripts.Render("~/Content/js/imagesloaded.pkgd.js")
@Scripts.Render("~/Content/js/isotope.pkgd.min.js")
@Scripts.Render("~/Content/js/owl.carousel.min.js")
@Scripts.Render("https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyDAYkEPCiFqkryp34UZPqx3cWuK5Kii_JI")
@Scripts.Render("~/Content/js/gmap3.min.js")
        
@Scripts.Render("~/Content/js/custom.js")
@Scripts.Render("~/Content/js/json2.js")

@Scripts.Render("~/Content/js/jquery-confirm.js")
@Scripts.Render("~/Content/js/tls.js")

   
    </body>
</html>
