﻿<!DOCTYPE html>
<html lang="en">
    <head>
       
  

        <!-- Basic Page Head -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>@ViewBag.Title - Towlab Suites</title>
<meta name="description" content="Responsive Hotel Template">
<meta name="author" content="AcePointe - AcePointe.com">
<meta name="keywords" content="hotel, hostel, motel, guesthouse, booking, accommodation, inn, spa, resort, travel, holiday, tourism, vacation, bootstrap, responsive">

<!-- Mobile Meta -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

<!-- Favicons -->

 
        <link href="~/Content/img/TowlabPix/TowlabSuitesFav.png" rel="shortcut icon" type="image/x-icon" />
         @Styles.Render("~/Content/img/apple-touch-icon.png")
         @Styles.Render("~/Content/img/apple-touch-icon-76x76.png")
         @Styles.Render("~/Content/img/apple-touch-icon-120x120.png")
         @Styles.Render("~/Content/img/apple-touch-icon-152x152.png")
         @Styles.Render("~/Content/img/apple-touch-icon-167x167.png")
         @Styles.Render("~/Content/img/apple-touch-icon-180x180.png")
         @Styles.Render("~/Content/img/apple-touch-icon-180x180.png")
         @Styles.Render("~/Content/css/bootstrap.min.css")
         @Styles.Render("~/Content/css/font.awesome.min.css")
         @Styles.Render("~/Content/css/magnific.popup.css")
         @Styles.Render("~/Content/css/owl.carousel.css")
         @Styles.Render("~/Content/css/owl.theme.default.css")
         @Styles.Render("~/Content/css/jquery-ui.css")
         @Styles.Render("~/Content/css/owl.theme.default.css")
         @Styles.Render("~/Content/css/jquery-ui.css")

         @Styles.Render("~/Content/css/style.css")
         @Styles.Render("~/Content/css/responsive.css")
         @Styles.Render("~/Content/css/TLS.css")

         @Styles.Render("https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700,700italic,900,900italic&amp;subset=latin,latin-ext")
         @Styles.Render("https://fonts.googleapis.com/css?family=Lato:300,400,700,900&amp;subset=latin,latin-ext")

  
        @Scripts.Render("~/bundles/modernizr")  
    
    </head>
    <body>
      <!-- Site Loading -->
<div class="site-loading">
	<img src="Content/img/loading.gif" alt="Loading">
</div>
<!-- Site Loading End -->

<!-- Site Back Top -->
<div class="site-backtop" title="Back to top">
	<i class="fa fa-angle-up"></i>
</div>
<!-- Site Back Top End -->

<!-- Site Header -->
<div class="site-header layoutbg">
    <!-- Header Top -->
    <div class="header-top">
        <div class="wrapper">
            <div class="header-contact">
                <ul>
                   <li class="fa fa-phone"><strong>+234 909 006 491</strong></li> 
                    
                </ul>
            </div>
            <div class="header-lang">
                <ul>
                  <li><a href="#" target="_blank"><i class="fa fa-facebook" ></i></a></li>
                    <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Header Top End -->
    <!-- Header Bottom -->
    <div class="header-bottom">
        <div class="wrapper">
            <div class="header-logo">
                <a href="@Url.Action(
                                 controllerName: "Home", 
                                 actionName: "Index" 
                                 )"><img src="~/Content/img/TowlabPix/TowlabSuiteslogoFinal.png" alt="Towlab Suites"></a>
            </div>
            <div class="header-nav">
                <ul class="nav-left">
                    <li><a href="@Url.Action(
                                 controllerName: "Home", 
                                 actionName: "Index" 
                                 )">HOME</a></li>

                    <li><a href="@Url.Action(
                                 controllerName: "Home", 
                                 actionName: "getRoomView" 
                                 )">ROOMS</a></li>

                     <li><a href="@Url.Action(
                                 controllerName: "Home", 
                                 actionName: "Services" 
                                 )">SERVICES</a></li>
                </ul>
                <ul class="nav-right">
                     <li><a href="@Url.Action(
                                 controllerName: "Home", 
                                 actionName: "Gallery" 
                                 )">PHOTOS</a></li>
                    <li><a href="@Url.Action(
                                 controllerName: "Home", 
                                 actionName: "About" 
                                 )">ABOUT US</a></li>
                    <li><a href="@Url.Action(
                                 controllerName: "Home", 
                                 actionName: "Contact" 
                                 )">CONTACT</a></li>
                </ul>
            </div>
            <div class="header-toggle">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </div>
    <!-- Header Bottom End -->
</div>
<!-- Site Header End -->
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
      
<!-- Site Footer -->



<!-- Scripts -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
@Scripts.Render("~/Content/js/jquery-ui.min.js")
@Scripts.Render("~/Content/js/bootstrap.min.js")
@Scripts.Render("~/Content/js/gmap3.min.js")
        
@Scripts.Render("~/Content/js/custom.js")
        @Scripts.Render("~/Content/js/json2.js")
@Scripts.Render("~/Content/js/tls.js")

   
    </body>
</html>
