﻿@{
    Layout = "~/Views/Shared/_LayoutPlain.cshtml";
}
@using BioMVC4
@model BioMVC4.Models.SignupModel


<section class="cd-section" style="background:url(../../Content/images/bg-square.png)">

<div class="container" >
<h2>SignUp</h2>
<div class="col-lg-12">

<div class="col-lg-1"></div>
<div class="col-lg-10"style="border: 1px solid grey; margin-bottom: 30px;background:#fff" >
     
<div class="row " style="padding-top: 20px;text-align:center">
             @Html.Raw(@TempData["emailexists"])
    @Html.Raw(@TempData["SignUpMessageResult"])
</div>  
     <div class="clearfix"></div> 
<form id="suform" method="post" class="form-horizontal " action="/Auth/SignUpNewMember" enctype=multipart/form-data>
<div class="col-lg-12">


<!--Login-->
<div class="col-lg-12" style="padding-top:30px; padding-bottom: 30px">
<ul id="signup-accordion">
<li>
    <!--Login-->
    <h1 class="bgpattern whitetext" style="font-size:15px">Step 1. Login Setup </h1>
    <div class="pb20" style="background: whitesmoke">
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-sm-12">
                <div style="padding-top:30px;">
                <div class="col-sm-6">
                    <h5>
                        <span>
                            <input type="text" class="form-control" name="email" id="email" placeholder="Email Address*" data-msg-required="Please enter your Email Address.">
                        </span>
                    </h5>
                    <h5>

                        <span>
                            <input type="password" class="form-control" name="password" id="password" placeholder="Password*" data-msg-required="Please enter password.">
                        </span>
                    </h5>
                    <h5>

                        <span>
                            <input type="password" class="form-control" name="password2" id="password2" placeholder="Re enter password*" data-msg-required="Please re enter password.">
                        </span>
                    </h5>
                </div>
                <div class="col-sm-6">
                    <h5>
                        <span>
                            <input type="text" class="form-control" name="firstname" id="firstname" placeholder="First name*" data-msg-required="Please enter your First name.">
                        </span>
                    </h5>
                    <h5>

                        <span>
                            <input type="text" class="form-control" name="lastname" id="lastname" placeholder="Last name*" data-msg-required="Please enter your Last name.">
                        </span>
                    </h5>
                    <h5>

                        <span>
                            <input type="text" class="form-control" name="dob" id="dob" placeholder="Date of Birth (Month /Day) e.g 11/08" data-msg-required="Please enter date of birth in required format.">
                        </span>
                    </h5>
                </div>
                    </div>
            </div>
        </div>
    </div>

</li>

</ul>
<div class="row " style="padding-top: 20px;">
    <div class="col-sm-12 text-center">
        <span style="padding-right: 10px;">
            <label class="checkbox-inline" style="color: #000; font-style: italic; font-size: 12px; text-align: right;">
                <input type="checkbox" id="privacy" value="">By clicking submit, I acknowledge that I have read and I agree to the <a style="color: #0487cc !important; font-size:12px;" href="@Url.Action(
                                 controllerName: "Home", 
                                 actionName: "PrivacyPolicy" 
                                 )">privacy policy.</a></label>
        </span>
        <span> <button id="signupform" class="btn system_btn submit-form">Proceed to Step 2</button></span>
    </div>

    <div class="col-sm-6" style="text-align: left">

    </div>
</div>

</div>



</div>

</form>
   

</div>
</div>
<!--End Main Container-->
</section>

