﻿@model BioMVC4.Models.ProfileModel.Profile

@{
    ViewBag.Title = "Edit Profile";
    Layout = "~/Views/Shared/_LayoutNav.cshtml";
}
<section class="cd-section index visible" style="background:url(../../Content/images/bg-square.png)">
    <div class="container">
<h2>Edit Profile</h2>
        </div>

<!--Main Container-->
<div class="container home_container" >
	<div class="ptb-60 desktop_padding yuert" style="margin-bottom:50px">
        <h3 id="valerror" class="center hidden" style="color:red">There are validation errors. Please fill out the neccessary information to continue</h3>
         @Html.Raw(@TempData["ProfileSaved"])
<div id="tabbed-nav">
  <ul>
   <li><a>Credentials </a></li>
  <li><a>Personal Info</a></li>
	<li><a>Bio Info</a></li>                           
	<li><a>Experience</a></li>
      <li><a>Education</a></li>
	<li><a>Certification</a></li>                           
	<li><a>Association</a></li>
  </ul>

   
  <div>
@* Credentials*@
	<div class="row" style="background: whitesmoke;"> 
    <div class="pb20" style="background: whitesmoke">
        <form id="editformcred" method="post"   action="/Edit/SaveProfileCredentials/@Session["ActiveMemberID"] "  class="form-horizontal editform">

        <div class="row" style="margin-bottom: 20px;">
            <div class="col-sm-12">
                <h2 class="text-center">Change Password</h2>
                <div class="col-sm-6">
                    <h5 class="text-black">
                        Email Address
                        <span>
                            <input type="text" class="form-control" name="email" id="email" placeholder="Email Address *" data-msg-required="Please enter email." 
                                value="@Model.MemberEmail">
                          
                        </span>
                    </h5>
                    
                    <h5 class="text-black">
                        Current Password
                        <span>
                            <input type="password" class="form-control" name="password" id="password" value="@Model.Password" data-msg-required="Please enter your old password.">
                        </span>
                    </h5>
                   
                </div>
                <div class="col-sm-6">
                    
                    <h5 class="text-black">
                        Enter new password
                        <span>
                            <input type="password" class="form-control" name="passwordnew" id="passwordnew" placeholder="" data-msg-required="Please enter new password.">
                        </span>
                    </h5>
                     
                    <h5 class="text-black">
                        Re enter new password
                        <span>
                            <input type="password" class="form-control" name="passwordnew2" id="passwordnew2" placeholder="" data-msg-required="Please re enter new password.">
                        </span>
                    </h5>
                </div>
            </div>
        </div>
             <div class="center" style="padding-top: 20px;">
                    <span style="" ><button class="btn system_btn editbtn">Submit Changes</button></span>
                </div> 
            </form>
    </div></div>

@* Personal*@
	<div class="row" style="background: whitesmoke;">
        <div class="pb20" style="background: whitesmoke">
             <form id="editformPersonal" method="post"   action="/Edit/SaveProfilePersonal/@Session["ActiveMemberID"] "  class="form-horizontal editform">

        <div class="row">
            <div class="col-sm-12">
                <h2 class="text-center">Update Personal Info</h2>
                <div class="col-sm-6">

                    <h5 class="text-black">
                        First Name
                        <span>
                            <input type="text" class="form-control" name="firstname" id="firstname" placeholder=""
                                value="@Model.FirstName">
                        </span>
                    </h5>
                    
                    <h5 class="text-black">
                        Last Name
                        <span>
                            <input type="text" class="form-control" name="lastname" id="lastname" placeholder=""
                               value="@Model.LastName">
                        </span>
                    </h5>
                  
                    <h5 class="text-black">
                        Phone Number
                        <span>
                            <input type="text" class="form-control" name="phone" id="phone" placeholder=""
                                value="@Model.MemberPhone" >
                        </span>
                    </h5>
                   
                   <label class="text-black"> Date of Birth (MM/DD)</label> 
                    <div class='input-group date'>
                        
                        <input type='text' class="form-control" placeholder="Date of Birth (MM/DD) *" name="dob" id="dob"
                            value="@Model.DoB"
                            />
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span> </span>
                    </div>
                </div>
                <div class="col-sm-6 DivMaster">
                    <h5 class="text-black">
                        City
                        <span>
                            <input type="text" class="form-control" name="city" id="city" placeholder=""
                                 value="@Model.City"   data-msg-required="">
                        </span>
                    </h5>
                    <h5 class="text-black">
                        Postal Code
                        <span>
                            <input type="text" class="form-control" name="zip" id="zip" placeholder=""
                           value="@Model.Postalcode"      >
                        </span>
                    </h5>

                    <h5 class="text-black">
                        Country
                        <span>
                           <input type="text" value = "@Model.Country" class="form-control country" name="country" id="personalcountry" placeholder="" />
                       
                           
                        </span>
                    </h5>
                    <h5 class="text-black">
                        State
                        <span>
                        <input type="text" value = "@Model.State" class="form-control state" name="state" id="personalstate" placeholder="" />
                          
                        </span>
                    </h5>
                   

                </div>
            </div>
        </div>
          <div class="center" style="padding-top: 20px;">
                    <span style=""><button class=" btn system_btn editbtn">Submit Changes</button></span>
                </div> 
                 </form>
    </div></div>

@* Bio*@
	<div class="row" style="background: whitesmoke;">  
        <div class="pb20" style="background: whitesmoke">
 <form id="editformBio" method="post"   action="/Edit/SaveProfileBio/@Session["ActiveMemberID"] " enctype=multipart/form-data class="form-horizontal editform">
        <div class="row">
            <div class="col-sm-12">
                 <h2 class="text-center">Update Bio Info</h2>
                <div class="col-sm-6">
                    <h5 class="text-black">
                        LinkedIn URL
                        <span>
                            <input type="text" value="@Model.LinkedIn" class="form-control" name="linkedin" id="linkedin" placeholder="">
                        </span>
                    </h5>
                 
                    <h5 class="text-black">
                        Twitter Handle
                        <span>
                            <input type="text" value="@Model.Twitter" class="form-control" name="twitter" id="twitter" placeholder="">
                        </span>
                    </h5>
               
                    <h5 class="text-black">
                        Facebook URL
                        <span>
                            <input type="text" value="@Model.Facebook" class="form-control" name="facebook" id="facebook" placeholder="">

                        </span>
                    </h5>
                </div>
                <div class="col-sm-6">
                   <h5 class="text-black">
                        Profile Photo
                        <span>
                       
                            <input type="file" class="form-control" value="@Model.Photo" name="photo" id="photo">
                        </span>
                      
                    </h5>


                    <h5 class="text-black">
                        Resume
                        <span class="filec">
                            <input type="file" class="form-control"  name="resume" id="resume" value="@Model.Resume">

                        </span>
                    </h5>
                </div>
                <div class="col-sm-12">
                    <h5 class="text-black">
                        Short Description
                        <span>
                            <textarea class="form-control"  rows="5" cols="50" name="description" id="description" data-msg-required="Please enter short description. (max 500 words)*" placeholder="" >
                                @Model.Description
                            </textarea>
                        </span>
                    </h5>
                    <h5 class="text-black">
                        Tags
                        <span>
                           
                            <textarea class="form-control" rows="2" cols="50" name="tags" id="tags" placeholder="">
                                @foreach (var t in Model.Tags)
					            {@String.Concat(t,", ")}

                            </textarea>
                        </span>
                    </h5>
                </div>
            </div>
        </div>
         <div class="center" style="padding-top: 20px;">
                    <span style=""><button class=" btn system_btn  editbtn">Submit Changes</button></span>
                </div> 
     </form>
    </div></div>

@* Experience *@
    <div class="row" style="background: whitesmoke;">
              <h2 class="text-center" style="color:black; margin:0px;">Update Experience</h2>
         <form id="editformExperience" method="post"   action="/Edit/SaveProfileExperience/@Session["ActiveMemberID"] "  class="form-horizontal editform">

            <div class="clone-wrapper row" style="background: whitesmoke; margin: 10px">
            
  @if (Model.Experience != null && Model.Experience.Count > 0)
               {  

foreach (var e in Model.Experience)
{ 
       <div class="toclone" style="margin:10px">
           <button   class="clone addremovebut" ><span class="glyphicon glyphicon glyphicon-plus"></span><span></span><span>Add New </span></button>
     <button  class="delete addremovebut"><span class="glyphicon glyphicon glyphicon-minus"></span><span></span><span>Remove </span></button>
              <div class="row" style="background: #e8e8e8 !important; padding: 10px">   

                <div class="col-sm-12">
                
                <div class="col-sm-12">
                    <h5 style="margin: 10px;">
                        <span>
                            <input type="text" class="form-control" name="expposition[@e.ExperienceId]" id="expposition" placeholder="Position" value="@e.Position">
                       </span>
                    </h5>
                   </div>
                <div class="col-sm-12">
                    <h5>
                        <span>
                            <textarea class="form-control" rows="3" cols="50" name="expsummary[@e.ExperienceId]" id="expsummary" placeholder="Experience Summary">@e.ExperienceSummary</textarea>
                        </span>
                    </h5>
                </div>
                
               
                    <div class="col-sm-6">
                        <br/>
                        <div class='input-group date'>
                            <input type='text' class="form-control expfrom" placeholder="From" name="expfrom[@e.ExperienceId]" id="expfrom" value ="@e.StartDate"/>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span> </span>
                        </div>
                        <h5>
                            <span>
                                <input type="text" class="form-control" name="expcompany[@e.ExperienceId]" id="company" placeholder="Company" value="@e.Employer">
                            </span>
                        </h5>
                        <h5>
                            <span>
                                <input type="text" class="form-control" name="expcompanycity[@e.ExperienceId]" id="companycity" placeholder="City" value="@e.EmployerCity">
                            </span>
                        </h5>

                    </div>
                    <div class="col-sm-6 DivMaster">
                        <br/>
                        <div class='input-group date'>
                            @{ var x = e.EndDate == null ? "To(Leave blank if current)" : e.EndDate;}
                            <input type='text' class="form-control expto" placeholder= "To" value="@x" name="expto[@e.ExperienceId]" id="expto"/>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span> </span>
                        </div>
                       
                        <h5>
                             <input type="text" class="form-control country" name="expcountry[@e.ExperienceId]" id="expcountry" placeholder="Country" value="@e.EmployerCountry">
                      

                        </h5>
 <h5>
                            <span>
                                 <input type="text" class="form-control state" name="expstate[@e.ExperienceId]" id="expstate" placeholder="State" value="@e.EmployerState">
                           
                            </span>
                        </h5>

                    </div>
                
                <div class="col-sm-12">
                    <h5>
                        <span>
                            @{var s = e.Responsibilities == null ? "Responsibilities ( Please seperate each responsibility by semi colon )" : string.Join(";\n", e.Responsibilities);}
                            <textarea class="form-control" rows="6" cols="50" name="expresp[@e.ExperienceId]" id="resp" placeholder= "Responsibilities ( Please seperate each responsibility by semi colon )">@s</textarea>
                        </span>
                    </h5>
                    <br/>
                </div>
         </div>
</div>
  </div> 
}   
  }  
                else{
      <div class="toclone" style="margin:10px">
           <button   class="clone addremovebut" ><span class="glyphicon glyphicon glyphicon-plus"></span><span></span><span>Add New </span></button>
     <button  class="delete addremovebut"><span class="glyphicon glyphicon glyphicon-minus"></span><span></span><span>Remove </span></button>
              <div class="row" style="background: #e8e8e8 !important; padding: 10px">   

                <div class="col-sm-12">
                
                <div class="col-sm-12">
                    <h5 style="margin: 10px;">
                        <span>
                            <input type="text" class="form-control" name="expposition[0]"  placeholder="Position">
                       </span>
                    </h5>
                   </div>
                <div class="col-sm-12">
                    <h5>
                        <span>
                            <textarea class="form-control" rows="3" cols="50" name="expsummary[0]"  placeholder="Experience Summary"></textarea>
                        </span>
                    </h5>
                </div>
                
               
                    <div class="col-sm-6">
                        <br/>
                        <div class='input-group date'>
                            <input type='text' class="form-control expfrom" placeholder="From" name="expfrom[0]"  />
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span> </span>
                        </div>
                        <h5>
                            <span>
                                <input type="text" class="form-control" name="expcompany[0]"  placeholder="Company">
                            </span>
                        </h5>
                        <h5>
                            <span>
                                <input type="text" class="form-control" name="expcompanycity[0]"  placeholder="City">
                            </span>
                        </h5>

                    </div>
                    <div class="col-sm-6 DivMaster">
                        <br/>
                        <div class='input-group date'>
                           
                            <input type='text' class="form-control expto" placeholder= "To (Leave blank if current)"  name="expto[0]"/>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span> </span>
                        </div>
                       
                        <h5>
                             <input type="text" class="form-control country" name="expcountry[0]" placeholder="Country">
                      

                        </h5>
 <h5>
                            <span>
                                 <input type="text" class="form-control state" name="expstate[0]"  placeholder="State">
                           
                            </span>
                        </h5>

                    </div>
                
                <div class="col-sm-12">
                    <h5>
                        <span>
                            <textarea class="form-control" rows="6" cols="50" name="expresp[0]" placeholder= "Responsibilities ( Please seperate each responsibility by semi colon )"></textarea>
                        </span>
                    </h5>
                    <br/>
                </div>
         </div>
</div>
  </div> 
      
  }                     
      
      </div>   
               <div class="center" style="padding-top: 20px;">
                    <span style=""><button class=" btn system_btn  editbtn">Submit Changes</button></span>
                </div> 
        </form>
        </div> 

@* Education *@
      <div class="row" style="background: whitesmoke;">
           <h2 class="text-center" style="color:black; margin:0px;">Update Education</h2>
      <form id="editformEducation" method="post"   action="/Edit/SaveProfileEducation/@Session["ActiveMemberID"] "  class="form-horizontal">

            <div class="clone-wrapper row" style="background: whitesmoke; margin: 10px">
                @if (Model.Education != null && Model.Education.Count != 0) 
               {
foreach (var e in Model.Education)
{ 
              <div class="toclone" style="margin:10px;">
     
       <button   class="clone addremovebut" ><span class="glyphicon glyphicon glyphicon-plus"></span><span></span><span>Add New </span></button>
     <button   class="delete addremovebut"><span class="glyphicon glyphicon glyphicon-minus"></span><span></span><span>Remove </span></button>
        <div class="row eduo">
            <div id="modaledu" class="row" style="background: #e8e8e8; margin: 10px">  
      
                <div class="col-sm-12">
                  
                      
                    <div class="col-sm-7 DivMaster">
                        <h5>
                            <span>
                                <input type="text" class="form-control institution" name="eduinstitution[@e.MemberEducationId]" id="institution" placeholder="Institution" value="@e.Institution">
                            </span>
                        </h5>
                        
                       <h5>
                            <span>
                                <input type="text" class="form-control country" name="educountry[@e.MemberEducationId]" id="educountry" placeholder="Country" value="@e.InstitutionCountry">
                            </span>
                        </h5>
                            
 <h5>
                            <span>

                               <input type="text" class="form-control state" name="edustate[@e.MemberEducationId]" id="edustate" placeholder="State" value="@e.InstitutionState">
                            </span>
                        </h5>
                        

                    </div>
                    <div class="col-sm-5">
                        <h5>
                            <span>
                                <input type="text" class="form-control major" name="edumajor[@e.MemberEducationId]" id="major" placeholder="Major" value="@e.Major">
                            </span>
                        </h5>
                        <h5>
                            <span>
                                <input type="text" class="form-control degree" name="edudegree[@e.MemberEducationId]" id="degree" placeholder="Degree" value="@e.Degree">
                            </span>
                        </h5>
                     
                         <h5 class='input-group date'>
                            <input type='text' class="form-control gradyear" placeholder="Graduation Year" name="edugradyear[@e.MemberEducationId]" id="gradyear" value="@e.GraduationYear"/>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span> </span>
                        </h5>

                    </div>
                    <div class="col-sm-12">

                        <h5>
                            <span>
                                <textarea class="form-control" rows="2" cols="50" name="eduschoolcomments[@e.MemberEducationId]" id="schoolcomments" placeholder="Comments" >@e.InstitutionComments</textarea>
                            </span>
                        </h5>
                        <br/>
                    </div>
                </div>
   
            </div>
        </div>
                
</div>
       
        }
        }
                          else{
                    <div class="toclone" style="margin:10px;">
     
       <button   class="clone addremovebut" ><span class="glyphicon glyphicon glyphicon-plus"></span><span></span><span>Add New </span></button>
     <button   class="delete addremovebut"><span class="glyphicon glyphicon glyphicon-minus"></span><span></span><span>Remove </span></button>
        <div class="row eduo">
            <div class="row" style="background: #e8e8e8; margin: 10px">  
      
                <div class="col-sm-12">
                  
                      
                    <div class="col-sm-7 DivMaster">
                        <h5>
                            <span>
                                <input type="text" class="form-control institution" name="eduinstitution[0]"  placeholder="Institution">
                            </span>
                        </h5>
                        
                       <h5>
                            <span>
                                <input type="text" class="form-control country" name="educountry[0]"  placeholder="Country">
                            </span>
                        </h5>
                            
 <h5>
                            <span>

                               <input type="text" class="form-control state" name="edustate[0]" placeholder="State">
                            </span>
                        </h5>
                        

                    </div>
                    <div class="col-sm-5">
                        <h5>
                            <span>
                                <input type="text" class="form-control major" name="edumajor[0]" placeholder="Major">
                            </span>
                        </h5>
                        <h5>
                            <span>
                                <input type="text" class="form-control degree" name="edudegree[0]" placeholder="Degree">
                            </span>
                        </h5>
                     
                         <h5 class='input-group date'>
                            <input type='text' class="form-control gradyear" placeholder="Graduation Year" name="edugradyear[0]"/>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span> </span>
                        </h5>

                    </div>
                    <div class="col-sm-12">

                        <h5>
                            <span>
                                <textarea class="form-control" rows="2" cols="50" name="eduschoolcomments[0]" placeholder="Comments" ></textarea>
                            </span>
                        </h5>
                        <br/>
                    </div>
                </div>
   
            </div>
        </div>
                
</div>
      
  }   
                 </div>
              <div class="center" style="padding-top: 20px;">
                    <span style=""><button class=" btn system_btn  editbtn">Submit Changes</button></span>
                </div> 
    </form>
      </div>  

@* Certification *@
      <div class="row" style="background: whitesmoke;">
        <h2 class="text-center" style="color:black; margin:0px;">Update Certification</h2>
           <form id="editformCertification" method="post"   action="/Edit/SaveProfileCertification/@Session["ActiveMemberID"] "  class="form-horizontal editform">

           <div class="clone-wrapper row" style="background: whitesmoke; margin: 10px">
               @if ( Model.Certification.Count != 0) 
               {
              foreach (var c in Model.Certification)
              {
       
              <div class="toclone" style="margin:10px">
     
       <button   class="clone addremovebut" ><span class="glyphicon glyphicon glyphicon-plus"></span><span></span><span>Add New </span></button>
     <button   class="delete addremovebut"><span class="glyphicon glyphicon glyphicon-minus"></span><span></span><span>Remove </span></button>
        <div class="row certo">
            <div id="modalcert" class="row" style="background: #e8e8e8; margin: 10px">  
                <div class="col-sm-12"> 
                    <div class="col-sm-12">
                       <div class="col-sm-8">
                        <h5>
                            <span>
                                <input type="text" class="form-control certification" name="certname[@c.CertificationId]" id="certname" placeholder="Certification" value="@c.Name">
                            </span>
                        </h5>
                    </div>
                    <div class="col-sm-4">
                        <h5>
                            <span>
                                <input type="text" class="form-control" name="certtype[@c.CertificationId]" id="certtype" placeholder="Certification Type" value="@c.CertificationType">
                            </span>
                        </h5>
                    </div>
                    <div class="col-sm-12">
                    <h5>
                        <span>
                            <textarea class="form-control" rows="2" cols="50" name="certdesc[@c.CertificationId]" id="certdesc" placeholder="Description ">@c.Description</textarea>
                        </span>
                    </h5>
                    <br/>
                </div>
                </div>
            </div>
        </div>
              </div>
       </div>
              }
         }else
         {
                   <div class="toclone" style="margin:10px">
     
       <button   class="clone addremovebut" ><span class="glyphicon glyphicon glyphicon-plus"></span><span></span><span>Add New </span></button>
     <button   class="delete addremovebut"><span class="glyphicon glyphicon glyphicon-minus"></span><span></span><span>Remove </span></button>
        <div class="row certo">
            <div  class="row" style="background: #e8e8e8; margin: 10px">  
                <div class="col-sm-12"> 
                    <div class="col-sm-12">
                       <div class="col-sm-8">
                        <h5>
                            <span>
                                <input type="text" class="form-control certification" name="certname[0]"  placeholder="Certification" value="">
                            </span>
                        </h5>
                    </div>
                    <div class="col-sm-4">
                        <h5>
                            <span>
                                <input type="text" class="form-control" name="certtype[0]"  placeholder="Certification Type" value="">
                            </span>
                        </h5>
                    </div>
                    <div class="col-sm-12">
                    <h5>
                        <span>
                            <textarea class="form-control" rows="2" cols="50" name="certdesc[0]"  placeholder="Description"></textarea>
                        </span>
                    </h5>
                    <br/>
                </div>
                </div>
            </div>
        </div>
              </div>
       </div>
               }
    </div>
              <div class="center" style="padding-top: 20px;">
                    <span style=""><button class=" btn system_btn  editbtn">Submit Changes</button></span>
                </div> 
               </form>
</div>

@* Association *@
      <div class="row" style="background: whitesmoke;">
     <h2 class="text-center" style="color:black; margin:0px;">Update Association</h2>
          <form id="editformAssociation" method="post"   action="/Edit/SaveProfileAssociation/@Session["ActiveMemberID"] "  class="form-horizontal editform">
     <div class="clone-wrapper row" style="background: whitesmoke; margin: 10px">
         @if (Model.Association.Count != 0)
         {
          foreach (var e in Model.Association)
              { 
         <div class="toclone" style="margin:10px">
     
       <button   class="clone addremovebut" ><span class="glyphicon glyphicon glyphicon-plus"></span><span></span><span>Add New </span></button>
     <button   class="delete addremovebut"><span class="glyphicon glyphicon glyphicon-minus"></span><span></span><span>Remove </span></button>
        <div class="row asso">
            <div id="modalasso" class="row" style="background: #e8e8e8; margin: 10px">           
                <div class="col-sm-12">                   
                    <div class="col-sm-7">
         <h5>
                            <span>
                                <input type="text" class="form-control association" name="association[@e.AssociationId]" id="association" placeholder="Association" value="@e.Name">
                            </span>
                     
                        </h5></div>
                    <div class="col-sm-5">
                       
                        <h5>
                            <span>
                                @{ var role = string.IsNullOrEmpty(e.YourRole) ? "Select Association Role" : e.YourRole;}
                                @{ var rolevalue = role == "Select Association Role" ? "" : role;}

                                @*<input type="text" class="form-control associationrole" name="associationrole[@e.AssociationId]" id="associationrole" placeholder="Your Role" value="@e.YourRole">*@
                                <select class="form-control focus highlighted associationrole" name="associationrole[@e.AssociationId]" id="associationrole">
                                    <option selected="@role">@role</option>
                                    <option value="Select Association Role">Select Association Role</option>
                                    <option @{ var isHiddenMember = role == "Member" ? "Hidden" : "";} @isHiddenMember value="Member">Member</option>
                                    <option @{ var isHiddenPresident = role == "President" ? "Hidden" : "";} @isHiddenPresident value="President">President</option>
                                    <option @{ var isHiddenChairman = role == "Chairman" ? "Hidden" : "";} @isHiddenChairman value="Chairman">Chairman</option>
                                </select>
                            </span>
                        </h5>
                    </div>
               
                <div class="col-sm-12">
                  <h5>
                            <span>
                                <textarea class="form-control" rows="2" cols="50" name="associationcomment[@e.AssociationId]" id="associationcomment" placeholder="Comments">@e.Description</textarea>
                            </span>
                        </h5>
                    </div>
                        
            </div>
        </div>
                   
                  </div>
        
    </div> 
         }
         }
         else{
             <div class="toclone" style="margin:10px">
     
       <button   class="clone addremovebut" ><span class="glyphicon glyphicon glyphicon-plus"></span><span></span><span>Add New </span></button>
     <button   class="delete addremovebut"><span class="glyphicon glyphicon glyphicon-minus"></span><span></span><span>Remove </span></button>
        <div class="row asso">
            <div  class="row" style="background: #e8e8e8; margin: 10px">           
                <div class="col-sm-12">                   
                    <div class="col-sm-7">
         <h5>
                            <span>
                                <input type="text" class="form-control association" name="association[0]"  placeholder="Association" >
                            </span>
                     
                        </h5></div>
                    <div class="col-sm-5">
                       
                        <h5>
                            <span>
                                <input type="text" class="form-control associationrole" name="associationrole[0]"  placeholder="Your Role" >
                            </span>
                        </h5>
                    </div>
               
                <div class="col-sm-12">
                  <h5>
                            <span>
                                <textarea class="form-control" rows="2" cols="50" name="associationcomment[0]"  placeholder="Comments"></textarea>
                            </span>
                        </h5>
                    </div>
                        
            </div>
        </div>
                   
                  </div>
        
    </div> 
         }
       
              <div class="center" style="padding-top: 20px;">
                    <span style=""><button class=" btn system_btn  editbtn">Submit Changes</button></span>
                </div> 
     </div> 
              </form>   
  </div>


       </div>
     
        </div>
    </div>
        </div>
    </section>

