﻿
@model BioMVC4.Models.ProfileModel.Profile

@{
	Layout = "~/Views/Shared/_LayoutSearchProfile.cshtml";
}

<!DOCTYPE html>

<html>
<head>
	<title>Welcome @Model.FirstName</title>
</head>
<body>

<section class="cd-section index visible">
<div style="background:#fff">
<!--Main Container-->
<div class="container home_container">
	<div class="ptb-60 desktop_padding">

		<!--Intro -->
			   
		<div class="row valign-wrapper">
			<div class="col-sm-3">
				<img class="simg img img-responsive" style="height: 250px; width: 250px; border-radius:50%" src="@Model.Photo" alt="@Model.Title">
			</div>
			<div class="col-sm-9 home_author_name home_author_name2" >
				<div class="home_author_details">
						
					<div class="col-sm-12" >
						<h1><span class="bolder">@Model.FirstName @Model.LastName</span></h1>
					</div> 
                    <div class="col-sm-12" >		
					<div class="col-sm-6" >
						<h3 style="margin-bottom:0px !important">@Model.City, @Model.State</h3>
					</div>  
					<div class="col-sm-6 text-right" >
						<h3>Member Since - @Model.MemberSince</h3>
					</div> 
						</div>
					
                       <div class="clearfix">
                   
                   <p>
                       
					@Model.Description
                       </p>
				

                </div>	
				</div>
               
             
				
						
				<div class="modal_profile_tag">
					@foreach (var t in Model.Tags)
					{<span class="" style="font-size:13px;">@t</span>}
				</div>
			</div>
		</div>
		<!--End Intro-->
	</div>
</div>
    <section style="background:whitesmoke">
<div class="row" style="background:url(../../Content/images/bg-square.png)">
 <div id="memberemail" >
 <p class="text_center" style="color:white">
      @Html.Raw(@TempData["ContactNotification"])
 </p>
</div>
    <div class="container" >
        <div class="row valign-wrapper" >
            <div class="col-sm-3 center p30"></div>				
            <div class="col-sm-2 center p30">
                <button type="button" class="btn system_btn btn-primary">My blog</button>
								
            </div>
            <div class="col-sm-3 center p30">
                <div class="home_social_icons">
                    <a href="#" class="mr5">
                        <span class="g-plus"></span>
                    </a>
                    <a href="@Model.Facebook" class="mr5">
                        <span class="fb"></span>
                    </a>
                    <a href="@Model.Twitter" class="mr5">
                        <span class="twt"></span>
                    </a>
                    <!--<a href="#" class="mr5">
                        <span class="pinit"></span>
                    </a>-->
                    <a href="@Model.LinkedIn"> 
                        <span class="lin"></span>
                    </a>
                </div>
            </div>
            <div class="col-sm-2 center p30">
                <button type="button" class="btn system_btn btn-primary" data-toggle="modal" data-target="#more_details">Contact Me</button>
            </div>
            <div class="col-sm-2 center p30"></div>	
			
        </div>
    </div>
</div>	

<!--Container-->
<div class="container">
					
				
		

<!--Experience-->
<div class="mb40">
	<h2>Experience</h2>
	<div class="timeline timeline-left gray-blue">
		@if (ReferenceEquals(null,Model.Experience))
		{
			<h4>@Model.FirstName has not entered any work experience.</h4>
		}
		else
		{
			foreach (var experience in Model.Experience)
			 {
				 <!--1-->
				 <div class="timeline-block">
					 <i class="fa fa-suitcase"></i>
					 <div class="timeline-icon"></div>
					 <div class="timeline-content">
                       
						<h3><strong>@experience.Position</strong> - (
                             <span class="text-black">@experience.Employer</span> )
                              <span class="text-black">@experience.EmployerCity</span>
                              <span class="text-black">@experience.EmployerState</span>
                         <span class="text-black">@experience.EmployerCountry</span>
                            </h3>
                       
                        @foreach (var r in experience.Responsibilities) 
                        {
						 <ul class="desc">
							 <li>@r</li>
						 </ul>
                        }

						 <div class="timeline-date">@experience.StartDate - @experience.EndDate
							
						 </div>
					 </div>
				 </div>
			 }
		}
	</div>
</div>
			
<!--End of Experience-->

<!--Education-->
<div class="mb40">
	<h2>Education</h2>
	<div class="timeline timeline-left gray-blue">
		<!--1-->
		@if (ReferenceEquals(null, Model.Education))
		{
		    <h4>No formal education has been entered for @Model.FirstName</h4>
		}
		else
		{
		    foreach (var e in Model.Education)
		     {
		         <div class="timeline-block">
		             <i class="fa fa-graduation-cap"></i>
		             <div class="timeline-icon"></div>
		             <div class="timeline-content">
		                 <h4>@e.Institution</h4>
		                 <p>@e.Major <b>@(e.Degree == null?" ":"( " + @e.Degree+ " )")</b></p>
		                 <div class="timeline-date">@e.GraduationYear
		                     <h4 class="system_font_color"></h4>
		                 </div>
		             </div>
		         </div>

		     }
		}				
	</div>
</div>
<!--End of Education-->

		<!-- Certifications-->
    <div class="mb40">
	<h2>Certifications</h2>
        <div id="quotes">
    @if (ReferenceEquals(null, Model.Certification))
		{
		    <h4>@Model.FirstName does not have any certifications on file</h4>
		}
		else
		{
		    foreach (var c in Model.Certification)
		     {
                var cname = c.Name;
                var cdesc = c.Description;
		         <blockquote>
		            <p><b>@cname</b>  @cdesc </p>
		         </blockquote>
		     }
		}											
    </div>
</div>
<!--End of Certifications-->


<!-- Associations-->
<div class="mb40">
	<h2>Associations</h2>
	<div id="Div1">
		    @if (ReferenceEquals(null, Model.Association))
		{
		    <h4>@Model.FirstName does not have any affiliated Associations at this time</h4>
		}
		else
		{
		    foreach (var a in Model.Association)
		     {
                var aname = a.Name;
                var adesc = a.Description;
		        <blockquote>
		            <p><b>@aname</b> | @adesc </p>
		        </blockquote>
		     }
		}											
    </div>
</div>
<!--End of Associations-->

</div>
<!--End of container-->

<!--End Main Container-->

<!-- Quick ProfileBio showcase Modal starts -->
<div class="modal fade" id="more_details" style="background:whitesmoke">
	<div class="modal-dialog modal-lg" style="background:whitesmoke">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Contact @Model.FirstName</h4>
			</div>
			<div class="modal-body profile_modal_body">
				<div class="row">
					<div class="modal_details">
	     
<form id="contactprofileform" method="post" class="form-horizontal"  style="background:whitesmoke" action="/Profile/SendNotification">

    <div class="col-sm-12" style="background:whitesmoke">
         
       
                    <h5>
                        <span>
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject *" data-msg-required="Please enter subject">
                        </span>
                    </h5>
                   <h5>
                        <span>
                            <textarea class="form-control" rows="10" cols="50" name="message" id="message" data-msg-required="message" placeholder="Message" ></textarea>
                        </span>
                    </h5>
           <hr />
         <span> <button id="profilecontactform" class="btn system_btn submit-form" >Send message</button></span>
        </div>

     </form>
            </div>

 		

   

			</div>
				</div>
				<div class="row">
					<div class="modal_profile_bottom">
						
					</div>
				</div>
			</div>
		</div>
	</div>
        </section>	
</div>
<!-- Quick ProfileBio showcase Modal ends -->

</section>	


</body>
</html>