﻿@{
    ViewBag.Title = "EklipseConsult | Disclaimer";
    Layout = "~/Views/Shared/_AssessmentFrame.cshtml";
}

<div class="col-lg-6 content-right" id="start">
    <div id="wiz_container" class="wiz-container">
        <form name="wrappedsignup">
            <!-- /top-wizard -->
            <!-- Leave for security protection, read docs for details -->
            <div id="middle-wizard">
                <div class="">
                    <h1 class="main_title sz-text-md"> Sign Up</h1>
                    <div class="form-group">
                        <input type="text" name="firstname" class="form-control required inputbottomborder" placeholder="First Name">
                    </div>
                    <div class="form-group">
                        <input type="text" name="lastname" class="form-control required inputbottomborder" placeholder="Last Name">
                    </div>
                    <div class="form-group">
                        <input type="email" name="email" class="form-control required inputbottomborder" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="number" name="phone" class="form-control required inputbottomborder" placeholder="Phone">
                    </div>
                    <div class="form-group">
                        <div class="styled-select clearfix" >
                            <select class="wide required"  id="referralsource" name="How did you hear about us?">
                                <option value="">How did you hear about us?</option>
                                <option value="Referral - Past Student">Referral - Past Student(s)</option>
                                <option value="Company Website">Company Website</option>
                                <option value="Social Media">Social Media</option>
                                <option value="Other">Other sources</option>
                            </select>
                        </div>
                        <div class="form-group add_top_30">
                            <h6>Upload Resume</h6>
                            <div class="fileupload">
                                <input id="fileupload"  type="file" name="fileupload" class="form-control required inputbottomborder" accept=".doc,.docx,.pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document" ">
                            </div>
                        </div>


                        <!-- /row -->

                    </div>

                </div>
            </div>
            <!-- /middle-wizard -->
            <div id="bottom-wizard">
                <button type="submit" id="signup" name="" class="submit">Next</button>
            </div>
        </form>
        </div>
 
    </div>
