﻿
@{
    ViewBag.Title = "Error Page - Zion";
    Layout = "~/Views/Shared/_MasterLayoutPlain.cshtml";
}

<!-- start: page -->
<section class="body-sign">
    <div class="center-sign">
        <div class="center">
            <a href="/" class="logo center" style="margin: 0 auto;">
                <img src="~/img/zionlogo.png" height="84" alt="Zion Portal Logo" />
            </a>
        </div>
        <div style="height:100px; padding-top:20px">
            <h2 class="text-center">Sorry, but an error occured</h2>

        </div>





        <div class="center">

            <a class="btn btn-primary mt-2" style="margin:0 auto" href="~/Auth/Login">
                Sign In


            </a>

        </div>


        <p class="text-center text-muted mt-3 mb-3">&copy; Copyright @DateTime.Now.Year. All Rights Reserved.</p>
    </div>
</section>
<!-- end: page -->
