﻿
@{
    ViewBag.Title = "PasswordRecovery";
    Layout = "~/Views/Shared/_MasterLayoutPlain.cshtml";
}


<body>
    <!-- start: page -->
    <section class="body-sign">
        <div class="center-sign">
            <a href="/" class="logo center">
                <img src="~/img/zionlogo.png" height="84" alt="Zion Portal Logo" />
            </a>

            <div class="panel card-sign">
                <div class="card-title-sign mt-3 text-right">
                    <h2 class="title text-uppercase font-weight-bold m-0"><i class="fas fa-user mr-1"></i> Recover Password</h2>
                </div>
                <div class="card-body">
                    <div class="alert alert-info">
                        <p class="m-0">Enter your e-mail below and we will send you reset instructions!</p>
                    </div>
                    <h5 class="center" style="color:red">@ViewBag.PwdRec</h5>
                    <form action="/Auth/passwordRecovery" method="post">
                        <div class="form-group mb-0">
                            <div class="input-group">
                                <input name="username" type="email" placeholder="E-mail" class="form-control form-control-lg" />
                                <span class="input-group-append">
                                    <button class="btn btn-primary btn-lg" type="submit">Reset!</button>
                                </span>
                            </div>
                        </div>

                        <p class="text-center mt-3">Remembered? <a href="pages-signin.html">Sign In!</a></p>
                    </form>
                </div>
            </div>

            <p class="text-center text-muted mt-3 mb-3">&copy; Copyright @DateTime.Now.Year All Rights Reserved.</p>
        </div>
    </section>
    <!-- end: page -->
    <!-- Vendor -->
    <script src="vendor/jquery/jquery.js"></script>
    <script src="vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
    <script src="vendor/popper/umd/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.js"></script>
    <script src="vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="vendor/common/common.js"></script>
    <script src="vendor/nanoscroller/nanoscroller.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.js"></script>
    <script src="vendor/jquery-placeholder/jquery-placeholder.js"></script>

    <!-- Theme Base, Components and Settings -->
    <script src="js/theme.js"></script>

    <!-- Theme Custom -->
    <script src="js/custom.js"></script>

    <!-- Theme Initialization Files -->
    <script src="js/theme.init.js"></script>

</body>