﻿
@{
    ViewBag.Title = "Login to ZionPortal Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="loginForm"></div>

<script type="text/javascript">
    $(function () {
        var loginForm = $("#loginForm").dxForm({
            width: function() {
                return window.innerWidth / 3;
            },
            items: [{
                itemType: "group",
                caption: "Login",
                items: [{
                    dataField: "Email",
                    validationRules: [{
                        type: "required",
                        message: "Email is required"
                    },
                    {
                        type: "email",
                        message: "Email is invalid"
                    }]
                }, {
                    dataField: "Password",
                    editorOptions: {
                        mode: "password"
                    },
                    validationRules: [{
                        type: "required",
                        message: "Password is required"
                    }]
                },
                {
                    itemType: "button",
                    alignment: "left",
                    buttonOptions: {
                        text: "Login",
                        type: "success",
                        onClick: function () {
                            var email = loginForm.getEditor("Email").option("text");
                            var pwd = loginForm.getEditor("Password").option("text");

                            var data = loginForm.option("formData");
                            console.log(data);
                            $.ajax({
                                data: JSON.stringify(data),
                                url: "/Auth/authenticate",
                                method: "POST",
                                contentType: "application/json",
                                success: function (msg) {
                                    switch (msg) {
                                        case "success": $(location).attr('href', '/ZionPortal');
                                            break;
                                        default: alert(msg);                                 

                                    }     
                                   
                                },
                                error: function (msg) {
                                    
                            }
                            });
                        }
                    }
                }]
            }]
        }).dxForm("instance");
    });

</script>