﻿body {
    
}
.pct100{
width:100% !important
}
.height900 {
    height: 900px !important
}
#drill-down-title {
    /*position: absolute;*/
    /*top: 50px;*/
    height: 36px;
    width: 100%;
    text-align: center;
}

.link {
    color: #337ab7;
    text-decoration: underline;
    cursor: pointer;
}
#BarChart {
    height: 700px;
}

.active {
    font-weight: 700;
}


    #BarChart.pointer-on-bars .dxc-series rect {
        cursor: pointer;
    }

.button-container {
    text-align: center;
    height: 40px;
    margin-left:0;

}
#Map {
    height: 650px;
    width: 100%;
    display: block;
}
.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.switchesAdd {
    margin-top:600px
}
.switchesRemove {
    margin-top: 0px
}
