﻿@model PowerBIEmbedded_AppOwnsData.Models.EmbedConfig

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://npmcdn.com/es6-promise@3.2.1"></script>
<script src="~/scripts/powerbi.js"></script>


<div>
    <button id="0">page 1</button>
    <button id="1">page 2</button>
    <button id="2">page 3</button>
    <button id="3">Page 4</button>
</div>

<div id="embedContainer" style="min-width:100%;min-height:100%;"></div>



@Html.Partial("LiveDemoLink")

<script>
    // preload preload pbie scripts on this page
    var preloadConfig = {
        type: 'report',
        baseUrl: 'https://embedded.powerbi.com/reportEmbed',
    };

    var preloadElement = powerbi.preload(preloadConfig);

    preloadElement.onload(function () {
        console.log("pbie scripts now preloaded into this page");
    });

    var pageIndex = 0
  
    $("button").click(function ()
    {
       
        pageIndex = $(this).attr("id")
        changepage(pageIndex);
    })
    // Read embed application token from Model
    var accessToken = "@Model.EmbedToken.Token";

    // Read embed URL from Model
    var embedUrl = "@Html.Raw(Model.EmbedUrl)";

    // Read report Id from Model
    var embedReportId = "@Model.Id";

    // Get models. models contains enums that can be used.
    var models = window['powerbi-client'].models;

    // Embed configuration used to describe the what and how to embed.
    // This object is used when calling powerbi.embed.
    // This also includes settings and options such as filters.
    // You can find more information at https://github.com/Microsoft/PowerBI-JavaScript/wiki/Embed-Configuration-Details.
    var config = {
        type: 'report',
        tokenType: models.TokenType.Embed,
        accessToken: accessToken,
        embedUrl: embedUrl,
        id: embedReportId,
        permissions: models.Permissions.All,
        settings: {
            filterPaneEnabled: false,
            navContentPaneEnabled: false
        }
    };

   
    // Get a reference to the embedded report HTML element
    var reportContainer = $('#embedContainer')[0];






    // call load() instead of embed() to load the report while delaying the rendering process
    var report = powerbi.load(embedContainer, config);

    // when loaded event occurs, set current page then call render()
    report.on("loaded", function () {
        console.log("loaded event executing");
        // call to get Pages collection
        report.getPages().then(
            function (pages) {
                // inspect pages in browser console
                console.log(pages);
                // display specific page in report
                var startPage = pages[pageIndex]; // this selects the second page
                config.pageName = startPage.name;
                // Call report.render() to display report
                report.render(config);
            });
    });

    function changepage(pageIndex) {
               report.getPages().then(function (pages) {
                   pages[pageIndex].setActive();
        });


    }
</script>