﻿@model PowerBIEmbedded_AppOwnsData.Models.IndexConfig

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="buttonsWrapper">
    Select an entity to embed.<br/><br/>

    <a id="btnEmbedReport" href="~/Home/EmbedReport">Embed Report</a>
    <br/>

    <a id="btnEmbedDashboard" href="~/Home/EmbedDashboard">Embed Dashboard</a>
    <br />

    <a id="btnEmbedTile" href="~/Home/EmbedTile">Embed Tile</a>
    <br />


</div>