﻿<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="description" content="EklipseConsult | Registration">
    <meta name="author" content="AcePointe">


    <!-- Favicons-->
    <link rel="shortcut icon" href="https://www.eklipseconsult.com/img/EklipseConsultLogo.png" type="image/x-icon">


    <!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i" rel="stylesheet">

    <!-- BASE CSS -->
    <link href="~/css/animate.min.css" rel="stylesheet">
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/icon_fonts/css/all_icons_min.css" rel="stylesheet">
    <link href="~/css/magnific-popup.min.css" rel="stylesheet">
    <link href="~/css/skins/square/yellow.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <!-- YOUR CUSTOM CSS -->
    <link href="~/css/custom.css" rel="stylesheet">
    <link href="~/css/EKCT.css" rel="stylesheet" />
</head>

<body>

   <div id="loader_form">
        <div data-loader="circle-side-2"></div>
    </div>
    <!-- /Loader_form -->
    <!--<header>
        <a id="menu-button-mobile" class="cmn-toggle-switch cmn-toggle-switch__htx" href="javascript:void(0);"><span>Menu mobile</span></a>
        <nav class="main_nav">
            <ul class="nav nav-tabs">
                <li><a href="#tab_1" data-toggle="tab" class="active show">Request a quote</a></li>
                <li><a href="#tab_2" data-toggle="tab">About</a></li>
                <li><a href="#tab_3" data-toggle="tab">Contact</a></li>
            </ul>
        </nav>
    </header>-->

    <div id="main_container" class="visible">

        <div id="header_in">
            <div id="logo_in"><img src="https://www.eklipseconsult.com/img/EklipseConsultLogo.png" width="100" height="50" data-retina="true" alt="EklipseConsult"></div>
        </div>
        @RenderBody()
       
    </div><!-- /main_container -->


    <!-- Modal terms -->
    <div class="modal fade" id="terms-txt" tabindex="-1" role="dialog" aria-labelledby="termsLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Terms and conditions</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        By registering , you’re agreeing to the terms and conditions provided by EklipseConsult.
                    </p>
                    <h5> INFORMATION COLLECTED:</h5>
                    <p>
                        During Registration, you will be asked to enter your personal information (Name, Phone number, Email).
                        This information is solely used for the purpose of communicating enrollment information, status or updates and will not be shared  with or sold to any 3rd parties outside Eklipse Consult.
                    </p>

                    <h5> CONFIDENTIALITY:</h5>
                    <p>
                        We treat your registration information as confidential. Your personal information will not be shared with or sold to third parties.
                        EklipseConsult employees may access your information for the purpose of assisting you with next steps in your training journey.
                        In addition, we may analyze data collected during registration for the purposes of research and development. When your data is used for research purposes, it is not associated with any personally identifiable information.
                    </p>

                    <h5> CONTENT:</h5>
                    <p>
                        EklipseConsult reserves the right to change contents of this registration form at any time. By continuing with this registration, you agree to:
                        <ul>
                            <li>
                                1. Not to use the Site for any purpose that is unlawful under any applicable law, or prohibited by these Terms
                            </li>
                            <li>
                                2. Not use Content in a way that brings EklipseConsult or any third party into disrepute or causes Eklipse Consult to be liable to any third party
                            </li>
                        </ul>
                    </p>
                    <h5> COOKIES:</h5>
                    <p>
                        Cookies are used on this registration site. A cookie is a piece of data stored on a site visitor's hard drive to help us improve your access to our site and identify repeat visitors to our site.
                        The use of cookies does not link to any personally identifiable information on our site.
                    </p>

                    <h5> CHANGE:</h5>
                    <p>
                        EklipseConsult reserves the right to change these terms at any time. The latest version of terms and conditions under which this registration is held can be found on this page.
                    </p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn_1" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- SCRIPTS -->
    <!-- Jquery-->
    <script src="https://www.paypal.com/sdk/js?client-id=AV6EkMznuLOAnp4AI4HQStmKMjVM-OryrAA-T5KCIBye7CnUFzvhfXUX1PEEwT9JpXEwi02cW1bO-jGG&currency=USD&disable-funding=card" data-sdk-integration-source="button-factory"></script>

    <script src="~/js/jquery-3.2.1.min.js"></script>
    <!-- Common script -->
    <script src="~/js/common_scripts_min.js"></script>

    <!-- Theme script -->
    <script src="~/js/functions_no_side_panel.js"></script>
  

    
 

    <script src="https://js.stripe.com/v3/"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <script src="~/js/EKCTFE.js"></script>
  

  
       

        </body>

        </html>
