﻿@{
    ViewBag.Title = "EklipseConsult | Results";
    Layout = "~/Views/Shared/_MainFrame.cshtml";
}
<div class="container-fluid">
    <div class="container">
        <div id="wiz_container">

            <div id="middle-wizard">
                <div class="">
                    <div class="summary testpg">
                        <h1 class="main_title sz-text-md" style="margin-top:30px">Test Result</h1>
                        <div class="container">
                            <br />
                            <h3>
                                Thank you for completing the Aptitude Test
                            </h3>
                            <br />
                      
                            <p>
                                We regret to inform you that you didnt pass the Aptitude test.
                            </p>
                            <p>
                                
                                <b>Your Score :</b> @TempData["ResultMessage"];
                                <br />
                                <b>Passing Score : </b>
                                70%
                                <br />
                                <b>Status : </b>
                                Failed
                                <br />   <br />


                                Please do not hesistate to  reach out to us at admissions.eklipseconsult.com if there are questions.
                            </p>

                            <br />
                        </div>
                    </div>
                </div>
                <!-- /step-->
            </div>


        </div>
        <!-- /Wizard container -->
    </div>
</div>