﻿@{
    ViewBag.Title = "EklipseConsult | Results";
    Layout = "~/Views/Shared/_MainFrame.cshtml";
}
<div class="container-fluid">
    <div class="container">
        <div id="wiz_container">

            <div id="middle-wizard">
                <div class="">
                    <div class="summary testpg">
                        <h1 class="main_title sz-text-md" style="margin-top:30px">Test Result</h1>
                        <h3 style="text-align:center">
                        <strong>Congratulations !!</strong>
                            You passed the Aptitude Test
                        </h3>
                        <br />

                        <p>
                            <b>Your Score :</b> @TempData["ResultMessage"]
                            <br />
                            <b>Passing Score : </b>
                            70%
                            <br />   <br />
                            We will reach out to you with the next steps shortly.

                            <br /><br />

                            Please reach out to us at admin.eklipseconsult.com if there are questions
                        </p>

                        <br />
                   
                    </div>
                </div>
                <!-- /step-->
            </div>
         

        </div>
        <!-- /Wizard container -->
    </div>
</div>