﻿body {

    color:#090b1a;
    /*font-family: 'Open Sans', Arial, Helvetica, sans-serif;*/
    font-size: 1.2rem;
    line-height: 1.4;
    font-weight: 400;
}
.content-left {
    background-color: transparent;
    padding: 0;
}
.content-left-image{
    width:40%
}
.sz-text-lg{
    margin-top:30px;
    font-size: 84px;
    font-weight:bolder;
    color:#fff
}

.sz-text-md {
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 34px;
    font-weight: bolder;
    color: #090b1a;
}
.width80 {
    min-width:400px;
    width:80%
}
.minwidth80 {
    min-width: 60%;
}
.content-menu-image {
    width: 30%
}
.wiz-container {
    width:80%
}

#wizard_container {
    width: 100%
}
span.error{
    /*background:transparent !important;*/
    color:#fff;
    clear:both;
    display:block;
    margin-bottom:10px;
}
footer {
 
    position: absolute;
    bottom: 0;
    padding-top: 20px;
    padding-top: 20px;
    background-color: whitesmoke;
    width: 100%;
    text-align: center;
}
    footer p {
        float:none;
    }
.questions {
    margin-top:60px;
}
#bottom-wizard {
    border-top:none;
}

input[type=file] {
     border:none; border-bottom:1px solid #e8e8e8
}

.nice-select {
    border:none; border-bottom:1px solid #e8e8e8; font-size: 18px;
}
.inputbottomborder {
       border:none; border-bottom:1px solid #e8e8e8;font-size: 18px;
}

::-webkit-input-placeholder {
  color: #000;
  font-size: 18px;
}
::-moz-placeholder {
  color: #000;
  font-size: 18px;
}
:-ms-input-placeholder {
  color: #000;
  font-size: 18px;
}
::placeholder {
  color: #000;
  font-size: 18px;
}
.jconfirm .jconfirm-box div.jconfirm-title-c {
    font-weight: bold;
    text-align: center;
    display: block;
    font-size: 25px;
    line-height: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    padding-bottom: 25px;
}
h3.main_question {
    margin: 0 0 20px 0;
    padding: 0;
    font-weight: 500;
    line-height:2.5rem;
    font-size: 1.6rem;
}
h3.main_question strong {
    display: block;
    /* color: #999; */
    margin-bottom: 5px;
     color:#090b1a;
      font-size: 1.6rem;
}

.container_radio.version_2 {
    padding: 6px 0 0 45px;
    min-height: 30px;
    font-size: 1.2rem;
}

.summary ul li strong {
    display: block;
    line-height: 46px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    border: 1px solid whitesmoke;
    background-color:whitesmoke;
}

.summary ul li h5 {
    padding-top: 6px;
    font-size: 20px;
    font-size: 1.5rem;
    font-weight: 500;
    color: #090b1a;
}

.summary ul li {
    margin: 30px;
    padding: 20px;
    border: 5px solid whitesmoke;
    position: relative;
    padding-left: 75px;
    border:1px solid #dee2e6!important;
    background:whitesmoke;
}

.summanswer {
    color: blueviolet;
    font-size: 1.8rem;
    font-weight: 500;
}
.testpg {
    margin-top: 70px;
    text-align: center;
    padding-top: 10px;
    background: whitesmoke;
     border:1px solid #dee2e6!important;
}

.AppDetBlock {
    margin-top:50px;
    color: #555555;
    line-height: 1.8;
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 30px;
    background-color: whitesmoke;
    border: 2px solid #e8e8e8;
}

    .AppDetBlock ul {
        margin:0;
    }

       .AppDetBlock ul li span{
       line-height: 2.2;
    }