﻿@*@model Digital_Assets_Web.repo.m_embedConfig*@


<!DOCTYPE html>
<html>
<head>
    <!-- Basic -->
    <meta charset="UTF-8">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- Web Fonts  -->
    <!-- Vendor CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/css/all.css" />
    <link rel="stylesheet" href="~/css/magnific-popup.css" />
    <link rel="stylesheet" href="~/css/bootstrap-datepicker.css" />
    <link href="~/css/pnotify.custom.css" rel="stylesheet" />

    <!-- Skin CSS -->
    <link rel="stylesheet" href="~/css/default.css" />

    <link href="~/css/github.css" rel="stylesheet" />
    <link href="~/css/normalize.css" rel="stylesheet" />
    <link href="~/css/skeleton.css" rel="stylesheet" />
    <!-- Theme Custom CSS -->
    <!-- Theme CSS -->
    <link rel="stylesheet" href="~/css/theme.css" />

    <style type="text/css">
        .offblack {
            color: #191818;
        }

        .header2 {
            border-bottom: none;
        }

        .input-group-Size {
            font-size: 16px !important;
        }

        .body-sign .card-sign .card-title-sign .title {
            color: #000 !important;
            background-color: rgba(255, 255, 255, 0.88);
        }

        .body-sign .card-sign .card-body {
            background: rgba(255, 255, 255, 0.9) !important;
            border-top: 5px solid rgba(255, 255, 255, 0.1) !important;
            border-radius: 5px 0 5px 5px;
            -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
            padding: 33px 33px 15px;
            box-shadow: 2px 2px 7px 2px rgba(0, 0, 0, 0.33);
        }



        input.form-control.form-control-lg {
            color: #000 !important;
        }

        img#logo {
            margin-top: 15px;
            margin-left: 5px;
        }

        a.float-right {
            color: #007bff !important;
        }


        .body-sign .line-thru:after {
            border-bottom: 1px solid #aaa9b5 !important;
            content: '';
            display: block;
            left: 10%;
            position: absolute;
            top: 47%;
            width: 81%;
            z-index: 1;
        }

        .body-sign .line-thru:before {
            background-color: #E8E8E9 !important;
            content: '';
            height: 10px;
            left: 50%;
            position: absolute;
            margin: -5px 0 0 -20px;
            top: 50%;
            width: 40px;
            z-index: 2;
        }

        .labelcolor {
            color: #6f6767 !important;
        }
    </style>
    <link rel="stylesheet" href="~/css/custom.css">
    @* <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">*@

    <!-- Head Libs -->
    <Script src="~/Scripts/modernizr-2.8.3.js"></Script>
</head>
<body>
    <section class="" style="padding: 20px">

        <!-- start: header -->
        <header class="header">
            <div class="logo-container">
                <a href="#" class="logo">
                    <img src="~/img/da_logo_draft2.png" width="150" height="75" alt="Digital Assets" />
                </a>
                <div class="d-md-none toggle-menu" data-toggle="collapse" data-target=".tab-navigation">
                    <i class="fas fa-bars" aria-label="Toggle Menu"></i>
                </div>
            </div>

            <!-- start: search & user box -->
            <div class="header-right">



                <span class="separator"></span>

                <div id="userbox" class="userbox" style="color:#000 !important">
                    <a href="#" data-toggle="dropdown">

                        <div class="profile-info" style="color:#000 !important" data-lock-name="Abayomi Obawomiye" data-lock-email="abayomi.obayomiye@a.com">
                            <span class="name" style="color:#000 !important;font-size:16px;">Abayomi Obawomiye</span>

                        </div>
                        @*<figure class="profile-picture">
                                <img src="~/img/!logged-user.jpg" alt="Yomi" class="rounded-circle" data-lock-picture="img/!logged-user.jpg" />
                            </figure>*@

                        <i class="fa custom-caret" style="color:#000 !important"></i>

                    </a>

                    <div class="dropdown-menu">
                        <ul class="list-unstyled mb-2">
                            <li class="divider"></li>
                            <li>
                                <a role="menuitem" tabindex="-1" href="pages-user-profile.html"><i class="fas fa-user"></i> My Profile</a>
                            </li>
                            <li>
                                <a role="menuitem" tabindex="-1" href="#" data-lock-screen="true"><i class="fas fa-lock"></i> Lock Screen</a>
                            </li>
                            <li>
                                <a role="menuitem" tabindex="-1" href="pages-signin.html"><i class="fas fa-power-off"></i> Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- end: search & user box -->
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <div class='tabs tabs_active'>
                            <ul class='horizontal' style="display:block;margin:0 auto;text-align:center;margin-bottom:0px;">
                                <li><a href="#newsfeed">Newsfeed</a></li>
                                <li><a class="invnav" subnavdiv="investmentsfunds" reportid="6c30fd74-065d-481f-9ea6-ebf42a698658" href="#investmentsfunds">Investments & Funds</a></li>
                                <li><a class="invnav" subnavdiv="capitalflow" reportid="03dc094d-7029-4833-b870-9bca54fbbfa0" href="#capitalflow">Capital Flows & Trading</a></li>
                                <li><a class="invnav" subnavdiv="minerstats" reportid="83912a0a-0213-420e-9171-bab98a98b29d" href="#minerstats">Miner Statistics</a></li>
                                <li><a class="invnav" subnavdiv="exchanges" reportid="23f5a887-857a-4647-a7cf-aa997552a473" href="#exchanges">Exchanges</a></li>
                                <li><a class="invnav" subnavdiv="digitalwallets" reportid="92df8a3e-4dda-4622-a5d7-64d28aa74dee" href="#digitalwallets">Digital Wallets</a></li>
                                <li><a class="invnav" subnavdiv="Decentralized" reportid="4bbd46a6-b035-4fde-b4eb-a814590cb8a9" href="#Decentralized">Decentralized Applications</a></li>
                                <li><a class="invnav" subnavdiv="hackattack" reportid="5bb13727-42d2-4d1c-b66d-097af3fb89ce" href="#hackattack">Hacks & Attacks</a></li>
                            </ul>
                            <div id='newsfeed' class="landingpagetab">

                                <iframe src="https://thedigitalassets.net/newsfeed" style="width:100%; height:100%"></iframe>
                            </div>
                            <div id='investmentsfunds' class="landingpagetab">
                                <ul id="investment" class='horizontal sbnav'>
                                    <li><a id="0" href="#default">Time Based Analytics</a></li>
                                    <li><a id="1" href="#toptenmetricanalysis">Top Ten Parallel Metric Analysis</a></li>
                                    <li><a id="2" href="#timeseriesInvestment">Multidimensional time series - Investments</a></li>
                                    <li><a id="3" href="#investmentfundingdetail">Multidimensional time series - Staff</a></li>
                                </ul>
                            </div>
                            <div id='capitalflow' class="landingpagetab">
                                <ul class='horizontal sbnav'>
                                    <li><a id="0" href="#default">Top 10 Volume</a></li>
                                    <li><a id="1" href="#toptenmetricanalysis">Top 10 Volume (USD)</a></li>
                                    <li><a id="2" href="#timeseriesInvestment">Defi Loans</a></li>
                                    <li><a id="3" href="#investmentfundingdetail">Token Supply</a></li>
                                    <li><a id="4" href="#timeseriesInvestment">NVT Ratio</a></li>
                                    <li><a id="5" href="#investmentfundingdetail">Onchain Txns & Volumes</a></li>
                                </ul>
                            </div>
                            <div id='minerstats' class="landingpagetab">
                                <ul class='horizontal sbnav'>
                                    <li><a id="0" href="#miningcloudbased">Mining Equipment</a></li>
                                    <li><a id="1" href="#mininghardware">Mining Contract</a></li>
                                    <li><a id="2" href="#mininghardware">Mining Pool</a></li>
                                </ul>
                            </div>
                            <div id='exchanges' class="landingpagetab">
                                <ul class='horizontal sbnav'>
                                    <li><a id="0" href="#current">All Bitcoin Nodes (Current)</a></li>
                                    <li><a id="1" href="#historical">All Nodes (Historical)</a></li>
                                    <li><a id="2" href="#global">Market Volume (Global)</a></li>
                                    <li><a id="3" href="#marketvol">Market Volume by Country</a></li>
                                </ul>
                            </div>
                            <div id='digitalwallets' class="landingpagetab">
                                <ul class='horizontal sbnav'>
                                    <li><a id="0" href="#default">Top Accounts by ETH Balance</a></li>
                                    <li><a id="1" href="#eth">ETH Miners by Block Last 14 Days</a></li>
                                    <li><a id="2" href="#globaleth">Global Ethereum Nodes</a></li>
                                    <li><a id="3" href="#clients">Clients & Networks</a></li>
                                </ul>
                            </div>
                            <div id='Decentralized' class="landingpagetab">

                                <ul class='horizontal sbnav'>
                                    <li><a id="0" href="#dapps">DApps - Status</a></li>
                                    <li><a id="1" href="#token">DApps - Platforms</a></li>
                                    <li><a id="2" href="#crypto">DApps - Activity</a></li>
                                    <li><a id="3" href="#coin">DApps - Monthly View</a></li>
                                </ul>
                            </div>
                            <div id='hackattack' class="landingpagetab">
                                <ul class='horizontal sbnav'>
                                    <li><a id="0" href="#installations">Attacks Summary</a></li>
                                    <li><a id="1" href="#manufacturers">Attack Technique & Targets</a></li>
                                    <li><a id="2" href="#operations">Bitcoin Vulnerabilities & Exposure</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
          
                </div>
    </div>
        </header>
        <!-- end: header -->
        <div class="clearfix"></div>
        <div class="inner-wrapper">
        </div>


    </section>
    @RenderBody()

    <!-- Vendor -->
    <Script src="~/Scripts/jquery.js"></Script>
    <Script src="~/Scripts/jquery.browser.mobile.js"></Script>
    <Script src="~/Scripts/popper.min.js"></Script>
    <Script src="~/Scripts/bootstrap.js"></Script>
    <Script src="~/Scripts/bootstrap-datepicker.min.js"></Script>
    <Script src="~/Scripts/common.js"></Script>
    <Script src="~/Scripts/nanoscroller.js"></Script>
    <Script src="~/Scripts/jquery.magnific-popup.js"></Script>
    <Script src="~/Scripts/jquery.placeholder.js"></Script>
    <Script src="~/Scripts/pnotify.custom.js"></Script>
    <Script src="~/Scripts/jquery.validate.js"></Script>

    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/jquery.ui.touch-punch.js"></script>
    <script src="~/Scripts/jquery.appear.js"></script>
    <script src="~/Scripts/bootstrap-multiselect.js"></script>

    <script src="~/Scripts/jquery.tabslet.min.js"></script>
    <script src="~/Scripts/rainbow-custom.min.js"></script>
    <script src="~/Scripts/jquery.anchor.js"></script>


    <script src="https://npmcdn.com/es6-promise@3.2.1"></script>
    <script src="~/scripts/powerbi.js"></script>

    <script src="~/Scripts/custom.js"></script>
    <!-- Theme Base, Components and Settings -->
    <Script src="~/Scripts/theme.js"></Script>


    <!-- Theme Custom -->
    <!-- Theme Initialization Files -->
    <Script src="~/Scripts/theme.init.js"></Script>
    <Script src="~/Scripts/examples.modals.js"></Script>
    <Script src="~/Scripts/examples.validation.js"></Script>
    <script src="~/Scripts/initializers.js"></script>


    <script>
    // preload preload pbie scripts on this page
    var preloadConfig = {
        type: 'report',
        baseUrl: 'https://embedded.powerbi.com/reportEmbed',
    };

    var preloadElement = powerbi.preload(preloadConfig);

    preloadElement.onload(function () {
        console.log("pbie scripts now preloaded into this page");
    });

        var iframe = '<div class="iframe" style="height:100%"><h2 id = "rptText" style = "color:cadetblue; text-align:center; padding-top:30px;padding-bottom:30px;" ></h2> <div id="embedContainer" style="width:100%;height:100%;"></div> </div >'
    var models = window['powerbi-client'].models;
    var pageIndex = 0  
    var reportid
    var accessToken
        var embedUrl
        var embedReportId
       var reportContainer
       var report

        $('.invnav').click(function () {
            reportid = $(this).attr("reportid");
            var subnavdiv = $(this).attr("subnavdiv");
            $('.iframe').remove();
            $("#" + subnavdiv + " ul").after(iframe)

            $("#rptText").text($("#" + subnavdiv + " ul li:first-child a").text()); 
            getreport(reportid)
        }
        )
        function getreport(reportid) {
            $.ajax({
                type: "GET",
                async: false,
                data: { "id": reportid },
                url: "http://digitalassets.acepointe.com/Dashboards/GetReport",
                success: function (response) {
                    embedReportId = JSON.parse(response).Id
                    accessToken = JSON.parse(response).EmbedToken.Token
                    embedUrl = JSON.parse(response).EmbedUrl
                    embedreport();
                 //   alert(accessToken)
                },
                error: function (xhr, ajaxOptions, thrownError) {

                    console.log(xhr.status + " " + thrownError);
                }
            });}
        function embedreport() {
                    var config = {
                        type: 'report',
                        tokenType: models.TokenType.Embed,
                        accessToken: accessToken,
                        embedUrl: embedUrl,
                        id: embedReportId,
                        permissions: models.Permissions.All,
                        settings: {
                            filterPaneEnabled: false,
                            navContentPaneEnabled: false
                        }
                    }
                reportContainer = $('#embedContainer')[0];
                report = powerbi.load(embedContainer, config);
                report.on("loaded", function () {
                    console.log("loaded event executing");
                    report.getPages().then(
                        function (pages) {
                            var startPage = pages[pageIndex]; 
                            config.pageName = startPage.name;
                            report.render(config);
                        });
                });
        }

        $('.sbnav li a').click(function () {

            $('.sbnav li a').css("color", "black")
            $(this).css("color", "#b96666")
            var curr = $(this).text();
            var id = $(this).attr("href");
            $("#rptText").text(curr);
            pageIndex = $(this).attr("id")
            changepage(pageIndex);
            $(id).removeClass("hidden");
        });

 

        function changepage(pageIndex) {      
               report.getPages().then(function (pages) {
                   pages[pageIndex].setActive();
        });


        }


    </script>
</body>
</html>
