﻿<!DOCTYPE html>
<html>
<head>
    <!-- Basic -->
    <meta charset="UTF-8">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- Web Fonts  -->
    <!-- Vendor CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/css/all.css" />
    <link rel="stylesheet" href="~/css/magnific-popup.css" />
    <link rel="stylesheet" href="~/css/bootstrap-datepicker.css" />
    <link href="~/css/pnotify.custom.css" rel="stylesheet" />

    <!-- Skin CSS -->
    <link rel="stylesheet" href="~/css/default.css" />
    <!-- Theme Custom CSS -->
    <!-- Theme CSS -->
    <link rel="stylesheet" href="~/css/theme.css" />

    <style type="text/css">
        .offblack {
           color:#191818;
        }
        .header2 {
            border-bottom:none;
        }
      
        .input-group-Size{
            font-size:16px !important;
        }
        .body-sign .card-sign .card-title-sign .title {
            color: #000 !important;
            background-color: rgba(255, 255, 255, 0.88);
        }

        .body-sign .card-sign .card-body {
            background: rgba(255, 255, 255, 0.9) !important;
            border-top: 5px solid rgba(255, 255, 255, 0.1) !important;
            border-radius: 5px 0 5px 5px;
            -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
            padding: 33px 33px 15px;
            box-shadow: 2px 2px 7px 2px rgba(0, 0, 0, 0.33);
        }

      

        input.form-control.form-control-lg {
       
            color: #000 !important;
        }

        img#logo {
            margin-top: 15px;
            margin-left: 5px;
        }

        a.float-right {
            color: #007bff !important;
        }

       
        .body-sign .line-thru:after {
            border-bottom: 1px solid #aaa9b5 !important;
            content: '';
            display: block;
            left: 10%;
            position: absolute;
            top: 47%;
            width: 81%;
            z-index: 1;
        }

        .body-sign .line-thru:before {
            background-color: #E8E8E9 !important;
            content: '';
            height: 10px;
            left: 50%;
            position: absolute;
            margin: -5px 0 0 -20px;
            top: 50%;
            width: 40px;
            z-index: 2;
        }

        .labelcolor {
            color: #6f6767 !important;
        }
    </style>
    <link rel="stylesheet" href="~/css/custom.css">
    @* <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">*@

    <!-- Head Libs -->
    <Script src="~/Scripts/modernizr-2.8.3.js"></Script>
</head>
<body>
    <header class="header header2" style="background-color:transparent">
        <div class="logo-container">
            <a href="/" class="logo">
                <img src="~/img/da_logo_draft2.png" alt="Digital Assets Logo" width="102" height="73">
            </a>
            <div class="d-md-none toggle-menu" data-toggle="collapse" data-target=".tab-navigation">
                <i class="fas fa-bars" aria-label="Toggle Menu"></i>
            </div>
        </div>
    </header>
    <div class="container body-content">
        @RenderBody()
    </div>
    <iframe id="timeseriesInvestment" style="display:none;overflow:hidden; height:100%; width:100%;border:none !important; width:100%; height:100%;
                                       " src="http://localhost:42734/Home/EmbedReport?guid=044e4b31-f34d-42f2-82ee-ea2980820ec2"></iframe>

    <!-- Vendor -->
    <Script src="~/Scripts/jquery.js"></Script>
    <Script src="~/Scripts/jquery.browser.mobile.js"></Script>
    <Script src="~/Scripts/popper.min.js"></Script>
    <Script src="~/Scripts/bootstrap.js"></Script>
    <Script src="~/Scripts/bootstrap-datepicker.min.js"></Script>
    <Script src="~/Scripts/common.js"></Script>
    <Script src="~/Scripts/nanoscroller.js"></Script>
    <Script src="~/Scripts/jquery.magnific-popup.js"></Script>
    <Script src="~/Scripts/jquery.placeholder.js"></Script>
    <Script src="~/Scripts/pnotify.custom.js"></Script>
    <Script src="~/Scripts/jquery.validate.js"></Script>
    <script src="~/Scripts/custom.js"></script>
    <!-- Theme Base, Components and Settings -->
    <Script src="~/Scripts/theme.js"></Script>


    <!-- Theme Custom -->
    <!-- Theme Initialization Files -->
    <Script src="~/Scripts/theme.init.js"></Script>
    <Script src="~/Scripts/examples.modals.js"></Script>
    <Script src="~/Scripts/examples.validation.js"></Script>



</body>
</html>
