﻿@{
    ViewBag.Title = "TestAC";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<h2>TestAC</h2>

<input type="text" id="mpvalue" name="mpvalue" />
 
<script type="text/javascript">
    $(document).ready(function () {
 
        $('#mpvalue').autocomplete({
            source: '@Url.Action("GetMP")'
        });
 
    })
</script>