﻿@{
    ViewBag.Title = "About";
}
@{
    Layout = "~/Views/Shared/_LayoutSearch.cshtml";
}
<section style="background:whitesmoke">
<div id="body" class="row" style="background:#e8e8e8">
    <div class="container">
				<!--Intro -->
				<h1 class="title" style="padding-top:30px;">About <span class="bolder">Us</span></h1>
				<p class="mb40 text-center"style="font-size:24px;" >
                 <strong>DiverzFlair</strong> is a platform that allows members to connect with others to share ideas and information. 
                    <br />
                   
                    This is an exclusive platform open to select members based on professionalism and focus. 
                     <br />
                    <br />
                   

                </p>
  </div>                  
				<!--End Intro-->
    </div>
		<!--Main Container-->
		<div class="container">
			<div>
<h1 class=""> Member benefits</h1>
               
				<!--Why Join Us-->
				<div class="valign-wrapper blog_block">
					<div class="row">
						<div class="col-md-4">
							<div >
								<h5>
							
						
								<span>
								<img style="height:30px;width:30px;"  src="../../Content/images/FindBFconnect_sm.png" alt="" />
								</span>
                                    <span class="system_font_color" style="text-align:center"><strong>Find...Be found...Connect</strong></span>
								</h5>
								
							</div>
							<div class="mb40">
								<p style="font-size:15px; line-height:30px">
									Meet and collaborate with professionally-minded people like you. 
                                    Connect with highly skilled and professional people that can help you in your next move towards the top. 
                                    
								</p>
							</div>
							</div>
					
					<div class="col-md-4">
							<div >
								<h5>
							
						
								<span
                                    ><img style="height:30px;width:30px;"  src="../../Content/images/DiscoverOp_sm.png" alt="" />
									
								</span>
                                    <span class="system_font_color" style="text-align:center"><strong>Discover Opportunities</strong></span>
								</h5>
								
							</div>
							<div class="mb40">
								<p style="font-size:15px; line-height:30px">
									Members on the DiverZFlair platform are highly connected people working as decision makers in their different industries. 
                                    This platform gives you unrestricted access to them. 
                                    
								</p>
							</div>
							</div>
                       
					<div class="col-md-4">
							<div >
								<h5>
							
						
								<span>
									<img style="height:30px;width:30px;" src="../../Content/images/BeInTheKnow_sm.png" alt="" />
								</span>
                                    <span class="system_font_color" style="text-align:center"><strong>Be in the know</strong></span>
								</h5>
								
							</div>
							<div class="mb40">
								<p style="font-size:15px; line-height:30px">
									DiverZFlair members are constantly sharing ideas about the "next big things" in their industries. 
                                    This platform gives you an opportunity to catch on to disruptive ideas and technologies.
                                    
								</p>
							</div>
							</div>		
					</div>
				</div>
                <!-- End Why Join Us-->

                <!--Who Is Eligible-->
			<div class="row mb40">
					<div class="col-sm-12">
						
                         <h1 class="">Who is eligible to join?</h1>  
                             
                            <p style="color:#666666; font-family:Open Sans,sans-serif">
							You.. Our members are the best of the best in their fields and we assume you are as well.
                                 We go through a rigorous screening process with might involve interviewing our candidates. 
                                We review your applications thoroughly to ensure that you meet the quality standards that our members have
						</p>
					   
                       
                     </div>
                    
					
				</div>
                <!--End Who Is Eligible-->

				
				
			</div>
		</div>
    <div class="row" style="background:whitesmoke; margin-bottom:0">
					<div class="col-sm-12 text-center">
                        <h1 style="color:#196F3D">Are you eligible?</h1>
						<h1 style="color:#196F3D" >
                          <strong> Come join our community, let's have fun and let's make a difference!</strong>
					    </h1>
                        <a id="signupabout" class="btn system_btn">Join Now</a>
                     </div>
                    
					<div class="col-sm-12 text-center" style="margin:5px 0">
						
					</div>
				</div>
		<!--End Main Container-->



	</section>