﻿@model BioMVC4.Models.LoginModel

@{
    ViewBag.Title = "AfterLogin";
}

<h2>After Login</h2>
@if (Session["UserName"] != null)
{
    <text>
        Welcome @Session["UserName"].ToString()
        Login was successful!
    </text>
}
