﻿@{
    ViewBag.Title = "Contact";
}

@{
    Layout = "~/Views/Shared/_LayoutSearch.cshtml";
}
<section style="background:whitesmoke">
 <div class="container">
			<div class="ptb-60">
				<!--Intro-->
				<h1 class="title">Contact <span class="bolder">Us</span></h1>
				
				<!--End Intro-->

				<!--Main Content-->
				<div class="row"  style="text-align:center">
					<h3 class="system_font_color mb30 h23">Got a question? or a suggestion? We'd love to hear from you! </h3>
					<div class="col-sm-6" style="margin:0 auto; float:none;">
                      
						@Html.Raw(TempData["ContactMessageResult"])
						<form id="contactform" class="form-horizontal" method="post" action="/Auth/ContactUs">
							<div class="form-group">
								<div class="col-sm-12">
									<input type="text" class="form-control" name="name" id="name" placeholder="Your Name" data-msg-required="Please enter your name.">
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-12">
									<input type="text" class="form-control" name="emailaddress" id="email" placeholder="Email Address" data-msg-required="Please enter your email.">
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-12">
									<input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-msg-required="Please enter subject.">
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-12">
									<textarea class="form-control" name="message" rows="4" cols="50" id="message" placeholder="Message" data-msg-required="Please enter your message."></textarea>
								</div>
							</div>
                            <div class="form-group hidden">
								<div class="col-sm-12">
									<p class="form-control"  id="To"></p>
								</div>
							</div>
                          
							<div class="mob_center" style="margin:20px 0">
								<button id="conform" class="btn system_btn submit-form">Send Message</button>
							</div>
						</form>
                       
					</div>
					
				</div>
				<!--End Main Content-->

			</div>
		</div>
    </section>