﻿@{
    ViewBag.Title = "Home";
    ViewBag.Id = @Session["ActiveMemberID"];
  
}
<!--Main-->
<main class="cd-main bgpattern" >
    <!--Inner Main Section-->
    <section class="cd-section visible">
        <section>
            <div class="container text-center">
              
		
                <span class="testimonial-divider testimonial-divider-color"></span>

			
            </div>
        </section>
    </section>
    <section style="padding-top:60px;padding-bottom:20px">
        <p class="text-center whitetext bolder" style="font-size:24px; padding-bottom:20px;">
            <strong>A network of Nigerian professionals collaborating for a good cause</strong></p>
        <div class="container">
            <div class="alert hidden" id="contactError" style="padding:0px;color:red;text-align:center;">
                <strong>Please enter search criteria</strong>
            </div>
            <div class="col-sm-3">
                 
            </div>
            <div class="col-sm-6">
                <div class="input-group">
                    <input type="text" style="min-height: 50px" class="form-control searchbar" placeholder="Keyword search ... ">
                    <span class="input-group-btn">
                        <button id="bs" style="min-height: 50px; background: #ffffff; border: 1px solid #cccccc; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset; border-left: none;"
                                class="btn searchbtn" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>

                </div>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </section>
    <section>
        <!-- Btn-->
        <div class="text-center">
            <button id="member_login" type="button" class="btn system_btn mr25">Member login</button>
            <button id="member_signup" type="button" class="btn system_btn">Member Sign up</button>
        </div>
        <div class="hidden">
            <p id="id">@Session["ActiveMemberID"]</p>
        </div>
    </section>
    <!--End Inner Main Section-->
    
	
</main>

