﻿@{
    ViewBag.Title = "PrivacyPolicy";
    Layout = "~/Views/Shared/_LayoutPlain.cshtml";
}

<section style="background:whitesmoke">
<div id="pp" class="row" style="background:#e8e8e8">
    <div class="container">
				<!--Intro -->
				<h1 class="title pp fivemb" style="padding-top:30px;">Privacy <span class="bolder">Policy</span>
                    <span style="float:right;font-size:18px;bottom:0px;font-style:italic"><strong>Last updated : 11th June 2017</strong></span>
				</h1>
        
		
  </div>                  
				<!--End Intro-->
    </div>
		<!--Main Container-->
		<div class="container">
			<div>

                <div class="mb40">
								<p style="font-size:15px; line-height:30px;padding-top: 30px;">
									AcePointe ("us", "we", or "our") operates http://www.diverzflair.com (the "Site"). This page informs you of 
                    our policies regarding the collection, use and disclosure of Personal Information we receive from users of the Site.
                                    
								</p>
                    <p>
                                                                                    We use your Personal Information only for providing and improving the Site. 
                        By using the Site, you agree to the collection and use of information in accordance with this policy.
                    </p>
							</div>
             <h1 class="title fivemb"></h1>
<div class="row">
                        <h3 class="pp omb"> Information Collection And Use</h3>
						<div class="col-md-12">
							<div class="mb40">
								<p>
							
						While using our Site, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you. 
                                    Personally identifiable information may include, but is not limited to your name ("Personal Information").
								</p>
								
							</div>					
							</div>
	
					</div>
                 <h1 class="title fivemb"></h1>
				<div class="row">
                    <h3 class="pp omb"> Communication</h3>
						<div class="col-md-12">
							<div class="mb40">
								<p>
							
                              We may use your Personal Information to contact you with newsletters, marketing or promotional materials.
								</p>
								
							</div>					
							</div>
	
					</div>		
                          
                <h1 class="title fivemb"></h1>
				<div class="row">
                    <h3 class="pp omb"> Cookies</h3>
						<div class="col-md-12">
							<div class="mb40">
								<p>
							Cookies are files with small amount of data, which may include an anonymous unique identifier. 
                                    Cookies are sent to your browser from a web site and stored on your computer's hard drive
								</p>
                                <p>
                                    Like many sites, we use "cookies" to collect information. You can instruct your browser to refuse all cookies or to
                                     indicate when a cookie is being sent.
                                     However, if you do not accept cookies, you may not be able to use some portions of our Site.
                                </p>
								
							</div>					
							</div>
	
					</div>		
         	
                <h1 class="title fivemb"></h1>
				<div class="row">
                    <h3 class="pp omb"> Security</h3>
						<div class="col-md-12">
							<div class="mb40">
								<p>
							The security of your Personal Information is important to us, but remember that no method of transmission over the Internet, 
                                    or method of electronic storage, is 100% secure. While we strive to 
                                    use commercially acceptable means to protect your Personal Information, we cannot guarantee its absolute security.
								</p>
								
							</div>					
							</div>
	
					</div>	

              
			

@*			<div class="row mb40">
					<div class="col-sm-12">
						
                         <h1 class="">Who is eligible to join?</h1>  
                             
                            <p style="color:#666666; font-family:Open Sans,sans-serif">
							You.. Our members are the best of the best in their fields and we assume you are as well.
                                 We go through a rigorous screening process with might involve interviewing our candidates. 
                                We review your applications thoroughly to ensure that you meet the quality standards that our members have
						</p>
					   
                       
                     </div>
                    
					
				</div>*@
            

				
				
			</div>
		</div>
    <div class="row" style="background:#e8e8e8; margin-bottom:0">
					<div class="col-sm-12">
                        	<div class="row" style="background:#e8e8e8">
                    
						<div class="container">
                            <h1 class="pp omb" style="font-weight:bold;margin-bottom:20px;"> Changes to this policy</h1>
							<div class="mb40">
								<p>
							This Privacy Policy is effective as of <strong>June 11th, 2017</strong> and will remain in effect except with respect to any changes
                                     in its provisions in the future, which will be in effect immediately after being posted on this page.
								</p>
                                <p>
							We reserve the right to update or change our Privacy Policy at any time and you should check this Privacy Policy periodically. 
                                    Your continued use of the Service after we post any modifications to the Privacy Policy on this page will constitute your acknowledgment of 
                                    the modifications and your consent to abide and be bound by the modified Privacy Policy.
								</p>
                                <p>
                                    If we make any material changes to this Privacy Policy, we will notify you 
                                    either through the email address you have provided us, or by placing a prominent notice on our website.
                                </p>
                                <h3 class="text-center pp">If you have any questions about this Privacy Policy, please contact us at info@acepointe.com.</h3>
								
							</div>					
							</div>
	
					</div>	
                    
                     </div>
                    
					<div class="col-sm-12 text-center" style="margin:10px 0">
						
					</div>
				</div>
		<!--End Main Container-->



	</section>


