﻿@{
    ViewBag.Title = "Referral";
    Layout = "~/Views/Shared/_LayoutSearch.cshtml";
}

<section style="background:whitesmoke">
<div class="container" >
			<div class="ptb-60">
				<!--Intro-->
				<h1 class="title">Refer<span class="bolder"> A Friend</span></h1>
				
				<!--End Intro-->

				<!--Main Content-->
				<div class="row"  style="">
                    <div class="col-sm-6">
					<p class=""> Do you know someone who would be a great addition to this network? or someone who could benefit from this platform?
                      We’ve made it easy to make an introduction.</p>
                        <p>To refer someone, please provide the person's information in this form and we'll handle the rest! Thank you for helping DiverzFlair grow!</p>
                        </div>
					<div class="col-sm-6">
                          <div class="alert alert-danger hidden" id="contactError" style="margin-top:10px;color:red">
								<strong>Error sending email. Please try again later</strong>
							</div>
                          <div class="alert alert-success hidden" id="contactSuccess" style="margin-top:10px;color:green">
								<strong>Email sent</strong>
							</div>
						
						<form id="referralform" class="form-horizontal" method="post" action="/Home/ReferPerson">
                            <div class="row">
                                @Html.Raw(TempData["ReferralMessageResult"])
							<div class="form-group">
								<div class="col-sm-12">
                                    <div class="col-sm-6">
                                     <input type="text" class="form-control" name="fname" id="fname" placeholder="First Name*" data-msg-required="Please enter person's first name.">
                                    </div>
                                     <div class="col-sm-6">
                                         									<input type="text" class="form-control" name="lname" id="lname" placeholder="Last Name*" data-msg-required="Please enter person's last name.">

                                    </div>
								</div>
							</div></div>
							<div class="form-group">
								<div class="col-sm-12">
									<input type="text" class="form-control" name="email" id="email" placeholder="Email Address*" data-msg-required="Please enter person's  email.">
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-12">
									<input type="text" class="form-control" name="subject" id="subject" placeholder="Subject (Optional)">
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-12">
									<textarea class="form-control" name="message" rows="4" cols="50" id="message" placeholder="Your Message (Optional)"></textarea>
								</div>
							</div>
                            <div class="form-group hidden">
								<div class="col-sm-12">
									<p class="form-control"  id="To"></p>
								
							</div>
                           
                          </div>
							<div class="mob_center" style="margin:20px 0">
								<button id="refform" class="btn system_btn submit-form">Send Invitation</button>
							</div>
						</form>
                       
					</div>
					
				</div>
				<!--End Main Content-->

			</div>
		</div>
    </section>