@{
    ViewBag.Title = "Zion Portal";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div class="inner-wrapper" style="background:#ffffff ; padding:0px !important">

    <section role="main" class="content-body" style="background:#ffffff ; padding:0px !important">
      



        <!-- end: page -->
    </section>

</div>