﻿@model List<BioMVC4.SearchUserString_Result>

@{
    ViewBag.Title = "Search Results";
    Layout = "~/Views/Shared/_LayoutNav.cshtml";
}
<section style="background-color:whitesmoke">
<section style="padding-top: 60px;">
    <div class="container">
        <div class="input-group">
            <input id="searchbar" type="text" style="min-height: 50px" class="form-control searchbar" placeholder="Refine search ... ">
            <span class="input-group-btn">
                <button id="sb1"style="min-height: 50px; background: #ffffff; border: 1px solid #cccccc; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset; border-left: none;"
                        class="btn searchbtn" type="button">
                    <i class="fa fa-search"></i>
                </button>
            </span>

        </div>
    </div>
    <div class="alert hidden" id="contactError" style="padding:0px;color:red;text-align:center;">
        <strong>Please enter search criteria</strong>
    </div>
</section>
<section>
    <div class="row">
        <div class="container">
            <div class="col-sm-12">
                <p class="system_font_color" style="font-size:30px">Search results for <span id="searchvalue" class="bolder" style="color:red">@ViewBag.Id</span></p>
            </div>

        </div>
    </div>
</section>
<section >
    <div class="container" >
        @if (Model.Count == 0)
        {
            <h1 class="text-center" style="height:100% !important">No records found</h1>
        }
        else
        {
            foreach (var
                 item in Model)
             {
                 <div class="row profile"  style="background:#fff;padding-left: 10px; border: 1px solid #cccccc; cursor:pointer">
                     <div class="">
                       
                         <div class="row valign-wrapper">

                             <div class="col-sm-3 home_author_name home_author_name2">
                                 <img class="img simg img-responsive" style="-ms-border-radius: 50%; border-radius: 50%; width: 250px; height: 250px;" src="@Html.DisplayFor(modelItem => item.MemberProfilePhotoURL)" alt="@item.MemberFirstName's Photo">
                             </div>
                             <div class="col-sm-9 home_author_name">
                                 <div class="row text-left">
                                     <div class="home_author_details">

                                         <div class="col-sm-12">
                                             
                                           

                                                 <h2 class="bolder">
                                                     <span class="bolder" style="text-align: left">@Html.DisplayFor(modelItem => item.MemberFullName)</span>
                                             
                                                        
                                                        </h2>
                                            
                                            <p> @Html.DisplayFor(modelItem => item.MemberDescription)</p>


                                         </div>

                                     </div>
                                 </div>
                                 <div class="row">
                                     <div class="col-sm-10">
                                         <p class="memberprofileid">
                                            
                                             
                                         </p>

                                     </div>
                                 </div>
                                 <div class="row">
                                     <div class="modal_profile_tag">
                                        <p id="tags" class="hidden">
                                             @Html.DisplayFor(modelItem => item.Tag)
                                         </p>
                                        
                                        @{
                                            var tr = Html.DisplayFor(modelItem => item.Tag);
                                            string t = tr.ToString();
                                            string[] tags = t.Split('|');

                                            foreach (var tt in tags)
                                            {
                                                <span  class="" style="font-size:10px;padding:2px;">@tt</span>
                                            }
                                        }

                                     </div>
                                 </div>
                                   <p class="memberprofileid">
                                            
                                            <span>
                                                 <a id="memberid"  href='@Html.DisplayFor(modelItem => item.MemberID)' class="btn" data-menu=""></a>
                                               
                                             </span>    
                                         </p>
                              
                             </div>
                         </div>
                     </div>
                 </div>
                 <section style="padding-top:30px"></section>
             }
        }

    </div>
</section>
<section style="padding:30px"></section>
</section>

