﻿@{
    Layout = "~/Views/Shared/_LayoutNav.cshtml";
}
@model BioMVC4.Models.LoginModel



<section style="padding-top:60px; background:whitesmoke">
    <div class="row"> </div>
    <div class="container" >
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <h3 style=" border-bottom:none;margin-bottom:10px;text-align:center">Please enter your login credentials below</h3>
            <form id="form" method="post"action="/Auth/ValidateUser" class="form-horizontal bgcolor" style="padding:40px; padding-bottom:10px;border: 1px solid #cccccc;">
                <div class="form-group">
                    <div class="col-sm-12">
                        <input type="text"  value="" class="form-control" name="username" id="username"  Placeholder="Email Address" data-msg-required="Please enter your Email Address.">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <input type="password" value="" class="form-control" name="pwd" id="pwd" Placeholder="Password" data-msg-required="Please enter your password.">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <span><label class="checkbox-inline" style="color:#ffffff;font-style:italic;font-size:14px;text-align:right;">
                                <input type="checkbox" name="RememberMe" id="RememberMe" value="">Remember me</label>
                           
                        </span>
                        <span style="float:right;padding-right:10px"><a href="@Url.Action(
                                                                                  controllerName: "Auth", 
                                                                                  actionName: "ResetPassword" 
                                                                                  )" style="color:#ffffff;font-style:italic;font-size:14px;text-align:right;">Forgot password?</a></span>
                    </div>
                </div>
							
                <div class="mob_center">
                    <span><button id="login-form" class="btn system_btn submit-form">Login</button></span>
                </div>
            </form>
            <div>            
                @Html.Raw(@TempData["Result"])
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
</section>
