﻿@model dynamic

@{
    Layout = "~/Views/Shared/_LayoutNav.cshtml";
}

<section style="padding-top:60px">
    <div class="row"> </div>
    <div class="container" >
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <h3 style=" border-bottom:none;margin-bottom:10px;text-align:center"></h3>
            <form id="rform" action="/Auth/SendResetPasswordEmail"  class="form-horizontal " style="padding:40px; padding-bottom:10px;border: 2px solid #0abea8;">
                <div class="form-group">
                    <div class="col-sm-12" style="text-align:center">
                        <p>Enter your e-mail below to receive reset instructions.</p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <input type="text" name="email" class="form-control" id="email" placeholder="Email Address"/>
								
                    </div>
                </div>
							
							
                <div class="mob_center" style="text-align:center">
                    <span><button id="resetpassword-form" class="btn system_btn submit-form">Reset</button></span>
                        
                    <p>Remembered?<a href="@Url.Action(
                                               controllerName: "Auth", 
                                               actionName: "Login" 
                                               )"> Sign In!</a></p>
                                
                </div>
            </form>
            <div>            
                @Html.Raw(@TempData["emailResult"])
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
</section>
