﻿@model dynamic

@{
    Layout = "~/Views/Shared/_LayoutNav.cshtml";
}

<section style="padding-top:60px">
    <div class="row"> </div>
    <div class="container">
             
          
       
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
              @Html.Raw(@TempData["emailResult"])
        
             @Html.Raw(@TempData["updatePWDResult"])
            <form id="sform" action="/Auth/SetPasswordTemp" class="form-horizontal " style="padding: 20px; padding-bottom: 20px; border: 2px solid #0abea8;">

                <div class="form-group">
                    <div class="col-sm-12" style="text-align: center">
                        <p>Reset Password</p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <input type="text" value="" class="form-control" name="email" id="email" Placeholder="Email" data-msg-required="Please enter your  Temporary password.">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <input type="password" value="" class="form-control" name="temppwd" id="temppwd" Placeholder="Temporary Password" data-msg-required="Please enter your  Temporary password.">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <input type="password" value="" class="form-control" name="newpwd" id="newpwd" Placeholder="New Password" data-msg-required="Please enter your new password.">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <input type="password" value="" class="form-control" name="newpwd2" id="newpwd2" Placeholder="Re-enter new Password" data-msg-required="Please re enter your new password.">
                    </div>
                </div>


                <div class="mob_center" style="text-align: center">
                    <span><button id="setpassword-form" class="btn system_btn submit-form">Reset Password</button></span>

                    <br />

                </div>
            </form>
            <br />
        </div>
        <div class="col-sm-3"></div>
    </div>
</section>
