﻿@{
    ViewBag.Title = "EklipseConsult | Disclaimer";
    Layout = "~/Views/Shared/_MainFrame.cshtml";
}
<div class="container-fluid">
    <div class="container">
        <div id="wiz_container">

            <div id="middle-wizard">
                <div class="">
                    <div class="summary">
                        <h1 class="main_title sz-text-md"> Instructions</h1>
                        <p>
                            The numerical reasoning test measures your ability to use numerical information presented in a variety of ways as a tool to make decisions. 
                            <br />
                            <br />
                            In this test, you will be given numerical scenarios and asked several questions based on the scenarios given.
                            <br />
                            <br />
                            All questions are multiple choice and there is only one correct answer. The test cannot be paused. Try to take the test in an environment where you will not be disturbed.
                        </p>
                        <br />
                        <p>
                            <b>You have 15 minutes to complete 10 questions. </b>
                            Once you have answered a question, you will be able to go back to change your previous answer.
                            <br />
                            <br />
                           <b>IMPORTANT:</b>  Use only the Back button at the bottom of the test page to go back. 
                            
                            Do not use the Back button on your browser as this may interfere with your test.
                            <br />
                            <br />
                            Please have a calculator handy as you will need it for some of the questions
                        </p>

                        <br />
                        <p>
                            Click the <b>“Begin Test”</b> button below to begin your test. Good luck!
                        </p>
                    </div>


             

                </div>
                <!-- /step-->
            </div>
            <!-- /middle-wizard -->
            <div id="bottom-wizard">
                <button id="starttest" name="" class="submit">Begin Test</button>
            </div>
            <!-- /bottom-wizard -->

        </div>
        <!-- /Wizard container -->
    </div>
</div>








