﻿@{
    ViewBag.Title = "EklipseConsult | Disclaimer";
    Layout = "~/Views/Shared/_AssessmentFrame.cshtml";
}

<div class="col-lg-6 content-right" id="start">
    <div id="wiz_container" class="width80%">
        <form name="wrapped">
            <div id="middle-wizard">
                <div class="">
                    <div class="summary">
                        <h1 class="main_title sz-text-md"> Disclaimer</h1>
                        <p>
                            The assessment contained on this website is for screening purposes only. While passing this Aptitude test is a prerequisite for enrolling in an Eklipse Consult program, it does not guarantee your enrollment in a class.
                            <br />
                            <br />
                            EklipseConsult administrators reserve the right to  assess a prospective student based on other information as well and can refuse enrollment despite a prospective student passing this test.
                        </p>
                        <br />
                        <p>
                            While we (EklipseConsult) endeavor to keep the information on this site up to date and correct, we make no representations or warranties of any kind, express or implied, 
                            about the completeness, accuracy, reliability, suitability or availability with respect to the website or the information, services, or related graphics contained on the website for any purpose. 
                            <br />
                            <br />
                             Any reliance you place on anything related to this site is strictly at your own risk and in no event will we be liable for any loss or damage including without limitation, 
                            indirect or consequential loss or damage, or any loss or damage whatsoever arising from loss of data or profits arising out of, or in connection with, the use of this website.

                        </p>

                        <br />
                        
                    </div>
                    <div class="form-group terms">
                        <label class="container_check">
                            Please accept our <a href="#" data-toggle="modal" data-target="#terms-txt">Terms and conditions</a>
                            <input type="checkbox" name="terms" class="required">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
                <!-- /step-->
            </div>
            <!-- /middle-wizard -->
            <div id="bottom-wizard">
                <button name="submit" class="submit">Proceed to Next Step</button>
            </div>
            <!-- /bottom-wizard -->
        </form>
    </div>
    <!-- /Wizard container -->
</div>




