﻿<%@ Page Title="" Language="C#" MasterPageFile="mlsAdmin.master" AutoEventWireup="true" CodeFile="ReportConfig.aspx.cs" Inherits="ReportConfig" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
</asp:Content>

