﻿<%@ Page Title="" Language="C#" MasterPageFile="~/mls_Admin/mlsAdmin.master" AutoEventWireup="true" CodeFile="TestResult.aspx.cs" Inherits="mls_Admin_TestResult" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <section>
    <div id="StudentTableContainer"></div>
        </section>
</asp:Content>

