﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ZionPortalLayout.cshtml";
}

<head>
    <script src="~/Content/ViewResources/arizonaZipCodes.js"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                <div class="btn-group-vertical w-100 mt-4">
                    <button id="btnAnnouncementSection" class="btn btn-outline-primary active">Announcements</button>
                    <button id="btnTaskSection" class="btn btn-outline-primary active">Tasks</button>
                    <button id="btnStudentSection" class="btn btn-outline-primary active">Students</button>
                    <button id="btnInstructorSection" class="btn btn-outline-primary active">Instructors</button>
                    <button id="btnFacilitySection" class="btn btn-outline-primary active">Facilities</button>
                    <button id="btnRoomSection" class="btn btn-outline-primary active">Rooms</button>
                    <button id="btnCourseSection" class="btn btn-outline-primary active">Courses</button>
                    <button id="btnCourseScheduleSection" class="btn btn-outline-primary active">Schedule</button>
                </div>
            </div>
            <div class="col-9">
                <div class="container-fluid mt-4">
                    <div id="announcementSection" class="row mb-4">
                        <div class="col-12">
                            <div class="bg-primary w-100 text-white p-3 mb-0 rounded-top text-center">Announcements<button id="btnShowAnnouncementsForm" class="fa fa-plus btn btn-light float-right"></button></div>
                        </div>
                        <div class="col-12">
                            <div class="border border-primary p-3" id="announcementsForm"></div>
                        </div>
                        <div class="col-12">
                            <div class="border border-primary p-3" id="announcementsDiv"></div>
                        </div>
                    </div>

                    <div id="taskSection" class="row mb-4">
                        <div class="col-12">
                            <div class="bg-primary w-100 text-white p-3 mb-0 rounded-top text-center">Tasks<button id="btnShowTasksForm" class="fa fa-plus btn btn-light float-right"></button></div>
                        </div>
                        <div class="col-12">
                            <div class="border border-primary p-3" id="tasksForm"></div>
                        </div>
                        <div class="col-12">
                            <div class="border border-primary" id="tasksDiv"></div>
                        </div>
                    </div>

                    <div id="studentSection" class="row mb-4">
                        <div class="col-12">
                            <div class="bg-primary w-100 text-white p-3 mb-0 rounded-top text-center">Students</div>
                        </div>

                        <div class="col-12">
                            <div class="border border-primary w-100" id="studentGrid"></div>
                        </div>
                    </div>

                    <div id="instructorSection" class="row mb-4">
                        <div class="col-12">
                            <div class="bg-primary w-100 text-white p-3 mb-0 rounded-top text-center">Instructors</div>
                        </div>

                        <div class="col-12">
                            <div class="border border-primary w-100" id="instructorGrid"></div>
                        </div>
                    </div>

                    <div id="roomSection" class="row mb-4">
                        <div class="col-12">
                            <div class="bg-primary w-100 text-white p-3 mb-0 rounded-top text-center">Rooms</div>
                        </div>

                        <div class="col-12">
                            <div class="border border-primary w-100" id="roomGrid"></div>
                        </div>
                    </div>

                    <div id="courseSection" class="row mb-4">
                        <div class="col-12">
                            <div class="bg-primary w-100 text-white p-3 mb-0 rounded-top text-center">Courses</div>
                        </div>
                        <div class="col-12">
                            <div class="border border-primary w-100" id="courseGrid"></div>
                        </div>
                    </div>

                    <div id="facilitySection" class="row mb-4">
                        <div class="col-12">
                            <div class="bg-primary w-100 text-white p-3 mb-0 rounded-top text-center">Facilities</div>
                        </div>
                        <div class="col-12">
                            <div class="border border-primary w-100" id="facilityGrid"></div>
                        </div>
                    </div>

                    <div id="courseScheduleSection" class="row mb-4">
                        <div class="col-12">
                            <div class="bg-primary w-100 text-white p-3 mb-0 rounded-top text-center">Course Schedule</div>
                        </div>
                        <div class="col-12">
                            <div class="border border-primary w-100" id="courseScheduleGrid"></div>
                        </div>
                    </div>

                </div> 
            </div>
        </div>
    </div>
</body>

<style>
    .rect{
    text-align: center;
    /*font-size: 10px;*/
    padding-top: 10px;
    width: auto;
    height: 100%;
}
    .leftNav{
        text-align: center;
        min-width: 100%;
    }

.demo-light{
    background: rgba(245, 229, 166, 0.5)
}

.demo-dark{
    background: rgba(148, 215, 199, 0.5);
}

.demo-dark.header{
    background: rgba(243, 158, 108, 0.5);
}

.demo-dark.footer{
    background: rgba(123, 155, 207, 0.5);
}

.small{
    height: 50px;
    border: 1px solid lightgray;
}

</style>

<!--Left navigation pannel-->
<script>
    var leftNav = {

        announcement: $("#btnAnnouncementSection").click(function () {
            $(this).toggleClass("active");
            $("#announcementSection").fadeToggle();
        }),

        task: $("#btnTaskSection").click(function () {
            $("#taskSection").fadeToggle();
            $(this).toggleClass("active");
        }),

        student: $("#btnStudentSection").click(function () {
            $("#studentSection").fadeToggle();
            $(this).toggleClass("active");
        }),

        instructor: $("#btnInstructorSection").click(function () {
            $("#instructorSection").fadeToggle();
            $(this).toggleClass("active");
        }),

        room: $("#btnRoomSection").click(function () {
            $("#roomSection").fadeToggle();
            $(this).toggleClass("active");
        }),

        course: $("#btnCourseSection").click(function () {
            $("#courseSection").fadeToggle();
            $(this).toggleClass("active");
        }),

        facility: $("#btnFacilitySection").click(function () {
            $("#facilitySection").fadeToggle();
            $(this).toggleClass("active");
        }),

        schedule: $("#btnCourseScheduleSection").click(function () {
            $("#courseScheduleSection").fadeToggle();
            $(this).toggleClass("active");
        })
    };

    function HideAllButOne() {
        leftNav.announcement.click();
        leftNav.course.click();
        leftNav.facility.click();
        leftNav.room.click();
        leftNav.student.click();
        leftNav.task.click();
        leftNav.schedule.click();
    }
</script>
<!--Left navigation pannel-->

<!--Announcements widget-->
<script>
    $(function () {

        //Announcement Widget
        $("#announcementsDiv").dxList({
            dataSource: new DevExpress.data.DataSource({
                store: new DevExpress.data.CustomStore({
                    key: "announcementId",
                    type: "array",
                    loadMode: "raw",
                    load: function (loadOptions) {
                        var d = $.getJSON('/api/announcements');
                        return d;
                    },
                    remove: function (key) {
                        $.ajax({
                            url: "/api/announcements/" + encodeURIComponent(key),
                            method: "DELETE",
                        })
                    }
                })
            }),
            onItemClick: function (data) {
                                            var id = data.itemData.id;
                                            console.log(id);
                                            createCookie("announcementId", id, 1);
            },
            allowItemDeleting: true,
            height: 300,
            width: "100%",
            css: {"white-space":"normal"},
            itemTemplate: function (data, index) {
                var result = $("<div>").addClass("p-3 border border-primary rounded");
                $("<span>").addClass("h4 ml-3 p-3").text(data.title).appendTo(result);
                $("<span>").addClass("float-right badge badge-danger ml-3 p-1").text('  ' + (timeDifference(data.createdDate, new Date().toLocaleString()) == undefined ? 'Just now' : timeDifference(data.createdDate, new Date().toLocaleString()) + ' ago')).appendTo(result);
                $("<i>").addClass("float-right muted shadow-sm").text('    Posted : ' + new Date(data.createdDate).toDateString()).appendTo(result);
                $("<div>").addClass("").css({ "white-space": "normal" }).text(data.content).appendTo(result);
                return result;
            }
        }).dxList("instance");
    });
     
</script>
<!--Announcements widget-->

<!--Announcements form-->
<script>
    var announcementForm = function () {
        var url = "/api/announcements";

        function toggleForm() {
            var widget = $("#announcementsForm").dxForm("instance");
            currentValue = widget.option("visible");
            widget.option("visible", !currentValue);
            return !currentValue;
        }

        $("#btnShowAnnouncementsForm").click(
            function () {
                toggleForm();
                $(this).toggleClass("fa-plus, fa-minus");
            })

        var dataStore = new DevExpress.data.CustomStore({
            key: "announcementId",
            type: "array",
            loadMode: "raw",
            cacheRawData: false,
            insert: function (values) {
                return $.ajax({
                    url: url + "/" + encodeURIComponent(key),
                    method: "POST",
                    data: values
                })
            },
            load: function (loadOptions) {
                var d = $.getJSON(url);
                return d;
            },
            byKey: function (key) {
                return $.getJSON(url + "/" + encodeURIComponent(key));
            },
            insert: function (values) {
                return $.post(url, values);
            },
            remove: function (key) {
                return $.ajax({
                    url: url + "/" + encodeURIComponent(key),
                    method: "DELETE",
                });
            }
        });

        var dataSource = new DevExpress.data.DataSource({
            store: dataStore
        });

        var form = $("#announcementsForm").dxForm({
                visible: false,
                colCount: 1,
                labelLocation: "top",
                formData: {
                    title: "",
                    content: ""
                },
                items: [{
                    dataField: "title",
                    editorType: "dxTextBox",
                    caption: "Title",
                    editorOptions: {
                        placeholder: "Announcement title here",
                        disabled: false
                    },
                    label: {
                        visible: false
                    },
                    validationRules: [{
                        type: "required",
                        message: "A title is required"
                    }, {
                        type: "stringLength",
                        min: 10,
                        message: "Title is too short."
                    }]
                }, {
                    dataField: "content",
                    editorType: "dxTextArea",
                    caption: "Text",
                    editorOptions: {
                        placeholder: "Say Something...",
                        height: 100
                    },
                    label: {
                        visible: false
                    },
                    validationRules: [{
                        type: "required",
                        message: "Content is required"
                    }, {
                        type: "stringLength",
                        min: 10,
                        message: "Please add more content"
                    }]
                }, {
                    itemType: "button",
                    alignment: "right",
                    buttonOptions: {
                        text: "Post Announcement",
                        type: "default",
                        useSubmitBehavior: true,
                        onClick: function () {
                            var result = form.validate();

                            if (!result.isValid) {
                                return;
                            }
                            var data = form.option("formData");
                            console.log(data);

                            $.ajax({
                                data: JSON.stringify(data),
                                url: "/api/announcements",
                                method: "POST",
                                contentType: "application/json",
                                success: function () {
                                    $("#announcementsDiv").dxList("instance").reload();
                                    form.resetValues();
                                    DevExpress.ui.notify({
                                        message: "Announcement created",
                                        position: {
                                            my: "center top",
                                            at: "center top"
                                        }
                                    }, "success", 3000);
                                    $("#btnShowAnnouncementsForm").click();
                                }, error: function () {
                                    DevExpress.ui.notify({
                                        message: "Failed to create announcement. Please try again later.",
                                        position: {
                                            my: "center top",
                                            at: "center top"
                                        }
                                    }, "error", 3000);
                                }
                            });

                        }
                    }
                }]

            }).dxForm("instance");
           

        return {
            form: form,
            dataStore: dataStore,
            dataSource: dataSource,
            toggleForm: toggleForm
        }
    }();
</script>
<!--Announcements form-->

<!--Tasks widget-->
<script>
    var listWid = $(function () {

        //button to add task:

        var updateSelectedItems = function (e) {
            var item = new Object;

            if (e.addedItems.length > 0) {
                item = e.addedItems[0];
                item.isComplete = true;
            }
            else {
                item = e.removedItems[0];
                item.isComplete = false;
            }

            $.ajax({
                data: JSON.stringify(item),
                url: "/api/tasks/update",
                method: "PUT",
                contentType: "application/json"
            }).done(function () {
                e.component.getDataSource().load();
            });
            
        }

        var listWidget = $("#tasksDiv").dxList({
            dataSource: new DevExpress.data.DataSource({
                store: new DevExpress.data.CustomStore({
                    key: "taskId",
                    loadMode: "raw",
                    load: function (loadOptions) {
                        var d = $.getJSON('/api/tasks');
                        return d;
                    },
                    remove: function (key) {
                        $.ajax({
                            url: "/api/tasks/" + encodeURIComponent(key),
                            method: "DELETE",
                        })
                    }
                })
            }),
            itemTemplate: function (data, index, element) {
                var div = $("<div>");
                if (data.isComplete) {
                    var wrapperParent = element.parent();
                    $("<i>").addClass("fa fa-check-circle fa-lg text-success").appendTo(div);
                    $("<span>").addClass("ml-2").text(data.content).appendTo(div);
                }

                if (!data.isComplete){
                    $("<i>").addClass("fa fa-check-circle-o fa-lg text-muted").appendTo(div);
                    $("<span>").addClass("ml-2").text(data.content).appendTo(div);
                }
                return div;
            },
            onItemRendered: function (e) {
                if(e.itemData.isComplete)
                    e.itemElement.find(".dx-list-select-checkbox").addClass("dx-checkbox-checked");
            },
            editEnabled: true,
            searchEnabled: false,
            height: "auto",
            allowItemDeleting: true,
            itemDeleteMode: "toggle",
            showSelectionControls: true,
            selectionMode: "multiple",
            onSelectionChanged: function(e) {
                return updateSelectedItems(e);
            },
            allowItemReordering: true,
        }).dxList("instance");
    });

</script>
<!--Tasks widget-->

<!--Tasks form-->
<script>
    var tasksForm = function () {
        var url = "/api/tasks";

        function toggleForm() {
            var widget = $("#tasksForm").dxForm("instance");
            currentValue = widget.option("visible");
            widget.option("visible", !currentValue);
            return !currentValue;
        }

        $("#btnShowTasksForm").click(
            function () {
                toggleForm();
                $(this).toggleClass("fa-plus, fa-minus");
            })

        var dataStore = new DevExpress.data.CustomStore({
            key: "taskId",
            type: "array",
            loadMode: "raw",
            cacheRawData: false,
            insert: function (values) {
                return $.ajax({
                    url: url + "/" + encodeURIComponent(key),
                    method: "POST",
                    data: values
                })
            },
            load: function (loadOptions) {
                var d = $.getJSON(url);
                return d;
            },
            byKey: function (key) {
                return $.getJSON(url + "/" + encodeURIComponent(key));
            },
            insert: function (values) {
                return $.post(url, values);
            },
            remove: function (key) {
                return $.ajax({
                    url: url + "/" + encodeURIComponent(key),
                    method: "DELETE",
                });
            }
        });

        var dataSource = new DevExpress.data.DataSource({
            store: dataStore
        });

        var form = $("#tasksForm").dxForm({
            visible: false,
            colCount: 1,
            labelLocation: "top",
            formData: {
                content: ""
            },
            items: [{
                dataField: "content",
                editorType: "dxTextBox",
                caption: "Task",
                editorOptions: {
                    placeholder: "Create a task",
                    disabled: false
                },
                label: {
                    visible: false
                },
                validationRules: [{
                    type: "required",
                    message: "You cannot create an empty task"
                }, {
                    type: "stringLength",
                    min: 3,
                    message: "Please add more content"
                }]
            }, {
                itemType: "button",
                alignment: "right",
                buttonOptions: {
                    text: "Create Task",
                    type: "default",
                    useSubmitBehavior: true,
                    onClick: function () {
                        var result = form.validate();

                        if (!result.isValid) {
                            return;
                        }
                        var data = form.option("formData");
                        console.log(data);

                        $.ajax({
                            data: JSON.stringify(data),
                            url: "/api/tasks",
                            method: "POST",
                            contentType: "application/json",
                            success: function () {
                                $("#tasksDiv").dxList("instance").reload();
                                form.resetValues();
                                DevExpress.ui.notify({
                                    message: "Task Added",
                                    position: {
                                        my: "center top",
                                        at: "center top"
                                    }
                                }, "success", 3000);
                                $("#btnShowTasksForm").click();
                            }, error: function () {
                                DevExpress.ui.notify({
                                    message: "Failed to create a new task. Please try again later.",
                                    position: {
                                        my: "center top",
                                        at: "center top"
                                    }
                                }, "error", 3000);
                            }
                        });

                    }
                }
            }]

        }).dxForm("instance");


        return {
            form: form,
            dataStore: dataStore,
            dataSource: dataSource,
            toggleForm: toggleForm
        }
    }();
</script>
<!--Tasks form-->

<!--Student-->
<script type="text/javascript">

    var studentModule = function () {

        //store
        var url = "/api/Student";

        var dataStore = new DevExpress.data.CustomStore({
            key: "studentId",
            type: "array",
            loadMode: "raw",
            cacheRawData: false,
            load: function (loadOptions) {
                var d = $.getJSON(url);
                return d;
            },
            byKey: function (key) {
                return $.getJSON(url + "/" + encodeURIComponent(key));
            }, insert: function (values) {
                return $.post(url, values);
            },
            add: function (values) {
                return $.ajax({
                    url: url,
                    method: "POST",
                    data: values
                });
            },
            update: function (key, values) {
                return $.ajax({
                    url: url,
                    method: "PUT",
                    data: values
                });
            },
            remove: function (key) {
                return $.ajax({
                    url: url + "/" + encodeURIComponent(key),
                    method: "DELETE",
                });
            }
        });

        var dataSource = new DevExpress.data.DataSource({
            store: dataStore
        });

        var studentGrid = function () {
            $("#studentGrid").dxDataGrid({
                dataSource: dataSource,
                remoteOperations: { groupPaging: false },
                allowColumnReordering: true,
                allowColumnResizing: true,
                rowAlternationEnabled: true,
                hoverStateEnabled: true,
                onToolbarPreparing: function(e) {
                    var dataGrid = e.component;
                    e.toolbarOptions.items.unshift({
                        location: "after",
                        widget: "dxButton",
                        options: {
                            icon: "refresh",
                            onClick: function() {
                                dataGrid.refresh();
                            }
                        }
                    });
                },
                selection: {
                    mode: "single"
                },
                editing:{
                    mode: "batch",
                    allowAdding: true,
                    allowUpdating: true,
                    allowDeleting: true,
                    useIcons: true
                },
                onRowUpdating: function (options) {
                    $.extend(options.newData, $.extend(true, {}, options.oldData, options.newData));
                },
                columnAutoWidth: true,
                columnResizingMode: "widget",
                paging: {
                    pageSize: 10
                },
                pager: {
                    showPageSizeSelector: true,
                    allowedPageSizes: [10, 25, 50, 100],
                    showInfo: true,
                    infoText: "showing page {0} of {1} ({2} students)"
                },
                searchPanel: {
                    visible: true,
                    searchVisibleColumnsOnly: true
                },
                headerFilter: {
                    allowSearch: true,
                    visible: true
                }
                ,groupPanel:{
                    visible: true
                },
                columnChooser: {
                    enabled: true,
                    mode: "select"
                },
                columns: [{
                    dataField: "studentId",
                    caption: "Student Id",
                    allowGrouping: true,
                    allowEditing: false
                },{
                    dataField: "person.firstName",
                    caption: "First Name",
                    allowSearch: true,
                    validationRules: [{ type: "required" }]
                }, {
                    dataField: "person.lastName",
                    caption: "Last Name"
                },{
                    dataField: "person.dateOfBirth",
                    caption: "Birth Date",
                    dataType: "date",
                    allowGrouping: true
                },{
                    dataField: "person.gender",
                    caption: "Sex",
                    allowGrouping: true,
                    lookup: {
                        dataSource: ['Male', 'Female']
                    }
                },  {
                    calculateCellValue: function (rowData) {
                        if ( jQuery.isEmptyObject(rowData)) {
                            return null;
                        }
                            
                        return getAge(rowData.person.dateOfBirth);
                    },
                    caption: "Age",
                    allowFiltering: true,
                    allowSorting: true,
                    alllowGrouping: true,
                    allowEditing: false
                }, {
                    calculateCellValue: function (rowData) {
                        if (jQuery.isEmptyObject(rowData)) {
                            return null;
                        }
                        var delta = timeDifference(rowData.person.modifiedOn, new Date().toLocaleString()) || 'moments';

                        return delta + ' ago';
                    },
                    caption: "last updated",
                    allowFiltering: true,
                    allowSorting: true,
                    allowEditing: false,
                    cellTemplate: function (container, options) {
                        $("<div>")
                            .text(options.value)
                            .append("<i class='fa fa-clock-o float-left mt-1 mr-3 text-primary'>")
                            .appendTo(container);
                    }
                }, {
                    dataField: "person.modifiedBy",
                    caption: "Last Modified By",
                    allowEditing: false,
                    cellTemplate: function (container, options) {
                        $("<div>")
                            .text(options.value)
                            .append("<i class='fa fa-user float-left mt-1 mr-3 text-primary'>")
                            .appendTo(container);
                    }
                }
                ]
                //, masterDetail: {
                //    enabled: true,
                //    template: function (container, options) {
                //        var currentStudent = options.data;
                //        $("<div>")
                //            .addClass("master-detail-caption")
                //        .text(currentStudent.person.firstName + " " + currentStudent.person.lastName + "'s Courses:")
                //        .appendTo(container);

                //        $("<div>")
                //            .dxDataGrid({
                //                columnAutoWidth: false,
                //                showBorders: true,
                //                columns: [
                //                    {
                //                        caption: "Course",
                //                        dataField: "courseName",
                //                        width: 200
                //                    }, {
                //                        caption: "Date Started",
                //                        dataField: "createdOn",
                //                        dataType: "date",
                //                        width: 200
                //                    }, {
                //                        caption: "Date Completed",
                //                        dataField: "modifiedOn",
                //                        dataType: "date",
                //                        width: 200
                //                    }, {
                //                        caption: "Completed",
                //                        dataType: "boolean",
                //                        width: 100,
                //                        calculateCellValue: function (rowData) {
                //                            return (new Date(rowData.modifiedOn) > new Date(rowData.createdOn));
                //                    }
                //                }],
                //                dataSource: currentStudent.courses
                //            }).appendTo(container);
                //    }
                //},
               
            }).dxDataGrid("instance");
        }

        //helper methods:
        function getAge(dateString) {
            var today = new Date();
            var birthDate = new Date(dateString);
            var age = today.getFullYear() - birthDate.getFullYear();
            var m = today.getMonth() - birthDate.getMonth();
            if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) {
                age--;
            }
            return age;
        }

        return {
            url: url,
            dataStore: dataStore,
            dataGrid: studentGrid
        }
    }()
</script>
<!--Student-->

<!--Room-->
<script type="text/javascript">

    var roomModule = function () {

        //store
        var url = "/api/Room";

        var dataStore = new DevExpress.data.CustomStore({
            key: "roomId",
            type: "array",
            loadMode: "raw",
            cacheRawData: false,
            load: function (loadOptions) {
                var d = $.getJSON(url);
                return d;
            },
            byKey: function (key) {
                return $.getJSON(url + "/" + encodeURIComponent(key));
            }, insert: function (values) {
                return $.post(url, values);
            },
            add: function (values) {
                return $.ajax({
                    url: url,
                    method: "POST",
                    data: values
                });
            },
            update: function (key, values) {
                return $.ajax({
                    url: url,
                    method: "PUT",
                    data: values
                });
            },
            remove: function (key) {
                return $.ajax({
                    url: url + "/" + encodeURIComponent(key),
                    method: "DELETE",
                });
            }
        });

        var dataSource = new DevExpress.data.DataSource({
            store: dataStore
        });

        var lookupZionPortalDataSource = {
            store: new DevExpress.data.CustomStore({
                key: "facilityId",
                loadMode: "raw",
                load: function () {
                    return $.getJSON("/api/facility");
                }
            }),
            sort: "facilityName"
        }

        var roomGrid = function () {
            $("#roomGrid").dxDataGrid({
                dataSource: dataSource,
                remoteOperations: { groupPaging: false },
                allowColumnReordering: true,
                allowColumnResizing: true,
                rowAlternationEnabled: true,
                hoverStateEnabled: true,
                selection: {
                    mode: "single"
                },
                editing:{
                    mode: "popup",
                    allowAdding: true,
                    allowUpdating: true,
                    allowDeleting: true,
                    useIcons: true
                },
                onToolbarPreparing: function (e) {
                    var dataGrid = e.component;
                    e.toolbarOptions.items.unshift({
                        location: "after",
                        widget: "dxButton",
                        options: {
                            icon: "refresh",
                            onClick: function () {
                                dataGrid.refresh();
                            }
                        }
                    });
                },
                onRowUpdating: function (options) {
                    $.extend(options.newData, $.extend(true, {}, options.oldData, options.newData));
                },
                columnAutoWidth: true,
                columnResizingMode: "widget",
                paging: {
                    pageSize: 10
                },
                pager: {
                    showPageSizeSelector: true,
                    allowedPageSizes: [10, 25, 50, 100],
                    showInfo: true,
                    infoText: "showing page {0} of {1} ({2} Rooms)"
                },
                searchPanel: {
                    visible: true,
                    searchVisibleColumnsOnly: true
                },
                headerFilter: {
                    allowSearch: true,
                    visible: true
                }
                ,groupPanel:{
                    visible: true
                },
                columnChooser: {
                    enabled: true,
                    mode: "select"
                },
                columns: [{
                    dataField: "roomId",
                    caption: "Id",
                    allowGrouping: false,
                    allowEditing: false,
                    width: 50,
                    formItem: {
                        visible: false
                    }
                },{
                    dataField: "roomName",
                    caption: "Name",
                    validationRules: [{ type: "required" }]
                }, {
                    dataField: "roomCapacity",
                    caption: "Capacity",
                    dataType: "number",
                    editorOptions: {
                        min:0,
                        showSpinButtons: true,
                        readOnly: false
                    },
                    width: 40
                },{
                    dataField: "facility.facilityName",
                    caption: "Facility",    
                    lookup: {
                        dataSource: facilityModule.dataStore,//lookupZionPortalDataSource,
                        valueExpr: "facilityName",
                        displayExpr: "facilityName"
                    }
                    
                },{
                    dataField: "facility.addressLine1",
                    caption: "Address",
                    allowEditing: false,
                    formItem: {
                        visible: false
                    }

                },{
                    dataField: "facility.city",
                    caption: "City",
                    allowEditing: false,
                    formItem: {
                        visible: false
                    }
                    //TODO: cascade column lookup

                },{
                    dataField: "facility.state",
                    caption: "State",
                    allowEditing: false,
                    //TODO: cascade column lookup
                    width: 50,
                    formItem: {
                        visible: false
                    }

                },{
                    dataField: "facility.zip",
                    caption: "Zip",
                    allowEditing: false,
                    formItem: {
                        visible: false
                    }
                },{
                    dataField: "facility.phone",
                    caption: "Phone",
                    format: function formatPhoneNumber(s) {
                        var s2 = (""+s).replace(/\D/g, '');
                        var m = s2.match(/^(\d{3})(\d{3})(\d{4})$/);
                        return (!m) ? null : "+1" + "(" + m[1] + ") " + m[2] + "-" + m[3];
                    },
                    mask: "+1 (000) 000-0000",
                    editorOptions: {
                        mask: "+1 (000) 000-0000",
                    },
                    allowEditing: false,
                    formItem: {
                        visible: false
                    }
                },{
                    calculateCellValue: function (rowData) {
                        if (jQuery.isEmptyObject(rowData)) {
                            return null;
                        }
                        var delta = timeDifference(rowData.modifiedOn, new Date().toLocaleString()) || 'moments';
                        return delta + ' ago';
                    },
                    caption: "last updated",
                    allowFiltering: true,
                    allowSorting: true,
                    allowEditing: false,
                    cellTemplate: function (container, options) {
                        $("<div>")
                            .text(options.value)
                            .append("<i class='fa fa-clock-o float-left mt-1 mr-3 text-primary'>")
                            .appendTo(container);
                    },
                    formItem: {
                        visible: false
                    }
                }, {
                    dataField: "modifiedBy",
                    caption: "Last Modified By",
                    allowEditing: false,
                    cellTemplate: function (container, options) {
                        $("<div>")
                            .text(options.value)
                            .append("<i class='fa fa-user float-left mt-1 mr-3 text-primary'>")
                            .appendTo(container);
                    },
                    formItem: {
                        visible: false
                    }
                }],
                onContentReady: function (e) {
                    moveEditColumnToLeft(e.component);
                }
            }).dxDataGrid("instance");
        }

        function moveEditColumnToLeft(dataGrid) {
            dataGrid.columnOption("command:edit", {
                visibleIndex: -1
            });
        }

        return {
            url: url,
            dataStore: dataStore,
            dataSource: dataSource,
            dataGrid: roomGrid,
            moveEditColumnToLeft: moveEditColumnToLeft
        }
    }()
</script>
<!--Room-->

<!--Course-->
<script type="text/javascript">

    var courseModule = function () {

        //store
        var url = "/api/Course";
        var hostDivId = "courseGrid";

        var dataStore = new DevExpress.data.CustomStore({
            key: "courseId",
            type: "array",
            loadMode: "raw",
            cacheRawData: false,
            load: function (loadOptions) {
                var d = $.getJSON(url);
                return d;
            },
            byKey: function (key) {
                return $.getJSON(url + "/" + encodeURIComponent(key));
            }, insert: function (values) {
                return $.post(url, values);
            },
            add: function (values) {
                return $.ajax({
                    url: url,
                    method: "POST",
                    data: values
                });
            },
            update: function (key, values) {
                return $.ajax({
                    url: url,
                    method: "PUT",
                    data: values
                });
            },
            remove: function (key) {
                return $.ajax({
                    url: url + "/" + encodeURIComponent(key),
                    method: "DELETE",
                });
            }
        });

        var dataSource = new DevExpress.data.DataSource({
            store: dataStore
        });



        var grid = $("#" + hostDivId).dxDataGrid({
                dataSource: dataSource,
                remoteOperations: { groupPaging: false },
                allowColumnReordering: true,
                allowColumnResizing: true,
                rowAlternationEnabled: true,
                hoverStateEnabled: true,
                onEditorPreparing: function (e) {
                    if (e.dataField === "courseDescription")
                        e.editorName = "dxTextArea";
                },
                selection: {
                    mode: "single"
                },
                editing:{
                    mode: "popup",
                    allowAdding: true,
                    allowUpdating: true,
                    allowDeleting: true,
                    useIcons: true
                },
                onToolbarPreparing: function (e) {
                    var dataGrid = e.component;
                    e.toolbarOptions.items.unshift({
                        location: "after",
                        widget: "dxButton",
                        options: {
                            icon: "refresh",
                            onClick: function () {
                                dataGrid.refresh();
                            }
                        }
                    });
                },
                onRowUpdating: function (options) {
                    $.extend(options.newData, $.extend(true, {}, options.oldData, options.newData));
                },
                columnAutoWidth: true,
                columnResizingMode: "widget",
                paging: {
                    pageSize: 10
                },
                pager: {
                    showPageSizeSelector: true,
                    allowedPageSizes: [10, 25, 50, 100],
                    showInfo: true,
                    infoText: "showing page {0} of {1} ({2} Courses)"
                },
                searchPanel: {
                    visible: true,
                    searchVisibleColumnsOnly: true
                },
                headerFilter: {
                    allowSearch: true,
                    visible: true
                }
                ,groupPanel:{
                    visible: true
                },
                columnChooser: {
                    enabled: true,
                    mode: "select"
                },
                columns: [{
                    dataField: "courseId",
                    caption: "Id",
                    allowGrouping: false,
                    allowEditing: false,
                    width: 50
                },{
                    dataField: "courseCode",
                    caption: "Course Code",
                    validationRules: [
                        { type: "required" }
                    ]
                }, {
                    dataField: "courseName",
                    caption: "Course"
                },{
                    dataField: "courseDescription",
                    caption: "Course Description",
                    width: 200,
                    editorOptions: {
                        height: 200
                    }
                }, {
                    dataField: "coursePrice",
                    caption: "Price",
                    format: function (s) {
                        var formated = (s).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
                        return "$"+ formated;
                    },
                    editorName: "dxNumberBox",
                    editorOptions: {
                       format: "$ #,##0.00"
                    },
                    allowEditing: true
                }, {
                    calculateCellValue: function (rowData) {
                        if (jQuery.isEmptyObject(rowData)) {
                            return null;
                        }
                        var delta = timeDifference(rowData.modifiedOn, new Date().toLocaleString()) || 'moments';
                        return delta + ' ago';
                    },
                    caption: "last updated",
                    allowFiltering: true,
                    allowSorting: true,
                    allowEditing: false,
                    cellTemplate: function (container, options) {
                        $("<div>")
                            .text(options.value)
                            .append("<i class='fa fa-clock-o float-left mt-1 mr-3 text-primary'>")
                            .appendTo(container);
                    }
                }, {
                    dataField: "modifiedBy",
                    caption: "Last Modified By",
                    allowEditing: false,
                    cellTemplate: function (container, options) {
                        $("<div>")
                            .text(options.value)
                            .append("<i class='fa fa-user float-left mt-1 mr-3 text-primary'>")
                            .appendTo(container);
                    }
                }],
                onContentReady: function (e) {
                    moveEditColumnToLeft(e.component);
                }
            }).dxDataGrid("instance");

        function moveEditColumnToLeft(dataGrid) {
            dataGrid.columnOption("command:edit", {
                visibleIndex: -1
            });
        }

        return {
            url: url,
            dataStore: dataStore,
            dataGrid: grid,
            moveEditColumnToLeft: moveEditColumnToLeft
        }
    }
</script>
<!--Course-->

<!--Facility-->
<script type="text/javascript">

    var facilityModule = function () {

        //store
        var url = "/api/facility";
        var hostDivId = "facilityGrid";

        var dataStore = new DevExpress.data.CustomStore({
            key: "facilityId",
            type: "array",
            loadMode: "raw",
            cacheRawData: false,
            load: function (loadOptions) {
                var d = $.getJSON(url);
                return d;
            },
            byKey: function (key) {
                return $.getJSON(url + "/" + encodeURIComponent(key));
            }, insert: function (values) {
                return $.post(url, values);
            },
            add: function (values) {
                return $.ajax({
                    url: url,
                    method: "POST",
                    data: values
                });
            },
            update: function (key, values) {
                return $.ajax({
                    url: url,
                    method: "PUT",
                    data: values
                });
            },
            remove: function (key) {
                return $.ajax({
                    url: url + "/" + encodeURIComponent(key),
                    method: "DELETE",
                });
            }
        });

        var dataSource = new DevExpress.data.DataSource({
            store: dataStore
        });



        var grid = function () {

            $("#" + hostDivId).dxDataGrid({
                dataSource: dataSource,
                remoteOperations: { groupPaging: false },
                allowColumnReordering: true,
                allowColumnResizing: true,
                rowAlternationEnabled: true,
                hoverStateEnabled: true,
                selection: {
                    mode: "single"
                },
                editing:{
                    mode: "batch",
                    allowAdding: true,
                    allowUpdating: true,
                    allowDeleting: true,
                    useIcons: true
                },
                onToolbarPreparing: function (e) {
                    var dataGrid = e.component;
                    e.toolbarOptions.items.unshift({
                        location: "after",
                        widget: "dxButton",
                        options: {
                            icon: "refresh",
                            onClick: function () {
                                dataGrid.refresh();
                            }
                        }
                    });
                },
                onRowUpdating: function (options) {
                    $.extend(options.newData, $.extend(true, {}, options.oldData, options.newData));
                },
                columnAutoWidth: true,
                columnResizingMode: "widget",
                paging: {
                    pageSize: 10
                },
                pager: {
                    showPageSizeSelector: true,
                    allowedPageSizes: [10, 25, 50, 100],
                    showInfo: true,
                    infoText: "showing page {0} of {1} ({2} facilities)"
                },
                searchPanel: {
                    visible: true,
                    searchVisibleColumnsOnly: true
                },
                headerFilter: {
                    allowSearch: true,
                    visible: true
                }
                ,groupPanel:{
                    visible: true
                },
                columnChooser: {
                    enabled: true,
                    mode: "select"
                },
                columns: [{
                    dataField: "facilityId",
                    caption: "Id",
                    allowGrouping: false,
                    allowEditing: false,
                    width: 50
                },{
                    dataField: "facilityName",
                    caption: "Facility",
                    validationRules: [
                        { type: "required" }
                    ]
                }, {
                    dataField: "addressLine1",
                    caption: "Address"
                }, {
                    dataField: "state",
                    caption: "State",
                    lookup: {
                        dataSource: ["Arizona"]
                    }
                }, {
                    dataField: "city",
                    caption: "City",
                    lookup: {
                        dataSource: function (options) {
                            return {
                                store: arizonaaddress,
                                filter: options.data ? ["state", "=", options.data.state] : null,
                                group: "city",
                                postProcess: function (items) {
                                    return items.map(x => x.items[0]);
                                }
                            };
                        },
                        valueExpr: "city",
                        displayExpr: "city"
                    }
                }, {
                    dataField: "zip",
                    caption: "Zip",
                    lookup: {
                        dataSource: function (options) {
                            return {
                                store: arizonaaddress,
                                filter: options.data ? ["city", "=", options.data.city] : null
                            };
                        },
                        valueExpr: "zipcode",
                        displayExpr: "zipcode"
                    }
                },{
                    calculateCellValue: function (rowData) {
                        if (jQuery.isEmptyObject(rowData)) {
                            return null;
                        }
                        var delta = timeDifference(rowData.modifiedOn, new Date().toLocaleString()) || 'moments';
                        return delta + ' ago';
                    },
                    caption: "last updated",
                    allowFiltering: true,
                    allowSorting: true,
                    allowEditing: false,
                    cellTemplate: function (container, options) {
                        $("<div>")
                            .text(options.value)
                            .append("<i class='fa fa-clock-o float-left mt-1 mr-3 text-primary'>")
                            .appendTo(container);
                    }
                }, {
                    dataField: "modifiedBy",
                    caption: "Last Modified By",
                    allowEditing: false,
                    cellTemplate: function (container, options) {
                        $("<div>")
                            .text(options.value)
                            .append("<i class='fa fa-user float-left mt-1 mr-3 text-primary'>")
                            .appendTo(container);
                    }
                }],
                onContentReady: function (e) {
                    moveEditColumnToLeft(e.component);
                }
            }).dxDataGrid("instance");
        }

        function moveEditColumnToLeft(dataGrid) {
            dataGrid.columnOption("command:edit", {
                visibleIndex: -1
            });
        }

        return {
            url: url,
            dataStore: dataStore,
            dataSource: dataSource,
            dataGrid: grid,
            moveEditColumnToLeft: moveEditColumnToLeft
        }
    }()
</script>
<!--Facility-->

<!--Schedule-->
<script>
    var scheduleModule = function () {

        //store
        var url = "/api/widgetCourseSchedule";
        var hostDivId = "courseScheduleGrid";

        var dataStore = new DevExpress.data.CustomStore({
            key: "courseScheduleId",
            type: "array",
            loadMode: "raw",
            cacheRawData: false,
            load: function (loadOptions) {
                var d = $.getJSON(url);
                return d;
            },
            byKey: function (key) {
                return $.getJSON(url + "/" + encodeURIComponent(key));
            }, insert: function (values) {
                return $.post(url, values);
            },
            add: function (values) {
                return $.ajax({
                    url: url,
                    method: "POST",
                    data: values
                });
            },
            update: function (key, values) {
                return $.ajax({
                    url: url,
                    method: "PUT",
                    data: values
                });
            },
            remove: function (key) {
                return $.ajax({
                    url: url + "/" + encodeURIComponent(key),
                    method: "DELETE",
                });
            }
        });

        var dataSource = new DevExpress.data.DataSource({
            store: dataStore
        });

        var resourceRouteUrl = "/api/widgetCourseSchedule/resource/";

        var rooms = {
            store: new DevExpress.data.CustomStore({
                key: "id",
                loadMode: "raw",
                load: function () {
                    return $.getJSON(resourceRouteUrl + "room");
                }
            }),
            sort: "text"
        }

        var courses = {
            store: new DevExpress.data.CustomStore({
                key: "id",
                loadMode: "raw",
                load: function (id) {
                    return $.getJSON(resourceRouteUrl + "course?" + encodeURIComponent(id));
                }
            }),
            sort: "text"
        }


        var facilities = {
            store: new DevExpress.data.CustomStore({
                key: "id",
                loadMode: "raw",
                load: function () {
                    return $.getJSON(resourceRouteUrl + "facility");
                }
            }),
            sort: "text"
        }

        var facliliesDataStore = new DevExpress.data.CustomStore({
            key: "facilityId",
            type: "array",
            loadMode: "raw",
            load: function (loadOptions) {
                var d = $.getJSON("/api/facility");
                return d;
            },
            byKey: function (key) {
                var d = new $.Deferred();
                $.get("/api/facility/" + encodeURIComponent(key))
                    .done(function (dataItem) {
                        d.resolve(dataItem);
                    });
                return d.promise();
            }
        });

        var roomsDataStore = new DevExpress.data.CustomStore({
            key: "roomId",
            //type: "array",
            loadMode: "raw",
            load: function (loadOptions) {
                var d = $.getJSON("/api/room");
                return d;
            }
        });
        

        


        var instructors = {
            store: new DevExpress.data.CustomStore({
                key: "id",
                loadMode: "raw",
                load: function () {
                    return $.getJSON(resourceRouteUrl + "instructor");
                }
            }),
            sort: "text"
        }


        function getData(url, id) {
            return new DevExpress.data.DataSource(url + id); // "/api/course/"
                //.load()
                //.done(function (results) {
                    
                //});
        }

        var schedule = $("#courseScheduleGrid").dxScheduler({
            dataSource: dataSource,
            views: ["day", "week", "workWeek", "month", "timelineMonth"],
            currentView: "timelineMonth",
            currentDate: new Date(),
            startDayHour: 8,
            height: 600,
            cellDuration: 20,
            startDateExpr: "startDate",
            endDateExpr: "endDate",
            textExpr: "text",
            descriptionExpr: "description",
            editing: {
                allowAdding: true,
                allowDeleting: true,
                allowUpdating: true
            }
            //,
            //resources: [{
            //    dataSource: facilities,
            //    fieldExpr: "facilityId",
            //    label: "Facility"
            //},
            //{
            //    dataSource: rooms,
            //    fieldExpr: "roomId",
            //    label: "Room"
            //}, {
            //    dataSource: courses,
            //    fieldExpr: "courseId",
            //    label: "Course"
            //}, {
            //    dataSource: instructors,
            //    fieldExpr: "instructorId",
            //    label: "Instructor"
            //}]

            , onAppointmentFormCreated: function (data) {
                
                var form = data.form;

                //configure the form:
                form.option(
                    "items",
                    [
                    //facility
                      {
                        label: {
                        text: "Facility"
                        },
                        editorType: "dxSelectBox",
                        dataField: "facilityId",
                        editorOptions: {
                            dataSource: facliliesDataStore,
                            placeholder: "Please select a facility...",
                            displayExpr: "facilityName",
                            valueExpr: "facilityId",
                            onValueChanged: function (args) {
                                var roomEditor = form.getEditor("roomId");
                                form.getEditor("roomId").instance().option("disabled", false);
                                roomEditor.getDataSource().filter(["facility.facilityId", "=", args.value]);
                                roomEditor.getDataSource().load();
                            }
                            ,onContentReady: function (e) {
                                //console.log(e);
                                //console.log('facility length ' + e.component._options.displayValue);
                                roomEditor = form.getEditor("roomId");
                                if (e.component._options.displayValue == null) {
                                    form.getEditor("roomId").instance().option("disabled", true);
                                }
                                else {
                                    form.getEditor("roomId").instance().option("disabled", false);
                                }
                            }
                        }, validationRules: [{
                            type: "required",
                            message: "You must choose a facility"
                        }],
                        //reload the datasource
                        onInitialized: function (e) {
                            e.component.isFirstLoadFlag = true;
                        },
                        onOpened: function (e) {
                            if (!e.component.isFirstLoadFlag)
                                e.component.getDataSource().reload();
                            else
                                e.component.isFirstLoadFlag = false;
                        }
                          
                    },
                    //room
                    {
                        label: {
                            text: "Room"
                        },
                        editorType: "dxSelectBox",
                        dataField: "roomId",
                        editorOptions: {
                            dataSource: roomsDataStore,
                            placeholder: "Please choose a room...",
                            displayExpr: "roomName",
                            valueExpr: "roomId",
                            disabled: true,
                            onContentReady: function (e) {
                                
                            }
                        }
                        , validationRules: [{
                                type: "required",
                                message: "You must choose a room"
                        }]
                        //reload the data source
                        , onInitialized: function (e) {
                            e.component.isFirstLoadFlag = true;
                        },
                        onOpened: function (e) {
                            if (!e.component.isFirstLoadFlag)
                                e.component.getDataSource().reload();
                            else
                                e.component.isFirstLoadFlag = false;
                        },
                    }
                    //course
                    ,{
                        label: {
                            text: "Course"
                        },
                        editorType: "dxSelectBox",
                        dataField: "courseId",
                        editorOptions: {
                            dataSource: courses,
                            placeholder: "Please choose a course...",
                            displayExpr: "text",
                            valueExpr: "id",
                            disabled: false,
                            onContentReady: function (e) {
                                
                            }
                        }, validationRules: [{
                            type: "required",
                            message: "A course is required"
                        }]
                        //reload the data source
                        , onInitialized: function (e) {
                            e.component.isFirstLoadFlag = true;
                        },
                        onOpened: function (e) {
                            if (!e.component.isFirstLoadFlag)
                                e.component.getDataSource().reload();
                            else
                                e.component.isFirstLoadFlag = false;
                        },
                    }
                    //Instructor
                    , {
                        label: {
                            text: "Instructor"
                        },
                        editorType: "dxSelectBox",
                        dataField: "instructorId",
                        editorOptions: {
                            dataSource: instructors,
                            placeholder: "Pick an Instructor...",
                            displayExpr: "text",
                            valueExpr: "id",
                            disabled: false,
                            onContentReady: function (e) {

                            }
                        }, validationRules: [{
                            type: "required",
                            message: "Please select a ZionPortal resource"
                        }]
                        //reload the data source
                        , onInitialized: function (e) {
                            e.component.isFirstLoadFlag = true;
                        },
                        onOpened: function (e) {
                            if (!e.component.isFirstLoadFlag)
                                e.component.getDataSource().reload();
                            else
                                e.component.isFirstLoadFlag = false;
                        },
                    }
                    //starttime
                    ,{
                        dataField: "startDate",
                        editorType: "dxDateBox",
                        editorOptions: {
                            width: "100%",
                            type: "datetime"
                        }
                    }
                    ,{
                        dataField: "endDate",
                        editorType: "dxDateBox",
                        editorOptions: {
                            width: "100%",
                            type: "datetime"
                        }
                    }

                    ]);

            }
            , appointmentTemplate: function (data) {
                var durationObj = get_time_duration(data.startDate, data.endDate);
                var duration = "";

                if (durationObj.hours != 0) {
                    duration = durationObj.hours + " hr";
                }
                if(durationObj.minutes != 0){
                    duration += " " + durationObj.minutes + " min";
                }

                return $("<div class=''>" +
                            "<div>" + "course: " + data.text + " ( $" + data.coursePrice.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,') + "</div>" +
                            "<div>" + "Instructor: " + "<strong> " + data.instructorName + "</strong>" + "</div>" +
                            "<div>" + Globalize.formatDate(new Date(data.startDate), { time: "short" }) +
                            " - " + Globalize.formatDate(new Date(data.endDate), { time: "short" }) +
                            " (" + duration  + ")" +
                        "</div>" +
                         "</div>");
            }
        }).dxScheduler("instance");


        return {
            schedule: schedule,
            getData: getData,
            courses: courses
        }
    }
</script>
<!--Schedule-->

<!--Instructor-->
<script type="text/javascript">

    var instructorModule = function () {

        //store
        var url = "/api/instructor";

        var dataStore = new DevExpress.data.CustomStore({
            key: "instructorId",
            type: "array",
            loadMode: "raw",
            cacheRawData: false,
            load: function (loadOptions) {
                var d = $.getJSON(url);
                return d;
            },
            byKey: function (key) {
                return $.getJSON(url + "/" + encodeURIComponent(key));
            }, insert: function (values) {
                return $.post(url, values)
                    .fail(function (data) {
                        var customMessage;

                        switch(data.status) {
                            case 409:
                                customMessage = data.responseJSON.message + ". The employee you are trying to create is already an instructor.";
                                break;
                            case 400:
                                customMessage = data.responseJSON.message + ". I gave up trying to understand your request to add a new instructor...";
                                break;
                            default:
                                customMessage = data.responseJSON.message + ". Something really really bad happened. Please try again and contact your Administrator if the problem persists.";
                        }

                        var toastOptions = {
                            message: customMessage,
                            displayTime: 10000,
                            shading: true,
                            position: {
                                offset: {
                                    y: -50
                                },
                                of: "#instructorGrid"
                            },
                            width: function () {
                                return $("#instructorGrid").width()
                            },
                            type: "error",
                            closeOnClick: true,
                            closeOnOutsideClick: true
                        }

                        DevExpress.ui.notify(toastOptions);
                    });
            },
            update: function (key, values) {
                return $.ajax({
                    url: url,
                    method: "PUT",
                    data: values
                });
            },
            remove: function (key) {
                return $.ajax({
                    url: url + "/" + encodeURIComponent(key),
                    method: "DELETE",
                });
            }
        });

        var dataSource = new DevExpress.data.DataSource({
            store: dataStore
        });


        var employees = {
            store: new DevExpress.data.CustomStore({
                key: "employeeId",
                loadMode: "raw",
                cacheRawData: false,
                load: function () {
                    return $.getJSON("/api/employee");
                }
            })
        };

        function getDisplayExpr(item) {
            if (!item) {
                return "";
            }
            return item.person.firstName + " " + item.person.lastName;
        }

        function getTemplateMarkup(data, containerClass) {
            var genderClass = data.person.gender == 'Female' ? 'fa-female' : 'fa-male';
            return "<div class='" + containerClass + "'> " +
                    "<div class='h4'>" + data.person.firstName + " " + data.person.lastName + "</div>" +
                    "<div> EmployeeId: " + data.employeeId + "</div>" +
                    "<div><i class='fa " + genderClass + "'></i> Dob: " + new Date(data.person.dateOfBirth).toDateString() + "</div>" +
                   "</div>"
        }

        var instructorGrid = function () {
            $("#instructorGrid").dxDataGrid({
                dataSource: dataSource,
                remoteOperations: { groupPaging: false },
                allowColumnReordering: true,
                allowColumnResizing: true,
                rowAlternationEnabled: true,
                hoverStateEnabled: true,
                onToolbarPreparing: function(e) {
                    var dataGrid = e.component;
                    e.toolbarOptions.items.unshift({
                        location: "after",
                        widget: "dxButton",
                        options: {
                            icon: "refresh",
                            onClick: function() {
                                dataGrid.refresh();
                            }
                        }
                    });
                },
                selection: {
                    mode: "single"
                },
                editing:{
                    mode: "form",
                    allowAdding: true,
                    allowUpdating: true,
                    allowDeleting: true,
                    useIcons: true
                },
                onRowUpdating: function (options) {
                    $.extend(options.newData, $.extend(true, {}, options.oldData, options.newData));
                },
                columnAutoWidth: true,
                columnResizingMode: "widget",
                paging: {
                    pageSize: 10
                },
                pager: {
                    showPageSizeSelector: true,
                    allowedPageSizes: [10, 25, 50, 100],
                    showInfo: true,
                    infoText: "showing page {0} of {1} ({2} instructors)"
                },
                searchPanel: {
                    visible: true,
                    searchVisibleColumnsOnly: true
                },
                headerFilter: {
                    allowSearch: true,
                    visible: true
                }
                ,groupPanel:{
                    visible: true
                },
                columnChooser: {
                    enabled: true,
                    mode: "select"
                },
                columns: [{
                    dataField: "instructorId",
                    caption: "Instructor Id",
                    allowGrouping: true,
                    allowEditing: false,
                    formItem: {
                        visible: false
                    }
                },{
                    dataField: "employee.person.firstName",
                    caption: "First Name",
                    allowSearch: true,
                    formItem: {
                        visible: false
                    }
                }, {
                    dataField: "employee.person.lastName",
                    caption: "Last Name",
                    formItem: {
                        visible: false
                    }
                },{
                    dataField: "employee.person.dateOfBirth",
                    caption: "Birth Date",
                    dataType: "date",
                    allowGrouping: true,
                    formItem: {
                        visible: false
                    }
                },{
                    dataField: "employee.person.gender",
                    caption: "Sex",
                    allowGrouping: true,
                    lookup: {
                        dataSource: ['Male', 'Female']
                    }, formItem: {
                        visible: false
                    }
                },  {
                    calculateCellValue: function (rowData) {
                        if ( jQuery.isEmptyObject(rowData)) {
                            return null;
                        }

                        return getAge(rowData.employee.person.dateOfBirth);
                    },
                    caption: "Age",
                    allowFiltering: true,
                    allowSorting: true,
                    alllowGrouping: true,
                    allowEditing: false,
                    formItem: {
                        visible: false
                    }
                }, {
                    calculateCellValue: function (rowData) {
                        if (jQuery.isEmptyObject(rowData)) {
                            return null;
                        }
                        var delta = timeDifference(rowData.employee.person.modifiedOn, new Date().toLocaleString()) || 'moments';

                        return delta + ' ago';
                    },
                    caption: "last updated",
                    allowFiltering: true,
                    allowSorting: true,
                    allowEditing: false,
                    cellTemplate: function (container, options) {
                        $("<div>")
                            .text(options.value)
                            .append("<i class='fa fa-clock-o float-left mt-1 mr-3 text-primary'>")
                            .appendTo(container);
                    },
                    formItem: {
                        visible: false
                    }
                }, {
                    dataField: "employee.person.modifiedBy",
                    caption: "Last Modified By",
                    allowEditing: false,
                    cellTemplate: function (container, options) {
                        $("<div>")
                            .text(options.value)
                            .append("<i class='fa fa-user float-left mt-1 mr-3 text-primary'>")
                            .appendTo(container);
                    }, formItem: {
                        visible: false
                    }
                }, {
                    dataField: "employee.employeeId",
                    caption: "Employee",
                    width: 125,
                    lookup: {
                        dataSource: employees,
                        displayExpr: getDisplayExpr,
                        valueExpr: "employeeId"
                    },
                    editorOptions: {
                        onInitialized: function (e) {
                            e.component.getDataSource().load();
                        },
                        itemTemplate: function (data) {
                            return getTemplateMarkup(data, "custom-item");
                        }
                    }
                }]
            }).dxDataGrid("instance");
        }

        //helper methods:
        function getAge(dateString) {
            var today = new Date();
            var birthDate = new Date(dateString);
            var age = today.getFullYear() - birthDate.getFullYear();
            var m = today.getMonth() - birthDate.getMonth();
            if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) {
                age--;
            }
            return age;
        }

        return {
            url: url,
            dataStore: dataStore,
            dataGrid: instructorGrid
        }
    }()
</script>
<!--Instructor-->

<!--Helper Methods-->
<script>
    //create a cookie
    function createCookie(name, value, days) {
        var expires;

        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
            expires = "; expires=" + date.toGMTString();
        } else {
            expires = "";
        }
        document.cookie = encodeURIComponent(name) + "=" + encodeURIComponent(value) + expires + "; path=/";
    }

    function readCookie(name) {
        var nameEQ = encodeURIComponent(name) + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) === ' ')
                c = c.substring(1, c.length);
            if (c.indexOf(nameEQ) === 0)
                return decodeURIComponent(c.substring(nameEQ.length, c.length));
        }
        return null;
    }

    function eraseCookie(name) {
        createCookie(name, "", -1);
    }


    function timeDifference(start, end) {

        var firstDate = new Date(start);
        var secondDate = new Date(end);
        var oneWeek = 7 * 24 * 60 * 60 * 1000;
        var oneDay = 24 * 60 * 60 * 1000;
        var oneHour = 60 * 60 * 1000;
        var oneMinute = 60 * 1000;
        var oneSecond = 1000;

        var diffWeeks = Math.round(Math.abs((firstDate.getTime() - secondDate.getTime()) / (oneWeek)));
        var diffDays = Math.round(Math.abs((firstDate.getTime() - secondDate.getTime()) / (oneDay)));
        var diffHours = Math.round(Math.abs((firstDate.getTime() - secondDate.getTime()) / (oneHour)));
        var diffMinutes = Math.round(Math.abs((firstDate.getTime() - secondDate.getTime()) / (oneMinute)));
        var diffSeconds = Math.round(Math.abs((firstDate.getTime() - secondDate.getTime()) / (oneSecond)));

        if (diffWeeks !== 0) {
            return diffWeeks + (diffWeeks === 1 ? ' week' : ' weeks');
        }
        if (diffDays !== 0) {
            return diffDays + (diffDays === 1 ? ' day' : ' days');
        }
        if (diffHours !== 0) {
            return diffHours + (diffHours === 1 ? ' hour' : ' hours');
        }
        if (diffMinutes !== 0) {
            return diffMinutes + (diffMinutes === 1 ? ' minute' : ' minutes');
        }
        if (diffSeconds !== 0) {
            return diffSeconds + (diffSeconds === 1 ? ' second' : ' seconds');
        }

    }


    function get_time_duration(earlierDate, laterDate) {
        var start = new Date(earlierDate);
        var stop = new Date(laterDate);
        var oDiff = new Object();


        //  Calculate Differences
        //  -------------------------------------------------------------------  //
        var nTotalDiff = stop.getTime() - start.getTime();

        oDiff.days = Math.floor(nTotalDiff / 1000 / 60 / 60 / 24);
        nTotalDiff -= oDiff.days * 1000 * 60 * 60 * 24;

        oDiff.hours = Math.floor(nTotalDiff / 1000 / 60 / 60);
        nTotalDiff -= oDiff.hours * 1000 * 60 * 60;

        oDiff.minutes = Math.floor(nTotalDiff / 1000 / 60);
        nTotalDiff -= oDiff.minutes * 1000 * 60;

        oDiff.seconds = Math.floor(nTotalDiff / 1000);
        //  -------------------------------------------------------------------  //

        //  Format Duration
        //  -------------------------------------------------------------------  //
        //  Format Hours
        var hourtext = '00';
        if (oDiff.days > 0) { hourtext = String(oDiff.days); }
        if (hourtext.length == 1) { hourtext = '0' + hourtext };

        //  Format Minutes
        var mintext = '00';
        if (oDiff.minutes > 0) { mintext = String(oDiff.minutes); }
        if (mintext.length == 1) { mintext = '0' + mintext };

        //  Format Seconds
        var sectext = '00';
        if (oDiff.seconds > 0) { sectext = String(oDiff.seconds); }
        if (sectext.length == 1) { sectext = '0' + sectext };

        //  Set Duration
        var sDuration = hourtext + ':' + mintext + ':' + sectext;
        oDiff.duration = sDuration;
        //  -------------------------------------------------------------------  //

        return oDiff;
    }
</script>
<!--Helper Methods-->

<!--Helper Methods-->
<script>
    //create a cookie
    function createCookie(name, value, days) {
        var expires;

        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
            expires = "; expires=" + date.toGMTString();
        } else {
            expires = "";
        }
        document.cookie = encodeURIComponent(name) + "=" + encodeURIComponent(value) + expires + "; path=/";
    }

    function readCookie(name) {
        var nameEQ = encodeURIComponent(name) + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) === ' ')
                c = c.substring(1, c.length);
            if (c.indexOf(nameEQ) === 0)
                return decodeURIComponent(c.substring(nameEQ.length, c.length));
        }
        return null;
    }

    function eraseCookie(name) {
        createCookie(name, "", -1);
    }


    function timeDifference(start, end) {

        var firstDate = new Date(start);
        var secondDate = new Date(end);
        var oneWeek = 7 * 24 * 60 * 60 * 1000;
        var oneDay = 24 * 60 * 60 * 1000;
        var oneHour = 60 * 60 * 1000;
        var oneMinute = 60 * 1000;
        var oneSecond = 1000;

        var diffWeeks = Math.round(Math.abs((firstDate.getTime() - secondDate.getTime()) / (oneWeek)));
        var diffDays = Math.round(Math.abs((firstDate.getTime() - secondDate.getTime()) / (oneDay)));
        var diffHours = Math.round(Math.abs((firstDate.getTime() - secondDate.getTime()) / (oneHour)));
        var diffMinutes = Math.round(Math.abs((firstDate.getTime() - secondDate.getTime()) / (oneMinute)));
        var diffSeconds = Math.round(Math.abs((firstDate.getTime() - secondDate.getTime()) / (oneSecond)));

        if (diffWeeks !== 0) {
            return diffWeeks + (diffWeeks === 1 ? ' week' : ' weeks');
        }
        if (diffDays !== 0) {
            return diffDays + (diffDays === 1 ? ' day' : ' days');
        }
        if (diffHours !== 0) {
            return diffHours + (diffHours === 1 ? ' hour' : ' hours');
        }
        if (diffMinutes !== 0) {
            return diffMinutes + (diffMinutes === 1 ? ' minute' : ' minutes');
        }
        if (diffSeconds !== 0) {
            return diffSeconds + (diffSeconds === 1 ? ' second' : ' seconds');
        }

    }


    function get_time_duration(earlierDate, laterDate) {
        var start = new Date(earlierDate);
        var stop = new Date(laterDate);
        var oDiff = new Object();


        //  Calculate Differences
        //  -------------------------------------------------------------------  //
        var nTotalDiff = stop.getTime() - start.getTime();

        oDiff.days = Math.floor(nTotalDiff / 1000 / 60 / 60 / 24);
        nTotalDiff -= oDiff.days * 1000 * 60 * 60 * 24;

        oDiff.hours = Math.floor(nTotalDiff / 1000 / 60 / 60);
        nTotalDiff -= oDiff.hours * 1000 * 60 * 60;

        oDiff.minutes = Math.floor(nTotalDiff / 1000 / 60);
        nTotalDiff -= oDiff.minutes * 1000 * 60;

        oDiff.seconds = Math.floor(nTotalDiff / 1000);
        //  -------------------------------------------------------------------  //

        //  Format Duration
        //  -------------------------------------------------------------------  //
        //  Format Hours
        var hourtext = '00';
        if (oDiff.days > 0) { hourtext = String(oDiff.days); }
        if (hourtext.length == 1) { hourtext = '0' + hourtext };

        //  Format Minutes
        var mintext = '00';
        if (oDiff.minutes > 0) { mintext = String(oDiff.minutes); }
        if (mintext.length == 1) { mintext = '0' + mintext };

        //  Format Seconds
        var sectext = '00';
        if (oDiff.seconds > 0) { sectext = String(oDiff.seconds); }
        if (sectext.length == 1) { sectext = '0' + sectext };

        //  Set Duration
        var sDuration = hourtext + ':' + mintext + ':' + sectext;
        oDiff.duration = sDuration;
        //  -------------------------------------------------------------------  //

        return oDiff;
    }
</script>
<!--Helper Methods-->

<!--document on ready-->
<script>
    $(document).ready(function () {
        studentModule.dataGrid();
        instructorModule.dataGrid();
        roomModule.dataGrid();
        courseModule().dataGrid.option("visible", true);
        facilityModule.dataGrid();
        scheduleModule();
        scheduleModule().schedule.option("visible", true);
        HideAllButOne();
        //announcementForm.form();
        //scheduleModule().widget;
    });

</script>
<!--document on ready-->
