﻿
@{
    ViewBag.Title = "Instructors - Zion Portal";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div class="inner-wrapper" style="background:#ffffff">
     
    <section role="main" class="content-body">
        <div>
            <h1>Instructors</h1>
        </div>

        <!-- start: page -->
        <div class="row">
            <div class="col-lg-12 mb-6">
                <div class="row mb-6">
                    <div class="col-xl-4">
                        <section class="card card-featured-left">
                            <div class="card-body bg-light">
                                <h3 class="title"><strong>Active Instructors</strong></h3>
                                <div class="widget-summary">

                                    <div class="widget-summary-col">
                                        <div class="summary">

                                            <div class="info ">
                                                <strong id="instructors" class="summarytext"></strong>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="col-xl-4">
                        <section class="card card-featured-left">
                            <div class="card-body bg-light">
                                <h3 class="title"><strong>Un-assigned Instructors </strong></h3>
                                <div class="widget-summary">

                                    <div class="widget-summary-col">
                                        <div class="summary">

                                            <div class="info ">
                                                <strong id="unassignedinstructors" class="summarytext"></strong>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="col-xl-4">
                        <section class="card card-featured-left">
                            <div class="card-body bg-light">
                                <h3 class="title"><strong>Assigned Instructors </strong></h3>
                                <div class="widget-summary">

                                    <div class="widget-summary-col">
                                        <div class="summary">

                                            <div class="info ">
                                                <strong id="assignedinstructors" class="summarytext"></strong>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
           
        </div>
        <div class="row">
            <div class="demo-container">
                <div id="instructorGrid"></div>
            </div>
        </div>



        <!-- end: page -->
    </section>

</div>
<div class="row">
    <div class="demo-container">
        <div id="gradeGrid">

        </div>
    </div>
</div>

<div class="row">
    <div class="demo-container">
        <div id="sigGrid">
            
        </div>
    </div>
</div>



