﻿
@{
    ViewBag.Title = "Students - Zion Portal";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div class="inner-wrapper" style="background:#ffffff">

    <section role="main" class="content-body">
        <div>
            <h1>Students</h1>
        </div>

        <!-- start: page -->
        <div class="row">
            <div class="col-lg-12 mb-3">
                <div class="row mb-6">
                    <div class="col-xl-4">
                        <section class="card card-featured-left">
                            <div class="card-body bg-light">
                                <h4 class="title"><strong>Registered Students</strong></h4>
                                <div class="widget-summary">

                                    <div class="widget-summary-col">
                                        <div class="summary">

                                            <div class="info ">
                                                <strong id="registeredstudents" class="summarytext"></strong>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="col-xl-4">
                        <section class="card card-featured-left">
                            <div class="card-body bg-light">
                                <h4 class="title"><strong>Students (with Expired Certs)</strong></h4>
                                <div class="widget-summary">

                                    <div class="widget-summary-col">
                                        <div class="summary">

                                            <div class="info ">
                                                <strong id="expiredcerts" class="summarytext"></strong>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="col-xl-4">
                        <section class="card card-featured-left">
                            <div class="card-body bg-light">
                                <h4 class="title"><strong>New Students (This Month)</strong></h4>
                                <div class="widget-summary">

                                    <div class="widget-summary-col">
                                        <div class="summary">

                                            <div class="info ">
                                                <strong id="newstudents" class="summarytext"></strong>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
          
        </div>
        <div class="row">
            <div class="demo-container">
                <div id="studentGrid"></div>
            </div>
        </div>



        <!-- end: page -->
    </section>

 

</div>
<div id="popup"></div>

<div class="row">
    <div class="demo-container">
        <div id="register">

        </div>
    </div>
</div>




