﻿
@{
    ViewBag.Title = "ZionPortal Schedule - Zion Portal";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div class="inner-wrapper" style="background:#ffffff">

    <section role="main" class="content-body">
        <div>
            <h1>Training Schedule</h1>
        </div>

        <!-- start: page -->
        <div class="row">
            <div class="col-lg-12 mb-6">
                <div class="row mb-6">
                    <div class="col-xl-4">
                        <section class="card card-featured-left">
                            <div class="card-body bg-light">
                                <h3 class="title"><strong>Scheduled Classes</strong></h3>
                                <div class="widget-summary">

                                    <div class="widget-summary-col">
                                        <div class="summary">

                                            <div class="info ">
                                                <strong id="upcomingcourses" class="summarytext"></strong>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="col-xl-4">
                        <section class="card card-featured-left">
                            <div class="card-body bg-light">
                                <h3 class="title"><strong>Completed Classes </strong></h3>
                                <div class="widget-summary">

                                    <div class="widget-summary-col">
                                        <div class="summary">

                                            <div class="info ">
                                                <strong id="completedclasses" class="summarytext"></strong>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="col-xl-4">
                        <section class="card card-featured-left">
                            <div class="card-body bg-light">
                                <h3 class="title"><strong>Available Classes </strong></h3>
                                <div class="widget-summary">

                                    <div class="widget-summary-col">
                                        <div class="summary">

                                            <div class="info ">
                                                <strong id="availableclasses" class="summarytext"></strong>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="demo-container">
                <div id="scheduler"></div>
            </div>
        </div>



        <!-- end: page -->
    </section>

</div>




