﻿@{
    ViewBag.Title =   "EklipseConsult | Aptitude - Home";
    Layout = "~/Views/Shared/_AssessmentFrame.cshtml";
}

<div class="col-lg-6 content-right" id="start">
    <div id="wiz_container" class="width80%">
        <form id="wrapped2" action="/disclaimer">
            <div id="middle-wizard">
                <div class="">
                    <div class="summary">
                        <h1 class="main_title sz-text-md"> Overview</h1>
                        <p>
                            Welcome to the EklipseConsult Aptitude Test. Aptitude tests are designed to measure intellectual reasoning abilities. 
                           
                            <br />
                            <br />
                            The EklipseConsult Aptitude Test is a <strong>numerical reasoning test</strong>. 
                            <br />
                            <br />
                            Its purpose is to help determine whether a prospective student interested in an Eklipse Consult Training class meets the required aptitude for the class. 
                            Passing this aptitude test is a prerequisite to enrolling in any of the Eklipse Consult training classes.
 </p>
                            <br />

                        <p>
                            <b>
                                What is a Numerical Reasoning Test?
                            </b>
                            <br />
                            <br />
                             Numerical reasoning tests demonstrate your ability to handle numbers quickly and accurately. 
                               These tests contain questions that asses your knowledge of data interpretation and analysis, ratios, percentages, number sequences. 
                            <br />
                            <br />
                            <b>
                                You will be presented with 10 multiple choice questions and you will have 15 mins to answer them.
                            </b>
                            <br />
                        </p>

                        <br />
                        <p>
                            Please read the terms and conditions carefully before using taking this assessment.  
                            By accessing or taking this assessment you agree to be bound by the terms and conditions outlined on our terms and conditions page.
                            <br />
                            <br />
                            If you have any questions, please contact us at admissions@eklipseconsult.com
                        </p>
                    </div>
                </div>
                <!-- /step-->
            </div>
            <!-- /middle-wizard -->
            <div id="bottom-wizard">
                <button name="" class="submit">Get Started</button>
            </div>
            <!-- /bottom-wizard -->
        </form>
    </div>
    <!-- /Wizard container -->
</div>

