﻿
@{
    ViewBag.Title = "Courses - Zion Portal";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<script>
  function getIP(json) {
      
      sessionStorage.setItem("ip", json.ip)
  }
</script>
<script src="http://api.ipify.org?format=jsonp&callback=getIP"></script>




<div class="inner-wrapper" style="background:#ffffff">
  
    <section role="main" class="content-body">
        <div>
            <h1>Time Entry</h1>
           
        </div>
        <hr />

        <!-- start: page -->
        <div class="row">
            <div class="col-lg-12 mb-3">
                <div class="row mb-12">
                    <div class="col-xl-4">
                        </div>
                        <div class="col-xl-4" style="width:300px !important;height:300px !important;background-color:#f8f9fa;border:2px solid whitesmoke">
                            <section class="card card-featured-center">
                                @*<h2 id="Name" style="color:darkblue;margin-top:2px;text-align:center"></h2>*@
                                <div class="card-body  center" style="background-color:#f8f9fa; display:inline-block;box-shadow:none; ">
                                    <div id="clockinout" class="center" style="background-color:#ffffff; color:#0088cc;font-weight:bolder;font-size:24px;margin-top:30%;"></div>
                                </div>
                               <hr />
                                <p style="text-align:center"><a  id="lastclockinout" style="color:darkblue;margin-bottom:0;"></a></p>
                            </section>
                        </div>
                    </div>
            </div>

        </div>
      

     
     
      
        <!-- end: page -->
    </section>
  
</div>
<div class="row">
    <div class="demo-container">
        <div id="photoGrid">
           
            
        </div>
    </div>
</div>
<div class="row">
    <div class="demo-container">
        <div id="noteGrid"> </div>
        @*<div id="ServiceSelectBox"> </div>*@
        <div id="ServiceSelectBox" style="margin-bottom:20px;"></div>
    </div>
</div>

@*<div id="large-indicator"></div>*@

