﻿
@{
    ViewBag.Title = "Time sheet Billing - Zion Portal";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}


<div class="inner-wrapper" style="background:#ffffff">

    <section role="main" class="content-body">
        <div>
            <h1>Timesheet Billing</h1>
        </div>
        <hr />

        <!-- start: page -->
        @*<div class="row">
              <div class="demo-container">
                  <div id="viewTimesheetChart"></div>
              </div>
          </div>

        <hr />*@
        <div class="row">
            <div class="right-side">
                @*<p><strong>Approval Status</strong></p>*@
                <div id="BillingselectStatus"></div>
            </div>
        </div>

        <div style=" margin-top:30px"></div>

        <div class="row">
            <div class="demo-container">
                <div id="BillingTimesheetGrid"></div>
            </div>
        </div>
        <div class="row">
            <div class="demo-container">
                <div id="approvalnotepopup"></div>
            </div>
        </div>
        <div class="row">
            <div class="demo-container">
                <div id="billingnotepopup"></div>
            </div>
        </div>

        <div class="row">
            <div class="demo-container">
                <div id="aptspopup">
                    <div id="billingtimesheetGrid">

                    </div>
                </div>
            </div>
        </div>


        <!-- end: page -->
    </section>

</div>

