﻿
@{
    ViewBag.Title = "View Timesheet - Zion Portal";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}


<div class="inner-wrapper" style="background:#ffffff">
  
    <section role="main" class="content-body">
        <div>
            <h1>View Timesheet</h1>
        </div>
        <hr />

        <!-- start: page -->
        @*<div class="row">
              <div class="demo-container">
                  <div id="viewTimesheetChart"></div>
              </div>
          </div>

        <hr />*@

        <div class="row">
            <div class="demo-container">
                <div id="viewTimesheetGrid"></div>
            </div>
        </div>
        <div class="row">
            <div class="demo-container">
                <div id="notepopup"></div>
            </div>
        </div>

        <div class="row">
            <div class="demo-container">
                <div id="tspopup">
                    <div id="timesheetGrid">

                    </div>
                </div>
            </div>
        </div>


        <!-- end: page -->
    </section>
  
</div>

