﻿@{
    ViewBag.Title = "EklipseConsult | Review Applicant Result";
    Layout = "~/Views/Shared/_MainFrame.cshtml";
}
<div class="container-fluid">
    <div class="container">
        <div id="wiz_container">

            <div id="middle-wizard">
                    <div class="">
                        <h1 class="main_title sz-text-md"> Review Applicant Result</h1>
                        <p>
                           Plesae approve or reject applicant's assesssment test details based on details (below) and resume (in approval email sent previously)
                        </p>
                        <div class="AppDetBlock">
                                <ul>
                                    <li>
                                        <span >
                                            <b>Applicant ID :</b><i id="appID"> @ViewBag.AppID</i> 
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            <b>Applicant Name :</b> @ViewBag.FirstLastName
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            <b>Applicant Email :</b> @ViewBag.Email
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            <b>Applicant Phone :</b> @ViewBag.Phone
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            <b>Test Score :</b> @ViewBag.Score
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            <b>Test Result :</b> @ViewBag.Result
                                        </span>
                                    </li>
                                </ul>
                        </div>
                        <br />
                        <br />
                        <div class="form-group">
                        <label class="container_radio version_2">Approve
                            <input type="radio"  name="question_1[]" value="Approved" class="">
                            <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="container_radio version_2">
                                Reject
                                <input type="radio" name="question_1[]" value="Rejected" class="">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>




                </div>
                <!-- /step-->
            </div>
            <!-- /middle-wizard -->
            <div id="bottom-wizard">
                <button id="reviewtest" name="" class="submit">Submit Review</button>
            </div>
            <!-- /bottom-wizard -->

        </div>
        <!-- /Wizard container -->
    </div>
</div>








