.home2 img{
        width: 400px;
        padding-top: 100px;
    }
.input-group[class*="col-"] {
    float: right;
}
h1 {
    font-size: 35px;
}

.toggle_icon span {
     background: #ffffff none repeat scroll 0 0;
}
.cd-side-navigation::before {
    background-color: transparent;
}
body
{
    background-color:transparent
}
.b1{
    border:1px solid #cccccc;
    padding-bottom:10px;
    border-bottom:none;
}
.h32 {
    border-bottom: none !important;
    padding:0;
    margin-bottom:10px;
    color:#ffffff;
}
.system_btn {
    background-color: #808080;
    padding: 10px 12px;
    font-size: 14px;
}
.btn-primary {
    background-color: #0abea8;
}
.h3 {
    border-bottom: 1px solid #0abea8;
    color: #0abea8;
}
.timeline.gray-blue .timeline-icon {
    border-color: #0abea8;
}
.system_font_color {
    color: #0abea8;
}
.blockquote {
    border-left: 5px solid #0abea8;
}
.modal_profile_tag span {
    color: #0abea8;
}
.bgpattern{
    background: url("../images/biobgpattern1.jpg") top center !important ;
    background-repeat:repeat;
}
.testimonial-divider::after {
    border-color: #ffffff rgba(136, 183, 213, 0) rgba(136, 183, 213, 0);
  
}
.whitetext {
    color:#ffffff !important
}
.cd-side-navigation::before {
    background-color:#808080 !important;
}
.cd-side-navigation a.selected, .no-touch{
    background-color: #808080;
}

.cd-side-navigation a.selected, .cd-side-navigation a.selected:hover {
    background-color: #0abea8 !important;
}
.cd-side-navigation ul {
    height: 60%;
    top:20%
}
.bgcolor {
      background-color:#0abea8 !important;
}
.mb0 {
    margin-bottom:0 !important;
}
.l0 {
    left:0px !important;
}
.cd-side-navigation {
    height: 1000vh;
}
.error {
    font-size:12px; color:red; font-style:italic
}
.alert-success {
    background-color:#c5f3ed;
    border:none;
    color:#0abea8;
}
.h22 {
    border-bottom: 0px solid #cccccc;
    color: #333;
    font-family: "Josefin Sans",sans-serif;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 40px;
    padding-bottom: 10px;
}
.h23 {
    border-bottom: 0px solid #cccccc;
    color: #0abea8 !important;
    font-family: "Josefin Sans",sans-serif;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 35px;
    padding-bottom: 5px;
}
a {
    color: #777;
}
.center {
    text-align:center;
}
.p30 {
   padding:30px
}
.pbg {
    background-color: #808080
}
.pb20 {
    padding-bottom:20px
}
.p10 {
    padding: 10px;
}
.modal_profile_tag span {
    display:inline-block;
    margin: 10px;
}
.desc li, .timeline-content p ,blockquote p{
     font-family: "Josefin Sans",sans-serif;
    font-size: 18px;
}
.timeline-content h4 {
    color:#0abea8
}
#dropZone {
    background: gray;
    border: black dashed 3px;
    width: 200px;
    padding: 50px;
    text-align: center;
    color: white;
}

.navbar {
    left:0px !important;
    margin-bottom:0px !important;

}
.text-black {
    color:#000;
    font-family: "Josefin Sans",sans-serif;
}
.cd-side-navigation ul li a:hover {
    background: #0abea8;
    color:white;
}

.footer_wrapper {  width:100%;     background-color:#646464; }
.footer_wrapper.fixed {position:fixed; bottom:0px;}

.z-tabs.silver > ul > li{
    font-family: "Josefin Sans",sans-serif;
     
    
    
}
    .z-tabs.silver > ul > li> a {
        font-size:larger !important;
        
    }


.pp {
    border-bottom: none;
}

.omb {
    margin-bottom:0
}
.fivemb {
    margin-bottom: 5px
}

.addremovebut {
background-color:inherit; float: right; color:#0abea8;font-size:14px;margin: 15px;border:none
}

    .addremovebut span {
        padding:1px;
    }
    /*.ui-datepicker-calendar {
       display: none;
    }
    .ui-datepicker-month {
       display: none;
    }
    .ui-datepicker-prev{
       display: none;
    }
    .ui-datepicker-next{
       display: none;
    }*/

    input[type='file'] {
  /*color: transparent;*/    /* Hides your "No File Selected" */
}