﻿

.tog {
    padding-top:30px;
}

.hidden {
    display:none;
}
.Show {
    display:inline-block;
}
.cul {
    list-style: none;
    font-size: 20px;
    text-align: left;
    color: #000000
}
.scroll-to-top{
	position:fixed;
	bottom:30px;
	right:10px;
	width:120px;
	height:120px;
	color:#ffffff;
	background:black;
    /*old background color 11c3f0*/
	font-size:19px;
	line-height:38px;
	text-align:center;
	z-index:100;
	cursor:pointer;
	display:none;
	border-radius:50%;	
}


.theme-dark-blue .scroll-to-top{
	background:#5677cc;
	border-color:#ffffff;	
}


.scroll-to-top:hover{
	background:#0b891b;
	color:#ffffff;
	border-color:#0b891b !important;
}

.mt50 {
    margin-top:50px;
}

