﻿<%@ Page Title="" Language="C#" MasterPageFile="~/megalabs.master" AutoEventWireup="true" CodeFile="TestResults.aspx.cs" Inherits="TestResults" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
      <title>Test Results | Mega Lab Services</title>	
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
</asp:Content>

