/* Add here all your CSS customizations */

.noborder > tbody > tr > td {
    border-top: none;
}
.whitebody {
    background: #ffffff;
}

.tlabel {
    display: inline-block;
    min-width: 100px;
    font-weight:bold;
    text-align:right;
    padding-right:20px;
}

.tlabel2 {
    display: inline-block;
    min-width: 100px;
    font-weight:bold;
    text-align:right;
    padding-right:20px;
}
.dataTables_wrapper .dataTables_filter label {
    float: right;
    width: 50%;
}
.pagination {
    float:right;
}
.cbp0{
    padding:0 !important
}
.mb-md {
    display:none;
}
.dtc {
    color:#413d3d !important
}