﻿@{
    ViewBag.Current = "Home";
    Layout = "~/Views/Shared/_Plain.cshtml";
}

<div class="">
    @if (Request.IsAuthenticated)
    {
        <h4>Welcome @ViewBag.User.DisplayName!</h4>
        <p>Use the navigation bar at the top of the page to get started.</p>
    }
    else
    {
        <div class="h5 modal-title text-center">
            <h4 class="mt-2">
                <div>Welcome back,</div>
                <span>Please sign in to your account below.</span>
            </h4>
        </div>
        <form class="">
            <div class="form-row">
                <div class="col-md-12">
                    <div class="position-relative form-group"><input name="email" id="exampleEmail" placeholder="Email here..." type="email" class="form-control"></div>
                </div>
                <div class="col-md-12">
                    <div class="position-relative form-group"><input name="password" id="examplePassword" placeholder="Password here..." type="password" class="form-control"></div>
                </div>
            </div>
            <div class="position-relative form-check"><input name="check" id="exampleCheck" type="checkbox" class="form-check-input"><label for="exampleCheck" class="form-check-label">Keep me logged in</label></div>
        </form>
        <div class="divider"></div>
    @Html.ActionLink("Click here to sign in", "SignIn", "Account", new { area = "" }, new { @class = "btn btn-primary btn-large" })
}
    </div>