﻿
@{
    ViewBag.Title = "Check Reservation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="site-main">
    <!-- Section Page Title -->
    <div class="section">

        <div class="widget-page-title">
            <div class="wrapper-inner">
               
               <h2 >Check Reservation Details</h2>
            </div>
        </div>
    </div>
    <!-- Section Page Title End -->

    <!-- Section Booking -->
    <div class="section">
        <div class="widget-booking-form">
            <div class="wrapper-inner">
                <div class="widget-inner">
                    <div class="row">
                        <div class="col-lg-4 col-md-3">
                            
                            <div class="booking-form ">
                          
                                <div class="data-form">
                                   
                                        <div class="row">
                                    
                                            <div class="col-md-12">
                                                <input type="text" name="form-name" id="confirmationnumber" placeholder="Confirmation Number" required>
                                            </div>
                                            <div class="col-md-12">
                                                <input type="text" name="form-surname" id="lastname" placeholder="Last Name" required>
                                            </div>
                                          
                                            <div class="col-md-12" style="text-align:center">
                                                <button id="chkres" type="submit" class="btn">Check Reservation</button>
                                            </div>
                                        </div>
                              
                                </div>
                            </div>
                            <!-- Booking Form End -->
                        </div>
                        <div class="col-lg-8 col-md-9">
                            <!-- Booking Detail -->
                            <div class="booking-detail" style="padding-bottom:15px">
                                <h5><span class="themefontcolor">RESERVATION DETAILS</span></h5>
                                
                                <div class="detail-room">
                                 
                                    <div class="room-desc">
                                        <h3><span style="padding-right:20px;"><a id="roomtype" href="#"> </a></span><span id="totalprice"></span></h3>
                                        
                                    </div>
                                </div>
                                <div id="chkresclrr" class="detail-info">
                                    <ul>
                                        <li>
                                            <label>CHECK IN</label>
                                            <p  id="checkin"></p>
                                        </li>
                                        <li>
                                            <label>CHECK OUT</label>
                                            <p id="checkout"></p>
                                        </li>
                                        <li>
                                            <label>GUESTS</label>
                                            <p id="guest" ></p>
                                        </li>
                                        
                                        <li>
                                            <label>NIGHT</label>
                                            <p id="night"></p>
                                        </li>
                                        
                                       
                                       
                                    </ul>
                                </div>
                            </div>
                            <!-- Booking Detail End -->
                         
                        </div>
                    </div>

                    <div class="row" style="text-align:center">
                           <!-- Booking Help -->
                            <div class="booking-help">
                                <h2>Need To Change Your Reservation?</h2>
                                <p>If you need to make changes to your reservation, please contact our reservations team via phone or email to assist you with the changes.</p>
                                <p><a href="mailto:info@towlabsuites.com">info@towlabsuites.com</a></p>
                                <h3><i class="fa fa-phone-square"></i>+234 909 006 491</h3>
                            </div>
                            <!-- Booking Help End -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Section Booking End -->
</div>
<!-- Site Main End -->
    @Scripts.Render("~/bundles/jqueryval")
