﻿@model TowlabSuites.Models.ReservationModel
@{
    ViewBag.Title = "Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Site Main -->
<div class="site-main">
    <!-- Section Page Title -->
    <div class="section">
        <div class="widget-page-title">
            <div class="widget-background" data-background="assets/img/photo-title.jpg"></div>
            <div class="wrapper-inner">
                <!-- Title -->
        @{ if (Model != null){
           <h1 class="@Model.ReservationCompleteFontColor">@Model.ReservationComplete</h1>
                <p>@Model.Message</p>}
                                     else{
               <h2 style="color:red">Error generating confirmation Number</h2>
                <p> Please contact us at <strong>+234 909 006 491</strong> to fix any issues with your reservation</p>
           }
               }
               
                <!-- Title End -->
             
            </div>
        </div>
    </div>
    <div class="section">
         <div class="wrapper-inner">
                <!-- Features Title -->
                <div class="widget-title" style="text-align:left;">
         <p><strong>Cancellation Policy:</strong> Reservations that are cancelled within 
             72 hours of arrival or do not arrive on the scheduled arrival date will be charged one night room rate with tax.
             
Should you need to make changes, please contact us at <strong>+234 909 006 491</strong>
       <br />
Be sure to sign up for our Newsletter to receive email updates on specials, exclusive packages, promotions and other exciting news from Towlab Suites.
            <br />
             <br />
     
Looking forward to your stay,
            <br />
     
TowLab Suites Reservations.</p>
    </div>
             </div></div>
    <!-- BitVector32.Section Page Title End -->
    </div>
