﻿    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
    <head> <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> <meta name="viewport" content="width=device-width"> 
        <!--[if !mso]><!-- --> <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!--<![endif]--> <title>Towlab Suites - New Contact Notification</title>
               <style type="text/css">
                   #outlook a {
                       padding: 0;
                   }

                   body {
                       width: 100%!important;
                       -webkit-text-size-adjust: 100%;
                       -ms-text-size-adjust: 100%;
                       margin: 0!important;
                       padding: 0!important;
                       background-color: #fff;
                   }

                   .ExternalClass {
                       width: 100%;
                   }

                       .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td,
                       .Ext .wrap {
                           width: 96% !important;
                       }

                   .wrap .padd {
                       width: 10px !important;
                   }

                   .wrap table {
                       width: 100% !important;
                   }

                   .wrap img {
                       max-width: 100% !important;
                       height: auto !important;
                   }

                   .wrap .m-padd {
                       padding: 0 20px !important;
                   }

                   .wrap .m-w-auto {
                       width: auto !important;
                   }

                   .wrap .m-l {
                       text-align: left !important;
                   }

                   .wrap .h div {
                       letter-spacing: -1px !important;
                       font-size: 18px !important;
                   }

                   .wrap .m-0 {
                       width: 0;
                       display: none;
                   }

                   .wrap .m-b {
                       margin-bottom: 20px !important;
                   }

                   .wrap .m-b, .m-b img {
                       display: block;
                       min-width: 100% !important;
                       width: 100% !important;
                   }

                   table {
                       font-size: 15px !important;
                   }

                       table.textbutton td {
                           height: 44px !important;
                       }

                   .cta table.textbutton td {
                       height: 50px !important;
                   }

                   table.textbutton a {
                       padding: 10px 0 !important;
                       font-size: 18px !important;
                   }
               </style>  
    </head>
    <body style="width: 100%!important; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; margin: 0!important; padding: 0!important; background-color: #fff"> 
 
        <table class="bodytbl" width="100%" cellpadding="0" cellspacing="0" style="margin: 0; padding: 0; width: 100%!important; -webkit-text-size-adjust: none; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #fff; color: #ff0000; font-family: Georgia,Arial,Verdana,sans-serif; font-size: 14px"> 
            <tr style="padding: 0"> <td align="center" style="border-collapse: collapse; color: #ff0000; line-height: 24px; padding: 0">
            <table width="600" cellpadding="0" cellspacing="0" class="wrap" style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; color: #ff0000; background-color: #FAFAFA; font-family: Georgia,Arial,Verdana,sans-serif; font-size: 14px">
                <tr height="20" style="padding: 0">
                    <td width="600" align="left" valign="bottom" style="border-collapse: collapse; color: #ff0000; line-height: 24px; padding: 0">
                        <div class="preheader" style="line-height: 0px; font-size: 0px; height: 0px; display: none !important; visibility: hidden; text-indent: -9999px">Towlab Suites Reservation Notification</div>
                        <div class="small" style="font-size: 10px; color: #000; line-height: 15px; text-transform: uppercase; word-spacing: -1px; margin-bottom: 4px; margin-top: 6px"><span>Trouble seeing something? <a href="#" style="color: #ff704d; text-decoration: none; padding: 2px 0px">view it online</a> </span></div>
                    </td>
                </tr>
            </table>
            <!-- ? header block ends here -->
      
                    <table cellpadding="0" width="600" cellspacing="0" style="background-color:white;margin:0;padding:0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; color: #ff0000; font-family: Helvetica,Georgia,Arial,Verdana,sans-serif; font-size: 14px"> 
                    <tr style="padding: 0"> 
                        <td width="400" valign="top"  style="background-color:#fff; background-image: url(http://towlabsuites.com/Content/img/TowlabSuites%20logo-07.jpg)
                          ; background-position: left;background-repeat:no-repeat; background-size: 20%; border-collapse: collapse; color: #ff0000; line-height: 24px;" > 
                            <span style="color: #353535; font-family: Georgia,Arial,Verdana,sans-serif; float:right; font-weight: bold; font-size: 24px; letter-spacing: 0px; margin-bottom: 6px; margin-top: 30px; line-height: 20px; padding-right:30px;">
                                <span>New Message</span></span>
                        <!--[if gte mso 9]> <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="width:600px;"> 
                         <v:fill type="frame" src="http://towlabsuites.com/Content/img/TowlabSuites%20logo-07.jpg" color="#353535" /> <v:textbox style="mso-fit-shape-to-text:true" inset="0,0,0,0"> <![endif]--> 
                    <div>
                        <table cellpadding="0" cellspacing="0" style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; color: #ff0000; font-family:Georgia,Arial,Verdana,sans-serif; font-size: 14px">
                            <tr style="padding: 0">
                                <td width="24" height="48" class="padd" style="border-collapse: collapse; color: #ff0000; width: 20px; line-height: 24px; padding: 0"></td>
                                <td align="center" style="border-collapse: collapse; color: #ff0000; line-height: 24px; padding: 0"></td>
                                <td width="24" class="padd" style="border-collapse: collapse; color: #ff0000; width: 20px; line-height: 24px; padding: 0"></td>
                            </tr>
                            <tr style="padding: 0">
                                <td height="24" colspan="3" style="border-collapse: collapse; color: #ff0000; line-height: 24px; padding: 0"></td>
                            </tr>
                        </table>
                    </div>
                    <!--[if gte mso 9]> </v:textbox> </v:rect> <![endif]-->
                </td>
                </tr>
                </table>
              
            <!-- 1/1 Text start  -->
            <table width="600" cellpadding="0" cellspacing="0" class="wrap" style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; color: #ff0000; background-color: #FFF; font-family: Georgia,Arial,Verdana,sans-serif; font-size: 14px">
                <tr style="padding: 0">
                    <td width="600" valign="top" align="left" style="border-collapse: collapse; color: #ff0000; line-height: 24px; padding: 0">
                        <table cellpadding="0" cellspacing="0" style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; color: #ff0000; font-family: Helvetica,Georgia,Arial,Verdana,sans-serif; font-size: 14px">
                            <tr style="padding: 0">
                                <!-- CONTENT start -->
                                <td width="600" valign="top" align="left" style="border-collapse: collapse; color: #ff0000; line-height: 24px; padding: 0">

                                    <table width="600" cellpadding="0" cellspacing="0" class="wrap line" style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; color: #ff0000; background-color: #FAFAFA; border-bottom: 1px solid #AAAAAA; font-family:Georgia,Arial,Verdana,sans-serif; font-size: 14px">
                                        <tr style="padding: 0">
                                            <td width="600" style="border-collapse: collapse; color: #ff0000; line-height: 24px; padding: 0"></td>
                                        </tr>
                                    </table>
                                    <table width="600" cellpadding="0" cellspacing="0" class="wrap" style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; color: #ff0000; background-color: #FAFAFA; font-family:Georgia,Arial,Verdana,sans-serif; font-size: 14px">
                                        <tr style="padding: 0">
                                            <td style="border-collapse: collapse; color: #ff0000; line-height: 24px; padding: 0">
                                                    <table cellpadding="0" cellspacing="0" align="right" class="m-w-auto" style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; color: #ff0000; font-family:Georgia,Arial,Verdana,sans-serif; font-size: 14px">
                                                    <tr style="padding: 0">
                                                        <td valign="top" align="right" width="600" class="small label" style="border-collapse: collapse; color: #ff0000; line-height: 15px; padding: 0; font-size: 10px; text-transform: uppercase; word-spacing: -1px; margin-bottom: 4px; margin-top: 6px"></td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>

                                    </table>
                                    
                                    <p style=" padding-left:15px;color: #353535; font-family: Georgia,Arial,Verdana,sans-serif; font-size: 22px; letter-spacing: 0px; margin-bottom: 6px; margin-top: 30px; line-height: 20px;"><strong style="color: #ff704d;">
                                        New contact Notification </strong>  </p>
                                   
                                    <p style="padding-left:15px;color: #353535; font-family: Georgia,Arial,Verdana,sans-serif; font-size: 15px; letter-spacing: 0px; margin-bottom: 6px; margin-top: 20px; line-height: 20px;">
                                        </p>

                                    <p style="padding-left:15px;color: #353535; font-family: Georgia,Arial,Verdana,sans-serif; font-size: 15px; letter-spacing: 0px; margin-bottom: 6px; margin-top: 20px; line-height: 20px;">
                                       First Name:
                                        <br /><strong style="color: #ff704d;">[[confimationnumber]]</strong><br /><br />
                                        Last Name:
                                        <br /><strong style="color: #ff704d;">[[confimationnumber]]</strong><br /><br />
                                        Email:
                                        <br /><strong style="color: #ff704d;">[[confimationnumber]]</strong><br /><br />
                                        Phone:
                                        <br /><strong style="color: #ff704d;">[[confimationnumber]]</strong>><br />
                                        <br />                                       
                                        Message:<br />
                                        <strong style="color: #ff704d;">[[confimationnumber]]</strong>
                                        <br />
                                        <br />
                                      
                                       


<strong>Message response Policy:</strong>
You are required to respond to this message when the next 2 hours .

                                    </p>

                                   

                                    <div>


                                </div>
                                </td>
                                <!-- CONTENT end -->
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
           
            <!-- 1/1 Text end   -->
            <!-- Footer start -->
            <table width="600" cellpadding="0" cellspacing="0" class="wrap line" style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; color: #ff0000; background-color: #fff; border-bottom: 1px solid #AAAAAA; font-family: Helvetica,Georgia,Arial,Verdana,sans-serif; font-size: 14px">
                <tr style="padding: 0">
                    <td width="600" height="39" style="border-collapse: collapse; color: #ff0000; line-height: 24px; padding: 0"></td>
                </tr>
            </table>
            <table width="600" cellpadding="0" cellspacing="0" class="wrap" style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; color: #ff0000; background-color: #e8e8e8; font-family: Helvetica,Georgia,Arial,Verdana,sans-serif; font-size: 14px">
                <tr style="padding: 0">
                    <td style="border-collapse: collapse; color: #ff0000; line-height: 24px; padding: 0"></td>
                </tr>
            </table>
            <table width="600" cellpadding="0" cellspacing="0" class="wrap" style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; color: #ff0000; font-family: Helvetica,Georgia,Arial,Verdana,sans-serif; font-size: 14px">
                <tr style="padding: 0">
                    <td width="600" valign="top" align="center" style="border-collapse: collapse; color: #ff0000; line-height: 24px; padding: 0">
                        <table cellpadding="0" cellspacing="0" class="o-fix" style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; color: #ff0000; font-family: Helvetica,Georgia,Arial,Verdana,sans-serif; font-size: 14px">
                            <tr style="padding: 0">
                                <!-- CONTENT start -->
                                <td width="600" valign="top" align="left" style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; color: #ff0000; line-height: 24px; padding: 0">
                                    <table cellpadding="0" cellspacing="0" align="left" style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; 
color: #000; font-family:Georgia,Arial,Verdana,sans-serif; font-size: 18px">
                                        <tr style="padding: 0">
                                            <td width="600" class="small" align="left" valign="top" style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; color: #000; line-height: 15px; padding: 0; font-size: 12px; font-family: Georgia,Arial,Verdana,sans-serif; word-spacing: -1px; margin-bottom: 4px; margin-top: 6px; text-align: center;">
                                                
                                               
                                                
                                                <div>

                                                   

                                                </div>
                                                <div style="margin:15px"><span>© 2017 Towlabsuites.com, All rights reserved</span></div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <!-- CONTENT end -->
                            </tr>
                            <tr class="m-0" style="padding: 0">
                                <td height="24" style="border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; color: #ff0000; line-height: 24px; padding: 0"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <!-- Footer end -->
        </td>
        </tr>
        </table>

    </body> </html>

