﻿
@{
    ViewBag.Title = "Confirm Email";
    Layout = "~/Views/Shared/PlainLayout.cshtml";
}



<div id="recovery_body">
    <!-- start: page -->
    <section class="body-sign">
        <div class="center-sign">
            <div class="panel card-sign">
                <div class="text-center">
                  
                    <h2 class="title  m-0 offblack " ><i class="fas fa-user mr-1"></i> Confirm Email</h2>
                   <br />
                </div>
                <div class="card-body">
                    <div class="alert">
                        <p id="confirmPText" class="m-0  labelcolor text-center" style="font-size:20px">Please confirm your email by clicking the confirm button</p>
                    </div>
                    <form id="frmconfirmemail">

                        <div class="errorconfirmemaild hidden">
                            <p class="alert-danger text-lg-center" style="padding:10px; ">Error confirming email!. Please try later</p>
                        </div>

                        <div class="form-group mb-0">
                            <div class="successconfirmemaild hidden">
                                <p class="alert-success text-lg-center" style="padding:10px; ">Your email has been confirmed.Please <a  style="color:blue;text-decoration:underline" href="/Auth/SignIn"> sign in</a> to continue</p>
                            </div>
                            <div class="input-group">
                                <input id="confirmemailemail" disabled value="@ViewBag.email" name="confirmemailemail" type="email" placeholder="E-mail" class="form-control form-control-lg" required />
                                <span class="input-group-append">
                                    <button id="btnconfirmemail" class="btn btn-primary btn-lg" type="submit">Confirm!</button>
                                </span>
                            </div>
                            <div class="errorconfirmemail" style="font-size:14px;font-style:italic;color:red"></div>
                        </div>
                    </form>
                    <br />
                    <br />
                </div>
         
        </div>
            </div>
    </section>
    <!-- end: page -->
</div>

