﻿
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/PlainLayout.cshtml";
}



<div id="recovery_body">
    <!-- start: page -->
    <section class="body-sign">
        <div class="center-sign">
            <div class="panel card-sign">
                <div class="text-center">
                  
                    <h2 class="title  m-0 offblack " ><i class="fas fa-user mr-1"></i> Recover Password</h2>
                   <br />
                </div>
                <div class="card-body">
                    <div class="alert">
                        <p class="m-0  labelcolor text-center" style="font-size:20px">Enter your e-mail below to request a password reset !</p>
                    </div>
                    <form id="frmForgotPassword">

                        <div class="errorforgotpassword hidden">
                            <p class="alert-danger text-lg-center" style="padding:10px; ">Error!. Please try later</p>
                        </div>

                        <div class="form-group mb-0">
                            <div class="input-group">
                                <input id="forgotpasswordemail" name="forgotpasswordemail" type="email" placeholder="E-mail" class="form-control form-control-lg" required />
                                <span class="input-group-append">
                                    <button id="btnforgotpassword" class="btn btn-primary btn-lg" type="submit">Reset!</button>
                                </span>
                            </div>
                            <div class="errorforgotpasswordemail" style="font-size:14px;font-style:italic;color:red"></div>
                        </div>
                    </form>
                    <br />
                    <br />
                    <div id="modalFullColorSuccess" class="modal-block modal-header-color modal-block-success mfp-hide">
                        <section class="card">
                            <header class="card-header">
                                <h2 class="card-title">Reset Password!</h2>
                            </header>
                            <div class="card-body">
                                <div class="modal-wrapper">
                                    <div class="modal-icon">
                                        <i class="fas fa-check"></i>
                                    </div>
                                    <div class="modal-text">

                                        <p>An email has been set you you. Please follow the instructions in the email to reset your password.</p>
            
                                        <br />
                                     
                                    </div>
                                  
                                </div>
                            </div>
                            <footer class="card-footer">
                                <div class="row">
                                    <div class="col-md-12 text-right">
                                        <a id="btnsignIn" href="/Auth/SignIn" class="btn btn-success btn-sm" type="submit">Sign In</a>
                                    </div>
                                </div>
                            </footer>
                        </section>
                        <p class="text-center mt-3">Remembered? <a href="/Auth/SignIn">Sign In!</a></p>

                    </div>
                </div>
         
        </div>
            </div>
    </section>
    <!-- end: page -->
</div>

