﻿
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/PlainLayout.cshtml";
}



<div id="recovery_body">
    <!-- start: page -->
    <section class="body-sign">
        <div class="center-sign">
            <div class="panel card-sign">
                <div class="text-center">
                  
                    <h2 class="title  m-0 offblack " ><i class="fas fa-user mr-1"></i> Reset Password</h2>
                   <br />
                </div>
                <div class="card-body">
                    <div class="text-md-center">
                        <p class="m-0" style="font-size:18px; color:#000 !important">You have been sent a temporary password.Please check your email for instructions on how to reset your password. !</p>
                    </div>
                    <hr />
                    <br />
                    <form id="frmresetpassword">

                        <div class="errorresetpassword hidden">
                            <p class="alert-danger text-lg-center" style="padding:10px; ">Error resetting password. Please try again</p>
                        </div>
                        <div class="form-group mb-3 ">
                            @* #6f6767*@
                            <label class="labelcolor">Email <span class="required">*</span></label>

                            <div class="input-group">
                                <input id="resetpasswordemail" name="resetpasswordemail" type="email" class="form-control form-control-lg input-group-Size" placeholder="you@example.com" required />
                                <span class="input-group-append">

                                </span>
                            </div>

                            <div class="errorresetpasswordemail" style="font-size:14px;font-style:italic;color:red"></div>
                        </div>

                        <div class="form-group mb-3 ">
                            @* #6f6767*@
                            <label class="labelcolor">Temp Password <span class="required">*</span></label>

                            <div class="input-group">
                                <input id="resetpasswordtemppassword" name="resetpasswordtemppassword" type="password" class="form-control form-control-lg input-group-Size" placeholder="xxxxx" required />
                                <span class="input-group-append">

                                </span>
                            </div>

                            <div class="errorresetpasswordtemppassword" style="font-size:14px;font-style:italic;color:red"></div>
                        </div>

                        <div class="form-group mb-3 ">
                            @* #6f6767*@
                            <label class="labelcolor">New Password <span class="required">*</span></label>

                            <div class="input-group">
                                <input id="resetpasswordpassword" name="resetpasswordpassword" type="password" class="form-control form-control-lg input-group-Size" placeholder="xxxxx" required />
                                <span class="input-group-append">

                                </span>
                            </div>

                            <div class="errorresetpasswordpassword" style="font-size:14px;font-style:italic;color:red"></div>
                        </div>


                        <div class="form-group mb-3 ">
                            @* #6f6767*@
                            <label class="labelcolor">Confirm Password <span class="required">*</span></label>

                            <div class="input-group">
                                <input id="resetpasswordpassword2" name="resetpasswordpassword2" type="password" class="form-control form-control-lg input-group-Size" placeholder="xxxxx" required />
                                <span class="input-group-append">

                                </span>
                            </div>

                            <div class="errorresetpasswordpassword2" style="font-size:14px;font-style:italic;color:red"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">

                            </div>
                            <div class="col-sm-4">
                                <button id="btnresetpassword" type="submit" style="border:none;background-image: linear-gradient(to left, #BDBBBE 0%, #9D9EA3 100%), radial-gradient(88% 271%, rgba(255, 255, 255, 0.25) 0%, rgba(254, 254, 254, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%), radial-gradient(50% 100%, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
 background-blend-mode: normal, lighten, soft-light;width:120px; height:50px; font-size:16px" class="btn btn-primary mt-2">
                                    Submit
                                </button>
                            </div>
                        </div>
                        <br />
                        <br />
                    </form>
                </div>
         
        </div>
            </div>
    </section>
    <!-- end: page -->
</div>

