﻿
@{
    ViewBag.Title = "SignIn";
    Layout = "~/Views/Shared/PlainLayout.cshtml";
}

<div id="signin_body">
    <!-- start: page -->
    <section class="body-sign">


        <div class="center-sign">

            <div class="panel card-sign">
                <div class="text-center">
                    <h2 class="m-0 offblack"><i class="fas fa-user mr-1"></i> Sign In</h2>
                    <br />
                </div>
                <div class="card-body">
                    
                        <div class="mb-1 text-center">
                            <a class="btn btn-facebook mb-3 ml-1 mr-1" href="#">Connect with <i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-twitter mb-3 ml-1 mr-1" href="#">Connect with <i class="fab fa-google"></i></a>
                        </div>
                        <span class="mt-3 mb-3 line-thru text-center text-uppercase">
                            <span>or</span>
                        </span>
                        <form id="frmSignIn">
                            <div class="errorsignin hidden">
                                <p class="alert-danger text-lg-center" style="padding:10px; ">Invalid Username / Password combination</p>
                            </div>
                            <div class="form-group mb-3 ">
                                @* #6f6767*@
                                <label class="labelcolor">Email <span class="required">*</span></label>

                                <div class="input-group">
                                    <input id="signinemail" name="email" type="email" class="form-control form-control-lg input-group-Size" placeholder="you@example.com" required />
                                    <span class="input-group-append">

                                    </span>
                                </div>
                                <div class="erroremail" style="font-size:14px;font-style:italic;color:red"></div>

                            </div>
                            <div class="form-group mb-3 labelcolor">
                                <label class="float-left labelcolor">Password <span class="required">*</span></label>
                                <div class="input-group">
                                    <input id="signinpwd" name="password" type="password" class="form-control form-control-lg input-group-Size" placeholder="xxxxxxx" required />
                                    <span class="input-group-append">

                                    </span>
                                </div>
                                <div class="errorpassword" style="font-size:14px;font-style:italic;color:red"></div>
                                <div class="clearfix">

                                    <a href="/Auth/ForgotPassword" style="margin-top: 10px;font-style: italic;font-size: 14px" class="float-right">Forgot Password?</a>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-8">

                                </div>
                                <div class="col-sm-4 text-right">
                                    <button id="btnsignin" type="submit" style="border:none;background-image: linear-gradient(to left, #BDBBBE 0%, #9D9EA3 100%), radial-gradient(88% 271%, rgba(255, 255, 255, 0.25) 0%, rgba(254, 254, 254, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%), radial-gradient(50% 100%, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
 background-blend-mode: normal, lighten, soft-light;width:120px; height:50px; font-size:16px" class="btn btn-primary mt-2">
                                        Sign In
                                    </button>
                                </div>
                            </div>

                        </form>
                   
                </div>
            </div>

            <div class="panel card-sign" style="padding-top:30px;">

                <div class="card-body">
                    <form action="/" method="post">


                        <p class="text-center labelcolor">Don't have an account yet? <a href="/Auth/SignUp" style="color:#007bff !important">Sign Up!</a></p>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- end: page -->

</div>


