﻿
@{
    ViewBag.Title = "Sign Up";
    Layout = "~/Views/Shared/PlainLayout.cshtml";
}

<div id="signin_body">
    <!-- start: page -->
    <section class="body-sign">


        <div class="center-sign">                
<div class="panel card-sign">
    <div class="text-center">
        <h2 class="m-0 offblack"><i class="fas fa-user mr-1"></i> Sign Up</h2>
        <br />
    </div>
    <div class="card-body">

        <div class="successsignup hidden">
            <p class="alert-success text-lg-center" style="padding:10px;"></p>
        </div>
        <div id="formdatadiv">
            <div class="mb-1 text-center">
                <a class="btn btn-facebook mb-3 ml-1 mr-1" href="#">Sign up with <i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-twitter mb-3 ml-1 mr-1" href="#">Sign up with <i class="fab fa-google"></i></a>
            </div>
            <span class="mt-3 mb-3 line-thru text-center text-uppercase">
                <span>or</span>
            </span>

            <form id="frmSignUp">
                <div class="errorsignup hidden">
                    <p class="alert-danger text-lg-center" style="padding:10px; ">Error signing up. Please try later</p>
                </div>

                <div class="form-group mb-3">
                    <label class=" labelcolor">First Name<span class="required">*</span></label>
                    <div class="input-group">
                        <input id="signupfirstname" name="firstname" type="text" class="form-control form-control-lg input-group-Size" placeholder="John" required />
                        <span class="input-group-append">

                        </span>
                    </div>
                    <div class="errorfirstname" style="font-size:14px;font-style:italic;color:red"></div>
                </div>
                <div class="form-group mb-3">
                    <label class=" labelcolor">Last Name <span class="required">*</span></label>
                    <div class="input-group">
                        <input id="signuplastname" name="lastname" type="text" class="form-control form-control-lg input-group-Size" placeholder="Smith" required />
                        <span class="input-group-append">

                        </span>
                    </div>
                    <div class="errorlastname" style="font-size:14px;font-style:italic;color:red"></div>
                </div>
                <div class="form-group mb-3">
                    <label class=" labelcolor">Email <span class="required">*</span></label>
                    <div class="input-group">
                        <input id="signupemail" name="email" type="text" class="form-control form-control-lg input-group-Size" placeholder="you@example.com" required />
                        <span class="input-group-append">

                        </span>
                    </div>
                    <div class="erroremail" style="font-size:14px;font-style:italic;color:red"></div>
                </div>
                <div class="form-group mb-3">
                    <label class="float-left labelcolor">Password<span class="required">*</span></label>
                    <div class="input-group">
                        <input id="signuppwd" name="pwd" type="password" class="form-control form-control-lg input-group-Size" placeholder="xxxxxxx" required />
                        <span class="input-group-append">

                        </span>
                    </div>
                    <div class="errorpassword" style="font-size:14px;font-style:italic;color:red"></div>
                </div>
                <div class="form-group mb-3">
                    <label class="float-left labelcolor">Confirm Password <span class="required">*</span></label>
                    <div class="input-group">
                        <input id="signuppwd2" name="pwd2" type="password" class="form-control form-control-lg input-group-Size" placeholder="xxxxxxx" required />
                        <span class="input-group-append">

                        </span>
                    </div>
                    <div class="errorpassword2" style="font-size:14px;font-style:italic;color:red"></div>
                </div>
                <div class="row">
                    <div class="col-sm-4">

                    </div>
                    <div class="col-sm-4">
                        <button id="btnsignup" type="submit" style="border:none;background-image: linear-gradient(to left, #BDBBBE 0%, #9D9EA3 100%), radial-gradient(88% 271%, rgba(255, 255, 255, 0.25) 0%, rgba(254, 254, 254, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%), radial-gradient(50% 100%, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
 background-blend-mode: normal, lighten, soft-light;width:120px; height:50px; font-size:16px" class="btn btn-primary mt-2">
                            Submit
                        </button>
                    </div>
                </div>
                <br />
                <br />


            </form>
            <div>
                <br />
                <br />
                <p class="text-center">Have an account? <a href="/Auth/SignIn" style="color:#007bff !important">Sign In!</a></p>
            </div>

        </div>
    </div>
</div>

        </div>
    </section>
    <!-- end: page -->
    
</div>


