﻿@{
    ViewBag.Title = "EklipseConsult | Register Applicant";
    Layout = "~/Views/Shared/_MainFrame.cshtml";
}
@*<div class="container-fluid">
    <div class="container">
        <div id="wiz_container">

            <div id="middle-wizard">
                <div class="form-group" style="width:500px;margin:0 auto;"><input type="password" name="password" class="form-control required inputbottomborder" placeholder="Passcode"></div>
                <!-- /step-->
            </div>
            <!-- /middle-wizard -->
            <div id="bottom-wizard">
                <button id="starttest" name="" class="submit">Begin Test</button>
            </div>
            <!-- /bottom-wizard -->

        </div>
        <!-- /Wizard container -->
    </div>
</div>*@
<div class="container-fluid regApp" style="display:none;">
    <div class="container">
        <div id="wiz_container">
            <form name="RegApplicant">
                <div id="middle-wizard">
                    <div class="">
                        <div class="summary testpg" style="margin-top:150px">
                            <h1 class="main_title sz-text-md" style="margin-top:30px">Add/Reactivate Applicant</h1>

                            <p style="text-align:left;margin:0 10%">

                                Please enter email address below to add or reactivate an applicant.


                                Reactivating an applicant will remove previous test antries.
                                <br /><br />
                                Applicants are required to take the test within two weeks from addition / reactivation
                            </p>
                            <br />

                            <div class="form-group" style="width:80%;margin:0 auto;">
                                <input id="valemail" type="email" name="email" class="form-control required inputbottomborder" style="height:70px !important;" placeholder="Email">
                            </div>


                            <br />
                            <br />
                            <button id="addApplicant" name="" class="submit" style="margin-bottom:30px;">Submit</button>
                        </div>
                    </div>

                </div>
            </form>

        </div>
        <!-- /Wizard container -->
    </div>
</div>







