﻿@{
    var alerts = TempData.ContainsKey(EKCT.Portal.Models.Alert.AlertKey) ?
        (List<EKCT.Portal.Models.Alert>)TempData[EKCT.Portal.Models.Alert.AlertKey] :
        new List<EKCT.Portal.Models.Alert>();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Login Boxed - ArchitectUI HTML Bootstrap 4 Dashboard Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="description" content="ArchitectUI HTML Bootstrap 4 Dashboard Template">
    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">
    <link href="css/main.8d288f825d8dffbbe55e.css" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
          integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
          crossorigin="anonymous">
</head>

<body>
    <div class="app-container app-theme-white body-tabs-shadow">
        <div class="app-container">
            <div class="h-100 bg-plum-plate bg-animation">
                <div class="d-flex h-100 justify-content-center align-items-center">
                    <div class="mx-auto app-login-box col-md-8">
                        <div class="app-logo-inverse mx-auto mb-3"></div>
                        <div class="modal-dialog w-100 mx-auto">
                            <div class="modal-content">
                                <div class="modal-body">
                                    @RenderBody()
          
                                </div>
                                <div class="text-center text-white opacity-8 mt-3">Copyright © EklipseConsult 2020</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script type="text/javascript" src="~/assets/scripts/main.8d288f825d8dffbbe55e.js">
            </script>
</body>
</html>

