﻿
@{
    ViewBag.Title = "CourseRegistration";
    Layout = "~/Views/Shared/InnerMaster.cshtml";
}


<div class="wrapper_in">
    <div class="container-fluid">
        <div class="tab-content">
            <div class="tab-pane fade show active" id="tab_1">
                <div class="subheader" id="quote" style="background-image: url('../../img/shutterstock_361282628.jpg'); "></div>
                <div class="row">
                    <aside class="col-xl-3 col-lg-4">
                        <h2 class="offcolor">Course Registration</h2>
                        <p class="lead">Welcome to EKCT Course Registration page.</p>
                        <ul class="list_ok">
                            
                            <li style="font-weight:900;font-size:20px;">Registration Complete</li>
                        </ul>
                    </aside><!-- /aside -->

                    <div class="col-xl-9 col-lg-8">
                        <div id="wizard_container">
                        
                         <div id="middle-wizard">
                                   
                                    <div class="">
                                 
                                        <div class="row">

                                            <div class="col-sm-12">
                                                <div class="checkout-panel">
                                                    <div class="panel-body">
                                                        <h2 class="title offcolor" style="text-align:center">Registration Complete</h2>

                                                            <div id="" class="">
                                                         <p style="font-size:24px;margin-top:30px;">Thank you for registering for the Data Analytics Program
                                                                <br />
                                                             <br />
                                                                You will receive an email notification shortly with details of the next steps 

                                                                <br />
                                                                <br />
                                                                Please do not hesitate to reach out at admissions@eklipseconsult.com  if there are questions or concerns

                                                                </p>

                                                            </div>

                                                 
                                                    </div>

                                                </div>

                                            </div>

                                        </div><!-- /row-->


                                    </div><!-- /step 3-->

                                </div><!-- /middle-wizard -->
                               
                       
                        </div><!-- /Wizard container -->

                    </div><!-- /col -->
                </div><!-- /row -->
            </div>

        </div><!-- /container-fluid -->
    </div><!-- /wrapper_in -->
    </div>



