﻿
@{
    ViewBag.Title = "CourseRegistration";
    Layout = "~/Views/Shared/InnerMaster.cshtml";
}


<div class="wrapper_in">
    <div class="container-fluid">
        <div class="tab-content">
            <div class="tab-pane fade show active" id="tab_1">
                <div class="subheader" id="quote" style="background-image: url('../../img/shutterstock_361282628.jpg'); "></div>
                <div class="row">
                    <aside class="col-xl-3 col-lg-4">
                        <h2 class="offcolor">Course Registration</h2>
                        <p class="lead">Welcome to EKCT Course Registration page.</p>
                        <ul class="list_ok">
                            <li>1. Enter Personal Details.</li>
                            <li>2. Select Program</li>
                            <li>3. Make Payment (Registration only)</li>
                        </ul>
                    </aside><!-- /aside -->

                    <div class="col-xl-9 col-lg-8">
                        <div id="wizard_container">
                            <!--<div id="top-wizard">
                                <strong>STEP</strong>
                                <div id="progressbar"></div>
                            </div>-->
                            <!-- /top-wizard -->

                            <form name="example-1" id="wrapped" method="POST">
                                <input id="website" name="website" type="text" value=""><!-- Leave for security protection, read docs for details -->
                                <div id="middle-wizard">
                                    <div class="step">
                                        <p class="main_question" style="font-weight:800"><i>Step </i><i>1/3</i></p>
                                        <h3>Enter Personal Info</h3>
                                        <div class="row">

                                            <div class="col-sm-6">

                                                <div class="form-group">
                                                    <input type="text" id="FirstName" name="firstname" class="required form-control inputborder" placeholder="First name">
                                                </div>
                                                <div class="form-group">
                                                    <input type="text" id="MiddleName" name="MiddleInitial" class="form-control inputborder" placeholder="Middle Initial">
                                                </div>
                                                <div class="form-group">
                                                    <input type="text" id="LastName" name="lastname" class="required form-control inputborder" placeholder="Last name">
                                                </div>
                                                <div class="form-group">
                                                    <div class="styled-select inputborder">
                                                        <select class="required" name="gender" id="Gender">
                                                            <option value="" selected>Select gender</option>
                                                            <option value="M">Male</option>
                                                            <option value="F">Female</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <input type="email" id="Email" name="email" class="required form-control inputborder" placeholder="Email">
                                                </div>
                                                <div class="form-group">
                                                    <input type="text" id="Phone" name="phone" class="required form-control inputborder" placeholder="Phone">
                                                </div>
                                            </div><!-- /col-sm-6 -->
                                            <div class="col-sm-6">

                                                <div class="form-group">
                                                    <input type="text" id="Address1" name="address" class="required form-control inputborder" placeholder="Address">
                                                </div>
                                                <div class="form-group">
                                                    <input type="text" id="Address2" name="address2" class="form-control inputborder" placeholder="Address 2">
                                                </div>
                                                <div class="form-group">
                                                    <input type="text" id="City" name="city" class="required form-control inputborder" placeholder="City">
                                                </div>
                                                <div class="form-group">
                                                    <input type="text" id="PostalCode" name="PostalCode" class="required form-control inputborder" placeholder="Zip Code">
                                                </div>
                                                <div class="form-group">
                                                    <div class="styled-select inputborder">
                                                        <select class="required" name="country" id="Country"></select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="styled-select inputborder">
                                                        <select class="required" name="state" id="State">
                                                            <option value="" selected>Select state</option>

                                                        </select>
                                                    </div>
                                                </div>

                                            </div><!-- /col-sm-6 -->
                                        </div><!-- /row -->

                                        <div class="form-group checkbox_questions">
                                            <input name="terms" type="checkbox" class="icheck required" value="no">
                                            <label>
                                                By checking this box you agree to our <a href="#" data-toggle="modal" data-target="#terms-txt">terms and conditions</a>
                                            </label>
                                        </div>

                                        <div>

                                        </div>

                                    </div>
                                    <div class="step">

                                        <p class="main_question" style="font-weight:800"><i>Step </i><i>2/3</i></p>
                                        <h3>Select Program</h3>
                                        <div class="form-group">
                                            <div class="styled-select inputborder">
                                                <select class="required" name="Course" id="Program"></select>
                                            </div>
                                        </div>
                                        <div id="programcontent" style="visibility:hidden" class="row">

                                            <div class="col-xl-8 col-lg-7">
                                                <h3 class="offcolor" id="ProgramTitle"></h3>
                                                <p class="lead" id="ProgramDesc">
                                                </p>
                                                <p id="courses" class="lead">
                                                </p>

                                            </div>
                                            <aside class="col-xl-4 col-lg-5" style="background-color:white;">
                                                <h3 style="padding-top:10px;text-align:center">Details</h3>

                                                <ul class="list_aside" style="font-size:18px">
                                                    <li id="startdate"></li>
                                                    <li id="programduration"></li>
                                                    <li id="price"></li>
                                                    <li id="deliverymethod"></li>
                                                    <li id="meetingdays"></li>
                                                    <li id="meetingtimes"></li>
                                                    <li id="meetinghours"></li>

                                                    <li id="audience"></li>
                                                    <li id="Cohort"></li>
                                                </ul>
                                                <div class="form-group checkbox_questions required" style="font-size:18px;">
                                                    <input name="terms" type="checkbox" class="icheck required" value="no">
                                                    <label>
                                                        <b style="color:orangered">Select this Program</b>
                                                    </label>
                                                </div>
                                            </aside>

                                        </div>
                                    </div>
                                    <div class="submit step">
                                        <p class="main_question" style="font-weight:800"><i>Step </i><i>3/3</i></p>
                                        <h3 class="offcolor">Make Payment</h3>
                                        <div class="row">

                                            <div class="col-sm-12">
                                                <div class="checkout-panel">
                                                    <div class="panel-body">
                                                        <h4 class="title">Enter Payment info</h4>



                                                        <div class="payment-method">
                                                            <label for="card" class="method card switch" id="paymentcard">
                                                                <div class="card-logos">
                                                                    <img src="https://designmodo.com/demo/checkout-panel/img/visa_logo.png" />
                                                                    <img src="https://designmodo.com/demo/checkout-panel/img/mastercard_logo.png" />
                                                                </div>

                                                                <div class="radio-input ">
                                                                    <input id="card" type="radio" name="payment">
                                                                    Pay $100.00 with credit card
                                                                </div>
                                                            </label>

                                                            <label for="pp" class="method pp switch" id="paymentpp">
                                                                <img src="https://designmodo.com/demo/checkout-panel/img/paypal_logo.png" />
                                                                <div class="radio-input">
                                                                    <input id="pp" type="radio" name="payment">
                                                                    Pay $100.00 with PayPal
                                                                </div>
                                                            </label>
                                                        </div>
                                                        <div class="pppayment">
                                                                                                                    <div id="paypal-button-container"></div>
                                                                                                               
                                                                                                                </div>
                                                        <div id="cardpayment" class="cardpayment">
                                                            <div style="padding-left:0; margin:0;">
                                                                <p style="margin-left: 0;margin-bottom: 0px;padding-top: 20px;color:#b4b4b4">Name</p>
                                                            </div>
                                                            <input type="text" id="cardholder" style="font-size:25px" />
                                                            <div class="small-inputs" style="">
                                                                <div class="col-sm-7" style="padding-left:0; margin:0;">
                                                                    <p style="margin-left: 0;margin-bottom: 0px;padding-top: 20px;color:#b4b4b4">Card Number</p>
                                                                </div>

                                                                <div class="col-sm-3" style="padding-left:0; margin:0;">
                                                                    <p style="margin-left: 0;margin-bottom: 0px;padding-top: 20px;color:#b4b4b4">Expiration Date</p>
                                                                </div>

                                                                <div class="col-sm-2" style="padding-left:0; margin:0;">
                                                                    <p style="margin-left: 0;margin-bottom: 0px;padding-top: 20px;color:#b4b4b4">CVC</p>
                                                                </div>
                                                            </div>

                                                            <div class="small-inputs" style="padding-top:0;margin-top:0">
                                                                <div class="col-sm-7" style="padding-left:0; margin:0;">
                                                                    <div type="text" id="cardnumber" class="field" style="font-size: 16px;max-width: 100%;height: 50px;padding-top:10px;padding-right: 40px; padding-left: 16px;color: rgba(46, 46, 46, .8);border: 1px solid rgb(225, 225, 225);border-radius: 4px;outline: none;"></div>
                                                                </div>
                                                                <div class="col-sm-3" style="padding-left:0; margin:0;">
                                                                    <div id="cardexpiration" class="field" style="font-size: 16px;max-width: 100%;height: 50px;padding-top:10px;padding-right: 40px; padding-left: 16px;color: rgba(46, 46, 46, .8);border: 1px solid rgb(225, 225, 225);border-radius: 4px;outline: none;"></div>
                                                                </div>
                                                                <div class="col-sm-2" style="padding-right:0; padding-left:0; margin:0;">
                                                                    <div id="card-cvc-element" class="field" style="font-size: 16px;max-width: 100%;padding-top:10px;height: 50px;padding-right: 40px; padding-left: 16px;color: rgba(46, 46, 46, .8);border: 1px solid rgb(225, 225, 225);border-radius: 4px;outline: none;"></div>
                                                                </div>


                                                            </div>


                                                            <div class="outcome">
                                                                <div class="error"></div>
                                                                <div class="success">
                                                                    <span class="token"></span>
                                                                </div>
                                                            </div>
                                                            <input type="hidden" name="token" />
                                                            <input id="amount" type="hidden" name="amount" value="10000" />
                                                        </div>



                                                    </div>

                                                </div>

                                            </div><!-- /row-->


                                        </div><!-- /step 3-->

                                    </div><!-- /middle-wizard -->
                                    <div id="bottom-wizard">
                                        <button type="button" name="backward" class="backward">Back </button>
                                        <button type="button" name="forward" class="forward offbg">Next</button>
                                        <button type="submit" name="submitcard" class="submit">Submit</button>
                                    </div><!-- /bottom-wizard -->
                            </form>
                        </div><!-- /Wizard container -->

                    </div><!-- /col -->
                </div><!-- /row -->
            </div>

        </div><!-- /container-fluid -->
    </div><!-- /wrapper_in -->
</div>



