.inner-wrapper {
    padding-top: 10px;
    margin-top: 30px;
}

.summarytext {
    font-size: 40px;
}
/*.dx-texteditor-input {
    min-height:300px !important;
}*/

video {
    box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.1);
    height: 300px !important;
    width: 450px !important;
    background-color: #f8f9fa !important;
}

#notetxt, #noteby, #approvalnotetxt, #approvalnoteby, #billnotetxt, #billnoteby {
    border: none !important;
}

.nttextarea {
    box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.1);
    height: 200px !important;
    width: 450px !important;
    background-color: #f8f9fa !important;
}

.imgthumb img {
    height: 100px;
}

.right-side {
}


.first-group,
.second-group {
    padding: 10px;margin:10px
}



.form-avatar {
    height: 128px;
    width: 128px;
    margin-right: 10px;
    border: 1px solid #d2d3d5;
    border-radius: 50%;
    /*background-image: url('../img/Ayo_Photo.png');*/
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.dx-state-disabled.dx-widget .dx-widget, .dx-state-disabled .dx-widget .dx-widget {
    border: none
}
.chk {
    float: left;
    position: relative;
    top: 10px;
}
#fileuploader-container {
    border: 1px solid #d3d3d3;
    margin: 20px 20px 0 20px;
}
.dx-tag {
    float:left
}
/*.dx-field-item-label-text*/

#note-container {
    margin-top:20px;
}
.reportbutton {
    background:#d3d3d3
}
.dx-fileuploader-button {
    border: none !important;
    color: green !important;
}
.dx-fileuploader-input-wrapper .dx-button {
    float:none !important;
}
.dx-fileuploader-input-container {
    display:none;
}

.dx-tabpanel-container .dx-field-item-label-text {
    visibility:hidden;
}
/*video {
    margin-left:-100px;
}*/

.container {
    position: relative;
}

.container, .left-content {
    min-height: 530px;
}

.left-content {
    display: inline-block;
    width: 180px;
    padding: 0 10px 10px;
    background-color: rgba(191, 191, 191, 0.15);
    box-shadow: -5px 0px 14px -8px rgba(0, 0, 0, 0.25) inset;
}

.right-content {
    position: absolute;
    right: 0;
    left: 220px;
    top: 0;
    height: 100%;
}

sup {
    font-size: 0.8em;
    vertical-align: super;
    line-height: 0;
}

.right-content .sub-title {
    font-size: 120%;
    color: rgba(152, 152, 152, 0.8);
}

.title-container {
    min-height: 140px;
    margin-bottom: 10px;
}

    .title-container .country-name {
        font-size: 240%;
        font-weight: bold;
        line-height: 34px;
        margin-bottom: 10px;
    }

    .title-container > div:not(.flag) {
        margin-left: 204px;
    }

.stats {
    display: table;
    width: 100%;
    margin-bottom: 20px;
}

    .stats > div {
        display: table-cell;
        text-align: center;
        border: 1px solid rgba(191, 191, 191, 0.25);
        padding: 20px 0 25px;
        width: 33%;
    }

        .stats > div:first-child, .stats > div:last-child {
            border-right-width: 0;
            border-left-width: 0;
        }

    .stats .stat-value {
        font-size: 200%;
    }

#tabpanel {
    margin-top: 10px;
}

    #tabpanel .dx-multiview-wrapper {
        border-left: 0;
        border-right: 0;
        border-bottom: 0;
    }

    #tabpanel .tab-panel-title {
        font-size: 120%;
        font-weight: 500;
    }

    #tabpanel .dx-multiview-item-content {
        padding: 20px 0 22px;
        min-height: 178px;
        position: relative;
    }

    #tabpanel .right-content {
        top: 15px;
        left: 202px;
    }

    #tabpanel .stats {
        width: 398px;
        margin-top: 20px;
        border-top: 1px solid rgba(191, 191, 191, 0.25);
    }

        #tabpanel .stats > div {
            padding: 7px 0;
            text-align: left;
            border: 0;
        }

            #tabpanel .stats > div:first-child {
                width: 40%;
            }

            #tabpanel .stats > div:not(:first-child) {
                width: 30%;
            }

.flag {
    width: 172px;
    max-height: 122px;
    border: 1px solid rgba(191, 191, 191, 0.25);
    float: left;
    margin: 0 30px 10px 0;
}

#treeview .dx-treeview-node.dx-state-selected > .dx-item > .dx-item-content {
    font-weight: 500;
}
