	<!-- Vendor CSS -->
		<link rel="stylesheet" href="../vendor/bootstrap/css/bootstrap.css" />

		<link rel="stylesheet" href="../vendor/font-awesome/css/font-awesome.css" />
		<link rel="stylesheet" href="../vendor/magnific-popup/magnific-popup.css" />
		<link rel="stylesheet" href="../vendor/bootstrap-datepicker/css/bootstrap-datepicker3.css" />

		<!-- Specific Page Vendor CSS -->
		<link rel="stylesheet" href="../vendor/bootstrap-fileupload/bootstrap-fileupload.min.css" />

		<!-- Theme CSS -->
		<link rel="stylesheet" href="../stylesheets/theme.css" />

		<!-- Skin CSS -->
		<link rel="stylesheet" href="../stylesheets/skins/default.css" />

		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="../stylesheets/theme-custom.css">

		<!-- Head Libs -->
		<script src="../vendor/modernizr/modernizr.js"></script>


<div id="custom-content" class="modal-block modal-block-md">
	<section class="panel">
		<header class="panel-heading">
			<h2 class="panel-title">Test Information & Results Upload</h2>
		</header>
        <div class="panel-body">
		<div class="row">
						<div class="col-md-12">
							<form id="ApptForm"  method="POST">
                                <div class="row">
                                    	<div class="form-group">
										<div class="col-md-6">
											<label>Choose Test Category <span class="required">*</span></label>
                                            <select id="testcat" class="form-control" data-msg-required="Please choose test category." name="testcat">
                                                <option value="">(Choose option)</option>
                                                <option value="1">Alcohol Test</option>
                                                <option value="2">Background Check</option>
                                                <option value="3">DNA Test</option>
                                                <option value="4">Drug Test</option>
                                                <option value="5">Immigration Test</option>
                                            </select>
										</div>
									
										<div class="col-md-6">
											<label>Choose Test <span class="required">*</span></label>
                                            <select id="test" class="form-control" data-msg-required="Please choose test type." name="test">
                                                <option value="">(Choose one)</option>

                                                <option value="11">Breath Alcohol Test</option>
                                                <option value="12">EtG Hair Alcohol Test</option>
                                                <option value="13">EtG Urine Alcohol Test</option>
                                                <option value="14">Urine Alcohol Test</option>
                                                <option value="15">None</option>

                                                <option value="21">Background Check</option>
                                                <option value="22">None</option>

                                                <option value="31">Ancestry DNA Test</option>
                                                <option value="32">Child Safety ID DNA</option>
                                                <option value="33">Infidelity DNA</option>
                                                <option value="34">Informational DNA Test</option>
                                                <option value="35">Legal Relationship DNA Test</option>
                                                <option value="36">PharmacoGenetic DNA</option>
                                                <option value="37">None</option>

                                                <option value="41">Athletics/Academics Drug Testing</option>
                                                <option value="42">Court Order</option>
                                                <option value="43">DOT</option>
                                                <option value="44">On-site</option>
                                                <option value="45">Instant</option>
                                                <option value="46">Informational/Investigative Drug Testing</option>
                                                <option value="47">Work-place</option>
                                                <option value="48">None</option>

                                                <option value="51">Immigration Test</option>
                                                <option value="52">None</option>
                                           </select>
										</div>
                                        </div>
									
								</div>
                                <div class="row">
                                 <div class="form-group">
										<div class="col-md-6">
											<label>Choose Test Date<span class="required">*</span></label>
                                            <div class='input-group date' id="testdt" >
                                                <input id="testdate" type='text' class="form-control" data-msg-required="Please test date." name="testdate"/>
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
										</div>
									
										
                                        </div>
                                 </div>
								<div class="row">
									<div class="form-group">
										<div class="col-md-12">
											<label>Results</label>
											<textarea maxlength="500" rows="1" class="form-control" name="result" id="result"></textarea>
										</div>
									</div>
								</div>
                                <div class="row">
                                <div class="form-group">
												<label class="col-md-6 control-label">CCF File Upload</label>
												<div class="col-md-12">
													<div class="fileupload fileupload-new" data-provides="fileupload">
														<div class="input-append">
															<div class="uneditable-input">
																<i class="fa fa-file fileupload-exists"></i>
																<span class="fileupload-preview"></span>
															</div>
															<span class="btn btn-default btn-file">
																<span class="fileupload-exists">Change</span>
																<span class="fileupload-new">Browse</span>
																<input id="ccffilename" type="file" />
															</span>
															<a href="#" class="btn btn-default fileupload-exists" data-dismiss="fileupload">Remove</a>
														</div>
													</div>
												</div>
											</div>
                                </div>
                                <div class="row">
                                <div class="form-group">
												<label class="col-md-6 control-label"> Test Results File Upload</label>
												<div class="col-md-12">
													<div class="fileupload fileupload-new" data-provides="fileupload">
														<div class="input-append">
															<div class="uneditable-input">
																<i class="fa fa-file fileupload-exists"></i>
																<span class="fileupload-preview"></span>
															</div>
															<span class="btn btn-default btn-file">
																<span class="fileupload-exists">Change</span>
																<span class="fileupload-new">Browse</span>
																<input id="testfilename" type="file" />
															</span>
															<a href="#" class="btn btn-default fileupload-exists" data-dismiss="fileupload">Remove</a>
														</div>
													</div>
												</div>
											</div>
                                   </div> 
                              <br>
								<div class="row">
									<div class="col-md-12">
										<input id="Upload" type="submit" value="Upload" class="btn btn-primary btn-sm mb-xlg" data-loading-text="Uploading...">
									</div>
								</div>
                                    
							</form>

                            <div class="alert alert-success hidden" id="contactSuccess">
								<strong>Success!</strong> Test information successfully uploaded
							</div>

							<div class="alert alert-danger hidden" id="contactError">
								<strong>Error!</strong> There was an error uploading the information. Please try again.
							</div>
						</div>
				</div>		

					</div>
		<footer class="panel-footer">
			<div class="row">
				<div class="col-md-12 text-right">
					<button class="btn btn-default modal-dismiss">Close</button>
				</div>
			</div>
		</footer>
	</section>
</div>


    <!-- Vendor -->
		<script src="../vendor/jquery/jquery.js"></script>
		<script src="../vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
		<script src="../vendor/bootstrap/js/bootstrap.js"></script>
		<script src="../vendor/nanoscroller/nanoscroller.js"></script>
		<script src="../vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
		<script src="../vendor/magnific-popup/jquery.magnific-popup.js"></script>
		<script src="../vendor/jquery-placeholder/jquery-placeholder.js"></script>
		
		<!-- Specific Page Vendor -->
		<script src="../vendor/jquery-validation/jquery.validate.js"></script>
		<script src="../vendor/select2/js/select2.js"></script>
		<script src="../vendor/bootstrap-wizard/jquery.bootstrap.wizard.js"></script>
		<script src="../vendor/pnotify/pnotify.custom.js"></script>
    	<script src="../vendor/jquery-datatables/media/js/jquery.dataTables.js"></script>
		<script src="../vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js"></script>
		<script src="../vendor/jquery-datatables-bs3/assets/js/datatables.js"></script>

		
		<!-- Theme Base, Components and Settings -->
		<script src="../javascripts/theme.js"></script>
      <script src="../javascripts/zebra_cookie.js"></script>  
    <script src="http://jqueryfiledownload.apphb.com/Scripts/jquery.fileDownload.js"></script>
		
		<!-- Theme Custom -->
		<script src="../javascripts/theme.custom.js"></script>
		
		<!-- Theme Initialization Files -->
		<script src="../javascripts/theme.init.js"></script>


		<%--<!-- Examples -->
		<script src="../javascripts/forms/examples.validation.js"></script>--%>

    <script src="../javascripts/forms/examples.wizard.js"></script>
   		<script src="../javascripts/tables/examples.datatables.default.js"></script>
		<script src="../javascripts/tables/examples.datatables.row.with.details.js"></script>
		<script src="../javascripts/tables/examples.datatables.tabletools.js"></script>
    <script src="../javascripts/ui-elements/examples.modals.js"></script>

