﻿<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EklipseConsult | Assessment</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Aptitude Test | EKCT">
    <meta name="author" content="AcePointe">

    <!-- Favicons-->
    <link rel="shortcut icon" href="../img/EklipseConsultLogo.png" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="img/apple-touch-icon-144x144-precomposed.png">
    <!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,600" rel="stylesheet">
    <!-- BASE CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/menu.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/vendors.css" rel="stylesheet">

    <!-- YOUR CUSTOM CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <link href="~/css/custom.css" rel="stylesheet">
    <link href="~/css/EKCtAssessment.css" rel="stylesheet" />

    <!-- MODERNIZR MENU -->
    <script src="~/js/modernizr.js"></script>
</head>



<body>

    <div id="preloader">
        <div data-loader="circle-side"></div>
    </div><!-- /Preload -->

    <div id="loader_form">
        <div data-loader="circle-side-2"></div>
    </div><!-- /loader_form --> 

    <nav>

        <ul class="cd-primary-nav">
            <li>


                <!-- /social -->
                <div>
                    <figure><img src="../img/EklipseConsultLogo.png" alt="" class="img-fluid content-menu-image"></figure>

                </div>

            </li>

            <li><a href="http://eklipseconsult.com/Contact.aspx" class="animated_link">Report a Problem</a></li>
            <li><a href="http://eklipseconsult.com" class="animated_link">Visit Site</a></li>

        </ul>
    </nav>
    <!-- /menu -->


    <div class="container-fluid full-height">
        <div class="row row-height">
            <div class="col-lg-6 content-left" style="background:url('../img/bg12.png');background-size:100% 100%; background-position: center;
  background-size: cover;
  background-repeat: no-repeat;">
                <div class="content-left-wrapper">

                    <!-- /social -->
                    <div>
                        <figure style="opacity:1"><img src="../img/EklipseConsultLogo.png" alt="" class="img-fluid content-left-image"></figure>
                        <h1 class="sz-text-lg" style="color:#fff;opacity:1">Aptitude Test </h1>
                    </div>
                    <div class="copy">© 2019 EklipseConsult</div>
                </div>
                <!-- /content-left-wrapper -->
            </div>
            <!-- /content-left -->

            @RenderBody()

            <!-- /content-right-->
        </div>
        <!-- /row-->
    </div>
    <!-- /container-fluid -->
    <div class="cd-overlay-nav">
        <span></span>
    </div>
    <!-- /cd-overlay-nav -->
    <div class="cd-overlay-content">
        <span></span>
    </div>
    <!-- /cd-overlay-content -->
    <a href="#0" class="cd-nav-trigger">Menu<span class="cd-icon"></span></a>
    <!-- /menu button -->
    <!-- Modal terms -->
    <div class="modal fade" id="terms-txt" tabindex="-1" role="dialog" aria-labelledby="termsLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered minwidth80">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="termsLabel">Terms and conditions</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body" style="font-size:15px">
                    <p>
                        By taking this assessment, you’re agreeing to the terms and conditions of this assessment provided by Eklipse Consult.
                    </p>
                    <h5> INFORMATION COLLECTED:</h5>
                    <p>
                        During Registration, you will be asked to enter your personal information (Name, Phone number, Email). 
                        This information is solely used for the purpose of communicating with test the taker regarding the results of the assessment and will never be shared  with or sold to any 3rd parties outside Eklipse Consult.
                    </p>

                    <h5> CONFIDENTIALITY:</h5>
                    <p>
                        We treat your responses and your results of this aptitude test as confidential information. Your personal information will not be shared with or sold to third parties.
                        EklipseConsult employees may access your information for the purpose of assisting you with next steps in your training journey.
                        In addition, we analyze data collected from our aptitude test for the purposes of research and development. When your data is used for research purposes, it is not associated with any personally identifiable information.
                    </p>


                    <h5> CONTENT:</h5>
                    <p>
                        EklipseConsult reserves the right to change contents of this assessment at any time. By agreeing to take this assessment, you agree to:
                        <ul>
                            <li>
                                1.  Not share any contents of this exam with any individual
                            </li>
                            <li>
                                2. Not to use the Site for any purpose that is unlawful under any applicable law, or prohibited by these Terms
                            </li>
                            <li>
                                3. Not use Content in a way that brings EklipseConsult or any third party into disrepute or causes Eklipse Consult to be liable to any third party
                            </li>
                        </ul>
                        In addition, we analyze data collected from our aptitude test for the purposes of research and development. When your data is used for research purposes, it is not associated with any personally identifiable information.
                        </p>
                        <h5> COOKIES:</h5>
                    <p>
                        Cookies are used on this assessment site. A cookie is a piece of data stored on a site visitor's hard drive to help us improve your access to our site and identify repeat visitors to our site.  
                        The use of cookies does not link to any personally identifiable information on our site.
                    </p>

                    <h5> CHANGE:</h5>
                    <p>
                        EklipseConsult reserves the right to change these terms at any time. The lastest version of terms and conditions under which this assessement is administered can be found on this page.
                    </p>
                    <br />
                    In addition, we analyze data collected from our aptitude test for the purposes of research and development. When your data is used for research purposes, it is not associated with any personally identifiable information.
                    <br />
                </div>
                
           
            </div>
               
            </div>
            <!-- /.modal-content -->
        </div>
  
    <!-- /.modal -->
    <!-- COMMON SCRIPTS -->
    <script src="~/js/jquery-3.2.1.min.js"></script>
    <script src="~/js/common_scripts.min.js"></script>
    <script src="~/js/velocity.min.js"></script>
    <script src="~/js/functions.js"></script>
    <script src="~/js/file-validator.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <!-- Wizard script -->

    <script src="~/js/survey_func.js"></script>
</body>
</html>





