﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
   @* <title>EklipseConsult | Assessment</title>*@
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Wilio Survey, Quotation, Review and Register form Wizard by AcePointe">
    <meta name="author" content="AcePointe">

    <!-- Favicons-->
    <link rel="shortcut icon" href="../img/EklipseConsultLogo.png" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="img/apple-touch-icon-144x144-precomposed.png">
    <!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,600" rel="stylesheet">
    <!-- BASE CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/menu.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/vendors.css" rel="stylesheet">
    <link href="~/css/main.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <!-- YOUR CUSTOM CSS -->
    <link href="~/css/custom.css" rel="stylesheet">
    <link href="~/css/EKCtAssessment.css" rel="stylesheet" />

    <!-- MODERNIZR MENU -->
    <script src="~/js/modernizr.js"></script>
</head>
<body>
    <div id="preloader">
        <div data-loader="circle-side"></div>
    </div><!-- /Preload -->

    <div id="loader_form">
        <div data-loader="circle-side-2"></div>
        </div>
        <div class="navbar navbar-inverse navbar-fixed-top border-bottom bg-light" style="background:whitesmoke !important">

            <div class="navbar-header">
                <div class="row">
                    <div class="col-lg-4">
                        <figure><img src="../img/EklipseConsultLogo.png" alt="" class="img-fluid content-menu-image"></figure>
                    </div>
                    <div class="col-lg-4">
                        <h1 class="main_title sz-text-lg" style="margin-top: 30px;font-size: 54px;font-weight: bolder;color: #474747;">Aptitude Test</h1>
                    </div>
                    <div class="col-lg-4">

                    </div>
                </div>
            </div>

        </div>
        <div class="container-fluid full-height">
            @RenderBody()


        </div>

        <!-- COMMON SCRIPTS -->

        <script src="~/js/jquery-3.2.1.min.js"></script>
 
        <script src="~/js/common_scripts.min.js"></script>
        <script src="~/js/velocity.min.js"></script>
        <script src="~/js/functions.js"></script>
        <script src="~/js/file-validator.js"></script>
    <script src="~/js/jquery-confirm.js"></script>
        <!-- Wizard script -->
        <script src="~/js/survey_func.js"></script>
</body>
</html>
