/* Add here all your CSS customizations */

.owl-carousel .owl-item {
    padding-left:10px;
     padding-right:10px;
 
}
.tblack p{
    color:#000000 !important;
}

.whitebg {
    background: #ffffff !important;
}
#footer {
    margin-top:0;
    padding:70px 0 0;
}
.Nomargintop {
    margin-top:0 !important;
}
gradientbg {
    background: rgba(0, 0, 0, 0) linear-gradient(#ecf0f1, #ffffff 80px) repeat scroll 0 0;
}

.test {
    	color: #0088cc !important;
	font-size: 62px;
	line-height: 42px;
	font-weight: 800;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}

.test2 {
    	color: #ffffff !important;
	font-size: 62px;
	line-height: 42px;
	font-weight: 800;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}
.slider-container .my-custom-label {
	color: #FFF;
	font-size: 42px;
	line-height: 62px;
	font-weight: 800;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}

.slider-container .my-custom-label3 {
	color: #FFF;
	font-size: 52px;
	line-height: 62px;
	font-weight: 800;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}

.slider-container .my-custom-label2 {
	color: #FFF;
	font-size: 22px;
	line-height: 62px;
	font-weight: 800;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}
.tp-bannertimer{
    display:none
}
.rev_slider .slotholder:after{
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
 
    /* black overlay with 50% transparency */
    background: rgba(0, 0, 0,0.3);
}




