.site-header .header-top {
    padding-top: 0.5px;
}
.wrapper-inner {
    padding-top: 50px;
    padding-bottom: 50px;  
    padding-left: 30px;
}
.widget-title p {
    max-width: 100vw;
}
.site-footer .footer-top:before {
    width: 0px;
}
.widget-page-title:after{
    position                : absolute;
    left                    : 0px;
    bottom                  : -32px;
    width                   : 100%;
    height                  : 32px;
    content                 : "";
    display                 : inline-block;
    /*background              : linear-gradient(-135deg, #ffffff 16px, transparent 0), linear-gradient(135deg, #ffffff 16px, transparent 0);*/
    /*background-position     : left bottom;
    background-repeat       : repeat-x;
    background-size         : 32px 32px;*/
}
.widget-page-titleB p {
    width: 100%;
}
.slider-item {
    background-position:center top;
}
.header-contact, .header-lang {
    padding-top:10px;
    font-size:12px;
}


.site-footer .footer-top{
    position                : relative;
    padding-top             : 30px;
    padding-bottom          : 10px;
    background-color        : #344157;
}

.site-footer .footer-bottom , .site-footer .footer-top {
    font-family: 'Lato', sans-serif;
    font-size: 11px;
    font-weight: 900;
   
    letter-spacing: 2px;
}
.site-footer .footer-bottom {
    color: #818a9c;
    padding-top: 0px;
padding-bottom: 0px;
}

.site-backtop {
    position: fixed;
    bottom: 0;
    right: 20px;
}
.site-footer .footer-top .widget-newsletter {
    width:100%;
     text-align:center;
}

.site-footer .footer-top h5 {
    text-align:center;
}
.site-footer .footer-top .widget-social-icons, .site-footer .footer-top .widget-newsletter {
    margin-top: 1px;
    margin-bottom: 20px;
}

.site-footer .footer-top .widget-social-icons ul {
    text-align:center;
    padding-left:30%;
}
.site-footer .footer-top .widget-newsletter ul li {
    font-size:12px
}
.widget-title {
    text-align: center;
    margin-bottom: 60px;
}
.rdlink {
color:#e68134;font-family: 'Lato', sans-serif;text-transform: uppercase;
}


.widget-slider .slider-booking ul li {
    width:25%
}

.widget-booking-form .booking-form .data-form .fa {
    position: absolute;
    top: 35px;
    right: 35px;
}
.widget-newsletter button {
    background-color: #ff6a00;
}
.widget-newsletter input[type="text"] {
    width: 80%;
}
.widget-slider .slider-booking ul li input[type="text"] {
    /*background-color: #5c677b;*/
    background-color: whitesmoke;
}
.widget-slider .slider-booking ul li *::-moz-placeholder,.widget-slider .slider-booking ul li *::-ms-input-placeholder, .widget-slider .slider-booking ul li *::-webkit-input-placeholder   
 {
    color: #000;
}
.widget-slider .slider-booking ul li select, .widget-slider .slider-booking ul li input[type="text"] {
    background-color: whitesmoke;
}
.site-header .header-top {
    padding-bottom: 0px;
}
.widget-social-icons ul li a {
    background-color: whitesmoke;
}
.widget-newsletter input[type="text"] {
    background-color: whitesmoke;
    color:#818a9c;
}
.widget-newsletter *::-moz-placeholder

 {
    color: #818a9c !important; 
}

.widget-newsletter *::-webkit-input-placeholder 

 {
    color: #818a9c !important; 
}

 .widget-newsletter *::-ms-input-placeholder

 {
    color: #818a9c !important; 
}


.adisabled , .adisabled:hover{
    cursor:none !important;
    background:grey;
}
site-main {
    background-color: #e9e9e9;
}

body {
   font-family:Trebuchet MS,'Playfair', sans-serif;
   background-color:#fff;
}
.widget-google-map .map-title {
    padding: 10px 10px;
}
.site-header .header-bottom {
    min-height: 10px;
}
.widget-rooms-detail .room-booking {  
    background-color: whitesmoke;
}
.widget-rooms-detail .room-features {
    background-color: whitesmoke;
}
#initreserveform li input , #initreserveform li select{
    background-color:#fff;
    color:#5c677b;
    
}

#initreserveform li input::-webkit-input-placeholder , #initreserveform li input::-moz-placeholder ,#initreserveform li input::-ms-input-placeholder {
    color: #5c677b !important;
}

.rmdetailheader {
    margin-bottom:80px !important; padding-top:60px
}
.widget-slider .widget-carousel .slider-item::after {
    background-color: rgba(40, 50, 74, 0.5)
    ;
}
.site-header .header-top, .site-header .header-top a  {
    color: #fff;
}

#initreserveform {
    background:rgba(255,255,255,0.3)
}

.widget-slider .slider-booking ul li *::-moz-placeholder {
    color: #000;
}


.widget-slider .slider-booking ul li *::-webkit-input-placeholder 

 {
   color: #000;
}

.widget-slider .slider-booking ul li *::-ms-input-placeholder

 {
     color: #000;
}

.layoutbg {
    background:url(/Content/img/headerbg.PNG);
}

.site-header .header-bottom {
    min-height: 110px;
}

.themefontcolor{
    color:#d46619

}


#roomtype, #chkresclr ul li label {
    color:#e68134
}






