/* Add here all your CSS customizations */

.owl-carousel .owl-item {
    padding-left:10px;
     padding-right:10px;
 
}
.tblack p{
    color:#000000 !important;
}

.whitebg {
    background: #ffffff !important;
}
#footer {
    margin-top:0;
    padding:70px 0 0;
}
.Nomargintop {
    margin-top:0 !important;
}
gradientbg {
    background: rgba(0, 0, 0, 0) linear-gradient(#ecf0f1, #ffffff 80px) repeat scroll 0 0;
}

.test {
    	color: #0088cc !important;
	font-size: 62px;
	line-height: 42px;
	font-weight: 800;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}
.slider-container .my-custom-label {
	color: #FFF;
	font-size: 42px;
	line-height: 62px;
	font-weight: 800;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}

.slider-container .my-custom-label2 {
	color: #FFF;
	font-size: 22px;
	line-height: 62px;
	font-weight: 800;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}
.bannertimer {
    display:none
}



