/* Add here all your CSS customizations */
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 2.5rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0px;
}

html.has-tab-navigation .inner-wrapper {
    /*margin-top:80px;
    padding:0px !important;
    border: 1px solid rgba(0, 0, 0, 0.15);*/
    /*background-image: url(../img/patterns/noisy_net.png);*/
    /*background-repeat: repeat;*/
}

.header {
    background-color: #ffffff;
    border-top-color:cadetblue !important;
    border-top-width: thick;
    border-bottom-color: rgba(0, 0, 0, 0.15) !important;
    border-bottom-width:medium;
    height: 200px;
}

.inner-wrapper {
    padding-top: 0px !important;
    background: whitesmoke !important;
    border:none;
}

.header .logo {
    float: left;
    margin: 10px 0 40px 20px;
}
html {background:whitesmoke;
}

/**
 * TABS
 *
 * -------------------------------------------------------------------------------------------------
 */
.tabs > DIV {
    /*border-top: 1px solid #c7c7c7*/
    /*margin-top: 10px;*/
    background: whitesmoke !important;
    /*border-bottom: 4px solid #E95855 !important;*/
}

    .tabs > DIV SPAN {
        /*border-bottom: 4px solid #E5E5E5 !important;*/
        color: #ccc !important;
        font-weight: 300;
        line-height: 186px !important;
        display: block;
        text-align: center;
        font-size: 24px;
    }

.tabs UL.horizontal {
    list-style: none outside none;
    background-color: cadetblue;
}

.tabs LI {
    background-color: cadetblue;
    /*border-bottom: 4px solid #E5E5E5;*/
    margin-right: 0px;
    margin-left: 0px;
    display: inline-block;
}

.tabs A {
    color: #fff;
    display: block;
    font-size: 22px;
    font-weight:500;
    padding: 20px 20px;
    text-decoration: none;
}

.tabs LI:hover {
    background: #fff;
    border-bottom: 4px solid #68a697;
}

    .tabs LI:hover A {
        color: #b96666;
    }

.active {
    background: #fff !important;
    border-bottom: 4px solid #68a697 !important;
}

    .active A {
        color: cadetblue !important;
    }

.link {
    color: white;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 48px;
    margin-top: 20px;
    margin-left: 6px;
    text-decoration: none;
}

    .link:hover {
        text-decoration: underline;
        color: inherit;
    }

.anchorLink {
    border-bottom: 1px dashed white;
    color: white;
    text-decoration: none;
}

    .anchorLink:hover {
        text-decoration: none;
        border-bottom: none;
        color: inherit;
    }

.screenshot {
    position: absolute;
    clip: rect(0 0 0 0);
}

.prev,
.next {
    background: white !important;
    color: #a0cac0 !important;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

    .prev:hover,
    .next:hover {
        background: #a0cac0 !important;
        color: white !important;
    }



.button {
    background-color: #a0cac0;
    border: none;
    border-bottom: 4px solid #68a697;
    color: #FFFFFF;
    border-radius: 0;
    font-size: 14px;
    letter-spacing: 2px;
    height: 48px;
    line-height: 48px;
}

    .button:hover {
        background: #93b7ae;
        color: #FFF;
        border-bottom-color: #68a697;
    }


.landingpagetab {
  margin: -10px 0px 0px 0px;
  height:968px;
  background-color:whitesmoke;
}


    .landingpagetab > ul {
        padding-top: -10px;
        display: block;
        margin: 0 auto;
        text-align: center;
        background-color: #fff !important;
        border-bottom:2px solid cadetblue;
    }


    .landingpagetab > ul > li {

       background-color: #fff !important;
       padding-top:10px;
    }
        .landingpagetab > ul > li:hover {
            border-bottom:none;
        }

        .landingpagetab > ul > li > a {
            font-size: 20px;
            color: rgba(0, 0, 0, 0.75)
        }

        .landingpagetab > ul > li > a:hover {
        color:#b96666

        }
iframe {
    border: none !important;
}

.desktop-view iframe, .mobile-view iframe {
    border: none !important;
}
