﻿
@{
    ViewBag.Title = "View Accruals - Zion Portal";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div class="inner-wrapper" style="background:#ffffff">

    <section role="main" class="content-body">
        <div>
            <h1>Approve Time Off</h1>
        </div>
        <hr />

        <!-- start: page -->
        @*<div class="row">
              <div class="demo-container">
                  <div id="viewTimesheetChart"></div>
              </div>
          </div>

        <hr />*@

        <div class="row">
            <div class="right-side">
                @*<p><strong>Approval Status</strong></p>*@
                <div id="selectStatus"></div>
            </div>
        </div>

        <div class="row">
            <div class="demo-container">
                <div id="approvalnotepopup"></div>
            </div>
        </div>


        <div style=" margin-top:30px"></div>

        <div class="row">
            <div class="demo-container">
                <div id="approvalTimesheetGrid"></div>
            </div>
        </div>



        <!-- end: page -->
    </section>

</div>

