﻿
@{
    ViewBag.Title = "ZionPortal Schedule - Zion Portal";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div class="inner-wrapper" style="background:#ffffff">

    <section role="main" class="content-body">
        <div>
            <h1>Time Off Request</h1>
        </div>

        <!-- start: page -->
      
        <div class="row">
            <div class="demo-container">
                <div id="scheduler"></div>
            </div>
        </div>



        <!-- end: page -->
    </section>

</div>




