﻿<!DOCTYPE html>
<html lang="en">
    <head>
           <meta charset="utf-8" />
        <title>@ViewBag.Title - DiverZFlaiR</title>
        <link href="~/Content/images/DiverzFlair_Fav.PNG" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        
       
        
        @Styles.Render("~/Content/css/bootstrap.min.css")
        @Styles.Render("~/Content/css/style.css")
         @Styles.Render("~/Content/themes/base/jquery-ui.css")
        @Styles.Render("~/Content/bootstrap-datepicker.css")
     
        @Styles.Render("https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700")
        @Styles.Render("https://fonts.googleapis.com/css?family=Josefin+Sans:400,300,600,700")   
        @Styles.Render("~/Content/css/font-awesome.min.css")
        @Styles.Render("~/Content/css/timeline.css")
        @Styles.Render("~/Content/css/animate.min.css")
        @Styles.Render("~/Content/css/slick.css")
        @Styles.Render("~/Content/css/slick-theme.css")
        @Styles.Render("~/Content/css/reset.css")
        @Styles.Render("~/Content/css/responsive.css")
         @Styles.Render("~/Content/css/croppie.css")
         @Styles.Render("~/Content/css/zozo.tabs.min.css")
         @Styles.Render("~/Scripts/dropzone/dropzone.css")

        @Styles.Render("~/Content/css/bio.css")
      
    @*    @Scripts.Render("~/bundles/modernizr")*@
    </head>
    <body class="bgpattern page">
        

    <section class="img img-responsive bgpattern">
    <!-- Side Navigation -->
 <!-- Side Navigation -->
     <nav class="cd-side-navigation sidebar left" style="overflow:hidden">
        <ul>


            
            <li>
                <a href="@Url.Action(
                             controllerName: "Home", 
                             actionName: "Index" 
                             )">
                    <img style="height: 35px;width: 35px;" src="~/Content/images/home_lg.png"/>
                    <span>Home</span>
                   
                </a>
               

            </li>
            <li>
                <a id="profile"  onclick="@Session["ActiveURL"] = ""Profile"""
                   href="
                    
                               
                    @if (Session["ActiveMemberID"] != null)
        { 
                        @Url.Action(
                             controllerName: "Profile", 
                             actionName: "GetProfile/" + Session["ActiveMemberID"]                       
                             )
            
        }
                    else
                    {
                       
                         @Url.Action(
                             controllerName: "Auth", 
                             actionName: "Login"                 
                             )
                    }
                    "
                    >
                     <img style="height: 35px;width: 35px;" src="~/Content/images/MyProfile_lg.png"/>
                    <span>My profile</span>
                </a>
            </li>
            <li>

                <a id="referafriend" onclick="@Session["ActiveURL"] = ""Referral""" href="
                            
                         @if (Session["ActiveMemberID"] != null)
        { 
                        @Url.Action(
                             controllerName: "Home", 
                             actionName: "Referral"                       
                             )
            
        }
                    else
                    {
                        
                         @Url.Action(
                             controllerName: "Auth", 
                             actionName: "Login"                
                             )
                    }
                    ">
                       <img style="height: 35px;width: 35px;" src="~/Content/images/ReferAfriend_sm.png"/>            
                    <span>Refer a friend</span>
                </a>
            </li>
            <li>
                <a id="about"  href="@Url.Action(
                             controllerName: "Home", 
                             actionName: "About" 
                             )">
                      <img style="height: 35px;width: 35px;" src="~/Content/images/about_lg.png"/>
                    <span>About</span>
                </a>
            </li>
		
            <li>
                <a id="contact"  href="@Url.Action(
                             controllerName: "Home", 
                             actionName: "Contact" 
                             )">
                      <img style="height: 35px;width: 35px;" src="~/Content/images/contact_lg.png"/>
              
                    <span>Contact</span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- End Navigation -->

    <!--Mobile Menu icon-->
    <div id="sidebar-btn" class="sidebar-btn toggle_icon_block" data-action="toggle" data-side="left">
        <div id="toggle_icon" class="toggle_icon">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="row">
        <header style="padding-top:5px">


            <div class="container">
                <div class="col-sm-3">
                   
                </div>
                <div class="col-sm-6">
                    <a href="@Url.Action(
                                 controllerName: "Home", 
                                 actionName: "Index" 
                                 )">
                                 <h1 class="text-center" style="color:#ffffff" >
<img src="../../Content/images/DiverzFlair%20logo_02.png" alt="" />
                        </h1>
                    </a>

                </div>
              
                    <div class="col-sm-3" style="padding-top:15px">
                
                        <div class="input-group" style="background:#ffffff; border:none">
                            <input type="text" class="form-control searchbar" placeholder="Search ... ">
                            <span class="input-group-btn">
                                <button class="btn searchbtn" style="background: #ffffff; border: 1px solid #cccccc; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset; border: none;" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
						
                        </div>
                    
                </div>
            </div>

 

        </header>
    </div>
    <!--End Mobile Menu icon-->
        
  </section>
    <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
   <section class="bgpattern">
   
        <nav class="navbar" role="navigation">
            <div class="container">
                <div class="row whitetext" style="padding-top:15px;">
                    <div class="col-sm-6 text-left">
                        <h6>Copyright &copy; <span id="copyright-year">@DateTime.Now.Year</span>. All rights reserved </h6>
                    </div>
                    <div class="col-sm-6 text-right">
                       
                        <h6>Designed by <a href="http://acepointe.com/" target="_blank">Acepointe</a> </h6>
                    </div>
                </div>
            </div>
        </nav>
                </section>
 @{Session.Remove("ActiveURL");}

@*    @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)*@
  @Scripts.Render("~/Content/js/jquery.2.2.3.min.js")
    @Scripts.Render("~/Content/js/jquery.easing.min.js")
          @Scripts.Render("~/Scripts/jquery-ui-1.12.1.js")
    @Scripts.Render("~/Content/js/bootstrap.min.js")
     @Scripts.Render("~/Scripts/bootstrap-datepicker.js")  
    @Scripts.Render("~/Content/js/jquery.sidebar.min.js")
    @Scripts.Render("~/Content/js/jquery.magnific-popup.min.js")
    @Scripts.Render("~/Content/js/jquery.validation.min.js")
    @Scripts.Render("~/Content/js/zebra_cookie.js")
    @Scripts.Render("~/Content/js/zozo.accordion.min.js")
    @Scripts.Render("~/Content/js/zozo.tabs.min.js")
    @Scripts.Render("~/Content/js/croppie.min.js")
    @Scripts.Render("~/Content/js/script.js")
    @Scripts.Render("~/Content/js/bio.js")
        <script>
            $('#eddob').datepicker({
                dateFormat: 'MM/dd'
            });

           
        </script>
    </body>
</html>
