﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>DiverZFlair - Sign Up</title>
    <link href="~/Content/images/DiverzFlair_Fav.PNG" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />


    
   @Styles.Render("~/Content/css/bootstrap.min.css")
    @Styles.Render("~/Content/themes/base/jquery-ui.css")
    @Styles.Render("~/Content/css/style.css")
    @Styles.Render("~/Content/bootstrap-datepicker.css")
    @Styles.Render("~/Content/bootstrap-datepicker3.css")
     @Styles.Render("~/Content/bootstrap-datetimepicker.min.css")
    @Styles.Render("~/Content/css/zozo.accordion.min.css")
    @Styles.Render("https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700")
    @Styles.Render("https://fonts.googleapis.com/css?family=Josefin+Sans:400,300,600,700")   
    @Styles.Render("~/Content/css/responsive.css")
    @Styles.Render("~/Scripts/dropzone/dropzone.css")
    @Styles.Render("~/Content/css/zozo.tabs.min.css")
    @Styles.Render("~/Content/themes/base/autocomplete.css")
@*    @Scripts.Render("~/bundles/modernizr")*@
    @Styles.Render("~/Content/css/bio.css")

    
</head>
<body class="page">
        

<section class="img img-responsive bgpattern">
    <div class="row">
        <header style="padding-top:5px">


            <div class="container">
                <div class="col-sm-3">
                   
                </div>
                <div class="col-sm-6">
                    <a href="@Url.Action(
                                 controllerName: "Home", 
                                 actionName: "Index" 
                                 )">
                      <h1 class="text-center" style="color:#ffffff" >
<img src="../../Content/images/DiverzFlair%20logo_02.png" alt="" />
                        </h1>
                    </a>

                </div>
                <div class="col-sm-3">
                
                </div>
            </div>

 

        </header>
    </div>
    <!--End Mobile Menu icon-->
        
</section>
<div id="body">
    @RenderSection("featured", required: false)
    <section class="content-wrapper main-content clear-fix">
        @RenderBody()
    </section>
</div>
  
<section class="bgpattern">
    <div class="container">
        <nav class=" footer_wrapper navbar bgpattern" role="navigation ">
            <div class="container">
                <div class="row whitetext" style="padding-top:15px;">
                    <div class="col-sm-6 text-left">
                        <h6>Copyright &copy; <span id="copyright-year">@DateTime.Now.Year</span>. All rights reserved </h6>
                    </div>
                    <div class="col-sm-6 text-right">
                       
                        <h6>Designed by <a href="http://acepointe.com/" target="_blank">Acepointe</a> </h6>
                    </div>
                </div>
            </div>
        </nav>

    </div>   
</section>
 @{Session.Remove("ActiveURL");}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/Content/js/jquery.2.2.3.min.js")
@Scripts.Render("~/Content/js/jquery.easing.min.js")
@Scripts.Render("~/Scripts/jquery-ui-1.12.1.js")
@Scripts.Render("~/Scripts/moment.min.js")
@Scripts.Render("~/Scripts/bootstrap-datetimepicker.min.js")
    @Scripts.Render("~/Scripts/bootstrap-datepicker.js")
@Scripts.Render("~/Content/js/jquery.sidebar.min.js")
@Scripts.Render("~/Content/js/jquery.magnific-popup.min.js")
@Scripts.Render("~/Content/js/jquery.validation.min.js")
@Scripts.Render("~/Content/js/zebra_cookie.js")
@Scripts.Render("~/Content/js/script.js")
@Scripts.Render("~/Content/js/zozo.accordion.min.js")
@Scripts.Render("~/Content/js/zozo.tabs.min.js")
@Scripts.Render("~/Scripts/dropzone/dropzone.min.js")
 @Scripts.Render("~/Content/js/jquery-cloneya.js")
@Scripts.Render("~/Content/js/bio.js")

<script type="text/javascript">

    ////Dropzone.autoDiscover = false;

 
    ////$("#photo").dropzone({ url: "/SignUp/SignUpNewMember" });
    ////$("#resume").dropzone({ url: "/SignUp/SignUpNewMember" });


    $('.clone-wrapper').cloneya({
        minimum: 1,
        maximum: 10,
        cloneThis: '.toclone',
        valueClone: false,
        dataClone: false,
        deepClone: true,
        cloneButton: '.clone',
        deleteButton: '.delete',
        clonePosition: 'before',
        serializeID: true,
        serializeIndex: true,
        ignore: 'label.error',
        preserveChildCount: true
    });

  

</script>  

</body>
</html>
