﻿<!DOCTYPE html>

<html class="sidebar-light sidebar-left-big-icons">
<head>
    <meta charset="UTF-8">

    <meta http-equiv="Pragma" content="no-cache">
    <meta name="keywords" content="Zion Portal Admin" />
    <meta name="description" content="">
    <meta name="author" content="acepointe.com">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link href="~/img/ZionCompassion_FAV.png" rel="shortcut icon" type="image/x-icon" />


    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="~/vendor/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/vendor/animate/animate.css">

    <link rel="stylesheet" href="~/vendor/font-awesome/css/fontawesome-all.min.css" />
    <link rel="stylesheet" href="~/vendor/magnific-popup/magnific-popup.css" />
    <link rel="stylesheet" href="~/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.css" />

    <!-- Specific Page Vendor CSS -->
    <link rel="stylesheet" href="~/vendor/jquery-ui/jquery-ui.css" />
    <link rel="stylesheet" href="~/vendor/jquery-ui/jquery-ui.theme.css" />
    <link rel="stylesheet" href="~/vendor/bootstrap-multiselect/bootstrap-multiselect.css" />
    <link rel="stylesheet" href="~/vendor/morris/morris.css" />

    <link rel="stylesheet" href="~/vendor/bootstrap-tagsinput/bootstrap-tagsinput.css" />
    <link rel="stylesheet" href="~/vendor/summernote/summernote-bs4.css" />





    <!-- Theme CSS -->
    <link rel="stylesheet" href="~/css/theme.css" />

    <!-- Skin CSS -->
    <link rel="stylesheet" href="~/css/skins/default.css" />

    @Styles.Render("~/Content/DevExtremeBundle")

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="~/css/custom.css">



    <!-- Head Libs -->
    <script src="~/vendor/modernizr/modernizr.js"></script>

    <script src="~/vendor/jquery/jquery.js"></script>


    <script>
         if (sessionStorage.length > 1)
        {

        }
        else{
            sessionStorage.setItem("UserInfoRaw", @Html.Raw(Json.Encode(@TempData["UserInfo"])))

            var logged = sessionStorage.getItem("UserInfoRaw")

            if ($.trim(logged).length > 4) {

            }
            else {

                window.location = "Auth/Login"
            }

        }


    </script>


</head>

<body>

    <section class="body">

        <!-- start: header -->
        <header class="header">
            <div class="logo-container">
                <a href="#" class="logo">
                    <img src="~/img/zionlogo.png" width="75" height="35" alt="Zion Portal" />
                </a>
                <div class="d-md-none toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
                    <i class="fas fa-bars" aria-label="Toggle sidebar"></i>
                </div>
            </div>

            <!-- start: search & user box -->
            <div class="header-right">

                @*<form action="#" class="search nav-form">
                        <div class="input-group">
                            <input type="text" class="form-control" name="q" id="q" placeholder="Search...">
                            <span class="input-group-append">
                                <button class="btn btn-default" type="submit"><i class="fas fa-search"></i></button>
                            </span>
                        </div>
                    </form>*@

                <span class="separator"></span>
                @*<span id="timer"></span>*@
                @*<ul class="notifications">
                            <li>
                                <a href="#" class="dropdown-toggle notification-icon" data-toggle="dropdown">
                                    <i class="fas fa-tasks"></i>
                                    <span class="badge">3</span>
                                </a>

                                <div class="dropdown-menu notification-menu large">
                                    <div class="notification-title">
                                        <span class="float-right badge badge-default">3</span>
                                        Tasks
                                    </div>

                                    <div class="content">
                                        <ul>
                                            <li>
                                                <p class="clearfix mb-1">
                                                    <span class="message float-left">Generating Sales Report</span>
                                                    <span class="message float-right text-dark">60%</span>
                                                </p>
                                                <div class="progress progress-xs light">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                                                </div>
                                            </li>

                                            <li>
                                                <p class="clearfix mb-1">
                                                    <span class="message float-left">Importing Contacts</span>
                                                    <span class="message float-right text-dark">98%</span>
                                                </p>
                                                <div class="progress progress-xs light">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100" style="width: 98%;"></div>
                                                </div>
                                            </li>

                                            <li>
                                                <p class="clearfix mb-1">
                                                    <span class="message float-left">Uploading something big</span>
                                                    <span class="message float-right text-dark">33%</span>
                                                </p>
                                                <div class="progress progress-xs light mb-1">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100" style="width: 33%;"></div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="#" class="dropdown-toggle notification-icon" data-toggle="dropdown">
                                    <i class="fas fa-envelope"></i>
                                    <span class="badge">4</span>
                                </a>

                                <div class="dropdown-menu notification-menu">
                                    <div class="notification-title">
                                        <span class="float-right badge badge-default">230</span>
                                        Messages
                                    </div>

                                    <div class="content">
                                        <ul>
                                            <li>
                                                <a href="#" class="clearfix">
                                                    <figure class="image">
                                                        <img src="img/!sample-user.jpg" alt="Joseph Doe Junior" class="rounded-circle" />
                                                    </figure>
                                                    <span class="title">Joseph Doe</span>
                                                    <span class="message">Lorem ipsum dolor sit.</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="clearfix">
                                                    <figure class="image">
                                                        <img src="img/!sample-user.jpg" alt="Joseph Junior" class="rounded-circle" />
                                                    </figure>
                                                    <span class="title">Joseph Junior</span>
                                                    <span class="message truncate">Truncated message. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet lacinia orci. Proin vestibulum eget risus non luctus. Nunc cursus lacinia lacinia. Nulla molestie malesuada est ac tincidunt. Quisque eget convallis diam, nec venenatis risus. Vestibulum blandit faucibus est et malesuada. Sed interdum cursus dui nec venenatis. Pellentesque non nisi lobortis, rutrum eros ut, convallis nisi. Sed tellus turpis, dignissim sit amet tristique quis, pretium id est. Sed aliquam diam diam, sit amet faucibus tellus ultricies eu. Aliquam lacinia nibh a metus bibendum, eu commodo eros commodo. Sed commodo molestie elit, a molestie lacus porttitor id. Donec facilisis varius sapien, ac fringilla velit porttitor et. Nam tincidunt gravida dui, sed pharetra odio pharetra nec. Duis consectetur venenatis pharetra. Vestibulum egestas nisi quis elementum elementum.</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="clearfix">
                                                    <figure class="image">
                                                        <img src="img/!sample-user.jpg" alt="Joe Junior" class="rounded-circle" />
                                                    </figure>
                                                    <span class="title">Joe Junior</span>
                                                    <span class="message">Lorem ipsum dolor sit.</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="clearfix">
                                                    <figure class="image">
                                                        <img src="img/!sample-user.jpg" alt="Joseph Junior" class="rounded-circle" />
                                                    </figure>
                                                    <span class="title">Joseph Junior</span>
                                                    <span class="message">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet lacinia orci. Proin vestibulum eget risus non luctus. Nunc cursus lacinia lacinia. Nulla molestie malesuada est ac tincidunt. Quisque eget convallis diam.</span>
                                                </a>
                                            </li>
                                        </ul>

                                        <hr />

                                        <div class="text-right">
                                            <a href="#" class="view-more">View All</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="#" class="dropdown-toggle notification-icon" data-toggle="dropdown">
                                    <i class="fas fa-bell"></i>
                                    <span class="badge">3</span>
                                </a>

                                <div class="dropdown-menu notification-menu">
                                    <div class="notification-title">
                                        <span class="float-right badge badge-default">3</span>
                                        Alerts
                                    </div>

                                    <div class="content">
                                        <ul>
                                            <li>
                                                <a href="#" class="clearfix">
                                                    <div class="image">
                                                        <i class="fas fa-thumbs-down bg-danger text-light"></i>
                                                    </div>
                                                    <span class="title">Server is Down!</span>
                                                    <span class="message">Just now</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="clearfix">
                                                    <div class="image">
                                                        <i class="fas fa-lock bg-warning text-light"></i>
                                                    </div>
                                                    <span class="title">User Locked</span>
                                                    <span class="message">15 minutes ago</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="clearfix">
                                                    <div class="image">
                                                        <i class="fas fa-signal bg-success text-light"></i>
                                                    </div>
                                                    <span class="title">Connection Restaured</span>
                                                    <span class="message">10/10/2017</span>
                                                </a>
                                            </li>
                                        </ul>

                                        <hr />

                                        <div class="text-right">
                                            <a href="#" class="view-more">View All</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>

                    <span class="separator"></span>*@

                <div id="userbox" class="userbox">
                    <a href="#" data-toggle="dropdown">
                        <figure class="profile-picture">
                            <img id="personphoto" src="#" alt="Ayo Olatunji" class="rounded-circle" data-lock-picture="#" />
                            @* <img src="#" alt="Ayo Olatunji" class="rounded-circle" data-lock-picture="#" />*@
                        </figure>
                        <div class="profile-info" data-lock-name="Admin" data-lock-email="#">
                            <span id="user" class="name"></span>
                            <span id="userrole" class="role"></span>
                        </div>

                        <i class="fa custom-caret"></i>
                    </a>

                    <div class="dropdown-menu">
                        <ul class="list-unstyled mb-2">
                            <li class="divider"></li>
                            <li>
                                <a role="menuitem" tabindex="-1" href="~/Employee/EmployeeProfile" /><i class="fas fa-user"></i> My Profile</a>
                            </li>

                            <li>
                                <a role="menuitem" tabindex="-1" href="~/Auth/Logout"><i class="fas fa-power-off"></i> Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- end: search & user box -->
        </header>
        <!-- end: header -->

        <div class="inner-wrapper">
            <!-- start: sidebar -->
            <aside id="sidebar-left" class="sidebar-left">

                <div class="sidebar-header">
                    <div class="sidebar-title">
                        Navigation
                    </div>
                    <div class="sidebar-toggle d-none d-md-block" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
                        <i class="fas fa-bars" aria-label="Toggle sidebar"></i>
                    </div>
                </div>

                <div class="nano">
                    <div class="nano-content">
                        <nav id="menu" class="nav-main" role="navigation">

                            <ul class="nav nav-main">
                                <li class="nav-active">
                                    <a class="nav-link" href="/">
                                        <i class="fas fa-home" aria-hidden="true"></i>
                                        <span>Home</span>
                                    </a>
                                </li>

                                <li class="nav-parent hidden nav-expanded">
                                    <a class="nav-link" href="#">
                                        <i class="fas fa-users" aria-hidden="true"></i>
                                        <span>Members</span>
                                    </a>
                                    <ul class="nav nav-children">
                                        <li>
                                            <a class="nav-link" tabindex="-1" href="~/Member/ManageMember">
                                                Manage Member
                                            </a>
                                        </li>

                                        <li>
                                            <a class="nav-link" href="~/Member/MemberReport">
                                                Member Reports
                                            </a>
                                        </li>


                                    </ul>
                                </li>

                                <li class="nav-parent hidden nav-expanded">
                                    <a class="nav-link" href="#">
                                        <i class="fas fa-user" aria-hidden="true"></i>
                                        <span>Employee</span>
                                    </a>
                                    <ul class="nav nav-children">
                                        <li>
                                            <a class="nav-link" href="#">
                                                My Tasks
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link" href="#">
                                                My Work Schedule
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link" href="~/Employee/EmployeeProfile">
                                                My Profile
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link" href="~/Employee/ManageEmployee">
                                                Manage Employee Profile
                                            </a>
                                        </li>

                                    </ul>
                                </li>


                                <li class="nav-parent hidden nav-expanded">
                                    <a class="nav-link" href="#">
                                        <i class="fas fa-calendar" aria-hidden="true"></i>
                                        <span>Time</span>
                                    </a>
                                    <ul class="nav nav-children">
                                        <li>
                                            <a class="nav-link" href="#">
                                                Time Off
                                                <ul class="nav nav-children">
                                                    <li>
                                                        <a class="nav-link" href="~/PTO/RequestTimeOff">
                                                            Request \ View Time Off
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="nav-link" href="~/PTO/ApproveTimeOff">
                                                            Approve Time Off
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="nav-link" href="~/PTO/ViewAccruals">
                                                            View Accruals
                                                        </a>
                                                    </li>


                                                </ul>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link" href="~/Timesheet/EnterTime">
                                                Clock In/Out
                                            </a>
                                        </li>

                                        <li>
                                            <a class="nav-link" href="~/Timesheet/ViewTime">
                                                View Time Sheet
                                            </a>
                                        </li>


                                        <li>
                                            <a class="nav-link" href="~/Timesheet/ApproveTime">
                                                Approve Time Sheet
                                            </a>
                                        </li>

                                        <li>
                                            <a class="nav-link" href="~/Timesheet/TimesheetBilling">
                                                Time Sheet Billing
                                            </a>
                                        </li>

                                    </ul>
                                </li>


                                <li class="nav-parent hidden nav-expanded">
                                    <a class="nav-link" href="#">
                                        <i class="fas fa-user-graduate" aria-hidden="true"></i>
                                        <span>Learn</span>
                                    </a>
                                    <ul class="nav nav-children">

                                        <li>
                                            <a class="nav-link" href="~/Training/Courses">
                                                Courses
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link" href="~/Training/Instructors">
                                                Instructors
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link" href="~/Training/Students">
                                                Students
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link" href="~/Training/Facilities">
                                                Facilities
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link" href="~/Training/Rooms">
                                                Rooms
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link" href="~/Training/TrainingSchedule">
                                                Training Schedule
                                            </a>
                                        </li>

                                    </ul>
                                </li>

                                <li class="nav-parent hidden nav-expanded">
                                    <a class="nav-link" href="#">
                                        <i class="fas fa-bars" aria-hidden="true"></i>
                                        <span>Reports</span>
                                    </a>
                                    <ul class="nav nav-children">
                                        <li>
                                            <a class="nav-link" href="#">
                                                Member Reports
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link" href="#">
                                                Employee Reports
                                            </a>
                                        </li>

                                    </ul>
                                </li>


                                <li class="nav-parent hidden nav-expanded">
                                    <a class="nav-link" href="#">
                                        <i class="fas fa-wrench" aria-hidden="true"></i>
                                        <span>Admin</span>
                                    </a>
                                    <ul class="nav nav-children">
                                        <li>
                                            <a class="nav-link" href="#">
                                                Task
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link" href="#">
                                                Announcement
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link" href="#">
                                                Permissions
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link" href="#">
                                                PTO Balance
                                            </a>
                                        </li>

                                    </ul>
                                </li>




                            </ul>
                        </nav>

                        <hr class="separator" />

                        @*<div class="sidebar-widget widget-tasks">
                                <div class="widget-header">
                                    <h6>Projects</h6>
                                    <div class="widget-toggle">+</div>
                                </div>
                                <div class="widget-content">
                                    <ul class="list-unstyled m-0">
                                        <li><a href="#">Porto HTML5 Template</a></li>
                                        <li><a href="#">Tucson Template</a></li>
                                        <li><a href="#">Porto Admin</a></li>
                                    </ul>
                                </div>
                            </div>

                            <hr class="separator" />*@

                        @*<div class="sidebar-widget widget-stats">
                                <div class="widget-header">
                                    <h6>Company Stats</h6>
                                    <div class="widget-toggle">+</div>
                                </div>
                                <div class="widget-content">
                                    <ul>
                                        <li>
                                            <span class="stats-title">Stat 1</span>
                                            <span class="stats-complete">85%</span>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-primary progress-without-number" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;">
                                                    <span class="sr-only">85% Complete</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <span class="stats-title">Stat 2</span>
                                            <span class="stats-complete">70%</span>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-primary progress-without-number" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                                                    <span class="sr-only">70% Complete</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <span class="stats-title">Stat 3</span>
                                            <span class="stats-complete">2%</span>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-primary progress-without-number" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="width: 2%;">
                                                    <span class="sr-only">2% Complete</span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>*@
                    </div>

                    <script>
                        // Maintain Scroll Position
                        if (typeof localStorage !== 'undefined') {
                            if (localStorage.getItem('sidebar-left-position') !== null) {
                                var initialPosition = localStorage.getItem('sidebar-left-position'),
                                    sidebarLeft = document.querySelector('#sidebar-left .nano-content');

                                sidebarLeft.scrollTop = initialPosition;
                            }
                        }
                    </script>


                </div>

            </aside>
            <!-- end: sidebar -->

            <section role="main" class="content-body">
                @RenderBody()
            </section>
        </div>

        <aside id="sidebar-right" class="sidebar-right">
            <div class="nano">
                <div class="nano-content">
                    <a href="#" class="mobile-close d-md-none">
                        Collapse <i class="fas fa-chevron-right"></i>
                    </a>

                    <div class="sidebar-right-wrapper">

                        <div class="sidebar-widget widget-calendar">
                            <h6>Upcoming Tasks</h6>
                            <div data-plugin-datepicker data-plugin-skin="dark"></div>

                            <ul>
                                <li>
                                    <time datetime="2017-04-19T00:00+00:00">04/19/2017</time>
                                    <span>Company Meeting</span>
                                </li>
                            </ul>
                        </div>

                        <div class="sidebar-widget widget-friends">
                            <h6>Friends</h6>
                            <ul>
                                <li class="status-online">
                                    <figure class="profile-picture">
                                        <img src="~/img/!sample-user.jpg" alt="Joseph Doe" class="rounded-circle">
                                    </figure>
                                    <div class="profile-info">
                                        <span class="name">Joseph Doe Junior</span>
                                        <span class="title">Hey, how are you?</span>
                                    </div>
                                </li>
                                <li class="status-online">
                                    <figure class="profile-picture">
                                        <img src="~/img/!sample-user.jpg" alt="Joseph Doe" class="rounded-circle">
                                    </figure>
                                    <div class="profile-info">
                                        <span class="name">Joseph Doe Junior</span>
                                        <span class="title">Hey, how are you?</span>
                                    </div>
                                </li>
                                <li class="status-offline">
                                    <figure class="profile-picture">
                                        <img src="~/img/!sample-user.jpg" alt="Joseph Doe" class="rounded-circle">
                                    </figure>
                                    <div class="profile-info">
                                        <span class="name">Joseph Doe Junior</span>
                                        <span class="title">Hey, how are you?</span>
                                    </div>
                                </li>
                                <li class="status-offline">
                                    <figure class="profile-picture">
                                        <img src="~/img/!sample-user.jpg" alt="Joseph Doe" class="rounded-circle">
                                    </figure>
                                    <div class="profile-info">
                                        <span class="name">Joseph Doe Junior</span>
                                        <span class="title">Hey, how are you?</span>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </aside>

    </section>
    @*<p>@TempData["UserInfo"]</p>*@



    <!-- Vendor -->

    <script src="~/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
    <script src="~/vendor/popper/umd/popper.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.js"></script>
    <script src="~/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/vendor/common/common.js"></script>
    <script src="~/vendor/nanoscroller/nanoscroller.js"></script>
    <script src="~/vendor/magnific-popup/jquery.magnific-popup.js"></script>
    <script src="~/vendor/jquery-placeholder/jquery-placeholder.js"></script>

    <!-- Specific Page Vendor -->
    <script src="~/vendor/jquery-ui/jquery-ui.js"></script>
    <script src="~/vendor/jqueryui-touch-punch/jqueryui-touch-punch.js"></script>
    <script src="~/vendor/jquery-appear/jquery-appear.js"></script>
    <script src="~/vendor/bootstrap-multiselect/bootstrap-multiselect.js"></script>
    <script src="~/vendor/jquery.easy-pie-chart/jquery.easy-pie-chart.js"></script>
    <script src="~/vendor/flot/jquery.flot.js"></script>
    <script src="~/vendor/flot.tooltip/flot.tooltip.js"></script>
    <script src="~/vendor/flot/jquery.flot.pie.js"></script>
    <script src="~/vendor/flot/jquery.flot.categories.js"></script>
    <script src="~/vendor/flot/jquery.flot.resize.js"></script>
    <script src="~/vendor/jquery-sparkline/jquery-sparkline.js"></script>
    <script src="~/vendor/raphael/raphael.js"></script>
    <script src="~/vendor/morris/morris.js"></script>
    <script src="~/vendor/gauge/gauge.js"></script>
    <script src="~/vendor/snap.svg/snap.svg.js"></script>
    <script src="~/vendor/liquid-meter/liquid.meter.js"></script>
    <script src="~/vendor/jqvmap/jquery.vmap.js"></script>
    <script src="~/vendor/jqvmap/data/jquery.vmap.sampledata.js"></script>
    <script src="~/vendor/jqvmap/maps/jquery.vmap.world.js"></script>
    <script src="~/vendor/jqvmap/maps/continents/jquery.vmap.africa.js"></script>
    <script src="~/vendor/jqvmap/maps/continents/jquery.vmap.asia.js"></script>
    <script src="~/vendor/jqvmap/maps/continents/jquery.vmap.australia.js"></script>
    <script src="~/vendor/jqvmap/maps/continents/jquery.vmap.europe.js"></script>
    <script src="~/vendor/jqvmap/maps/continents/jquery.vmap.north-america.js"></script>
    <script src="~/vendor/jqvmap/maps/continents/jquery.vmap.south-america.js"></script>

    <script src="~/vendor/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
    <script src="~/vendor/summernote/summernote-bs4.js"></script>

    <script src="~/vendor/moment/moment.js"></script>

    <!-- Theme Base, Components and Settings -->
    <script src="~/js/theme.js"></script>

    <!-- Theme Custom -->
    <script src="~/js/custom.js"></script>

    <!-- Theme Initialization Files -->
    <script src="~/js/theme.init.js"></script>

    <!-- Examples -->
    <script src="~/js/examples/examples.dashboard.js"></script>


    <!--[if lt IE 9]>
    <script type="text/javascript" src="libs/flashcanvas.js"></script>
    <![endif]-->
    <script src="~/vendor/jsignature/jSignature.min.js"></script>

    @*<script src="~/js/jquery.userCam.min.js"></script>*@

    <script src="~/js/webcam.min.js"></script>

    @*<!-- DevExtreme themes -->

        <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/18.1.6/css/dx.common.css" />
        <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/18.1.6/css/dx.light.css" />

        <!-- DevExtreme library -->

        <script type="text/javascript" src="https://cdn3.devexpress.com/jslib/18.1.6/js/dx.all.js"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.2/jszip.min.js"></script>
    <script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/globalize/0.1.1/globalize.min.js"></script>
    @Scripts.Render("~/Scripts/DevExtremeBundle")

    <script>
        $(document).ready(function () {



            $.getScript("/js/HomeDevExtreme.js")

            var page = getCurentFileName();
            sessionStorage.setItem("page", page)
            // alert(page);

            switch (page) {
                case "Courses":
                    $.getScript("/js/CourseDevExtreme.js")
                    break;
                case "Instructors":
                    $.getScript("/js/InstructorDevExtreme.js")
                    break;
                case "Students":
                    $.getScript("/js/StudentDevExtreme.js")
                    break;
                case "TrainingSchedule":
                    $.getScript("/js/TraningSchedulerDevExtreme.js")
                    break;
                case "Facilities":
                    $.getScript("/js/FacilityDevExtreme.js")
                    break;
                case "Rooms":
                    $.getScript("/js/RoomDevExtreme.js")
                    break;
                case "EnterTime":
                    $.getScript("/js/TimeSheetDevExtreme.js")
                    break;
                case "ViewTime":
                    $.getScript("/js/TimeSheetDevExtreme.js")
                    break;
                case "ApproveTime":
                    $.getScript("/js/TimeSheetDevExtreme.js")
                    break;
                case "TimesheetBilling":
                    $.getScript("/js/TimeSheetDevExtreme.js")
                    break;
                case "RequestTimeOff":
                    $.getScript("/js/PTODevExtreme.js")
                    break;
                case "ViewAccruals":
                    $.getScript("/js/PTODevExtreme.js")
                    break;
                case "ApproveTimeOff":
                    $.getScript("/js/PTODevExtreme.js")
                    break;
                case "EmployeeProfile":
                    $.getScript("/js/EmployeeDevExtreme.js")
                    break;
                case "ManageEmployee":
                    $.getScript("/js/EmployeeDevExtreme.js")
                    break;
                case "MemberProfile":
                    $.getScript("/js/MemberDevExtreme.js")
                    break;
                case "ManageMember":
                    $.getScript("/js/MemberDevExtreme.js")
                    break;
                case "MemberReport":
                    $.getScript("/js/MemberDevExtreme.js")
                    break;
                default:
                    $.getScript("/js/HomeDevExtreme.js")
            }


            function getCurentFileName() {
                var pagePathName = window.location.pathname;
                return pagePathName.substring(pagePathName.lastIndexOf("/") + 1);
            }


        })


    </script>






</body>

</html>