﻿<!DOCTYPE html>

<html class="sidebar-light sidebar-left-big-icons">
<head>
<meta charset="UTF-8">

		<meta name="keywords" content="Zion Portal Admin" />
		<meta name="description" content="">
		<meta name="author" content="acepointe.com">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link href="~/img/ZionCompassion_FAV.png" rel="shortcut icon" type="image/x-icon" />


	<!-- Web Fonts  -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="~/vendor/bootstrap/css/bootstrap.css" />
	

		<!-- Theme CSS -->
		<link rel="stylesheet" href="~/css/theme.css" />

		<!-- Skin CSS -->
		<link rel="stylesheet" href="~/css/skins/default.css" />

    @Styles.Render("~/Content/DevExtremeBundle")

		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="~/css/custom.css">

 

		<!-- Head Libs -->
		<script src="~/vendor/modernizr/modernizr.js"></script>



</head>

<body style="background:#ffffff !important">

    <section class="body">



        <div class="">


            <section role="main" class="">
                @RenderBody()
            </section>
        </div>


    </section>


    <script src="~/vendor/jquery/jquery.js"></script>
    <script>
        $(document).ready(function () {
            sessionStorage.clear()

        })
    </script>


</body>

</html >
