﻿body {
}
#header_in {
    height: 80px;
    border-bottom: 1px solid #e8ebed;
    position: absolute;
    background-color: whitesmoke;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99;
}
.subheader#quote {
    /*background: #fff4e3 url(../img/quote_bg.svg) no-repeat center bottom;*/
    background: #fff;
}
 
p.lead {
    font-weight: 400;
    font-size: 20px;
    color: #333;
    margin-bottom: 35px;
}
 
p.leadsmall {
    font-weight: 200;
    font-size: 16px;
    color: #333;
    margin-bottom: 15px;
}
 
ul.list_ok li:before {
    font-family: 'ElegantIcons';
    content: "\e00a";
    position: absolute;
    left: 0;
    top: -3px;
    font-size: 21px;
    color: orangered;
}
ul.list_aside {
    list-style: none;
    margin: 0 0 25px 0;
    padding: 0;
    line-height: 1.3;
}
ul.list_aside li:before {
    font-family: 'ElegantIcons';
    content: "\45";
    position: absolute;
    left: 0;
    top: -3px;
    font-size: 21px;
    color: orangered;
}
ul.list_aside li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 20px;
}
.offcolor {
    color: orangered
}
#middle-wizard {
    padding: 10px 0 30px 50px;
}
.inputborder {
   border:none !important; 
   border-bottom:1px solid #e8e8e8 !important;
}

.offbg {
    background-color: orangered !important;
}
 .modal-dialog {
     min-width:800px;
}

 button.courses {
    border: none;
    color: #fff;
    padding: 7px 20px;
    text-decoration: none;
    transition: background .5s ease;
    -moz-transition: background .5s ease;
    -webkit-transition: background .5s ease;
    -o-transition: background .5s ease;
    display: inline-block;
    cursor: pointer;
    font-weight: 400;
    outline: none;
    text-align: center;
    background: #409fff;
    position: relative;
    font-size: 15px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    line-height: 1;
    padding: 10px 30px 10px 30px;
}
.hidden {
    display:none;
}

* {
  box-sizing: border-box;
}
    .outcome {
        float: left;
        width: 100%;
        padding-top: 12px;
        min-height: 24px;
        text-align: center;
    }
        .success.visible,
        .error.visible {
            display: inline;
        }

    .error {
        color: #E4584C;
    }

    .success {
        color: #666EE8;
    }

        .success .token {
            font-weight: 500;
            font-size: 20px;
        }
    /*.success,
    .error {
        display: none;
        font-size: 24px;
    }

        .success.visible,
        .error.visible {
            display: inline;
        }

    .error {
        color: #E4584C;
    }

    .success {
        color: #666EE8;
    }

        .success .token {
            font-weight: 500;
            font-size: 20px;
        }*/

    .checkout-panel {
        display: flex;
        flex-direction: column;
        width: 940px;
        height: 566px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2);
        margin-left: 15%;
    }

    .panel-body {
        padding: 45px 80px 0;
        flex: 1;
    }

    .payment-method {
        display: flex;
        margin-bottom: 60px;
        justify-content: space-between;
    }

    .method {
        display: flex;
        flex-direction: column;
        width: 382px;
        height: 122px;
        padding-top: 20px;
        cursor: pointer;
        border: 1px solid transparent;
        border-radius: 2px;
        background-color: rgb(249, 249, 249);
        justify-content: center;
        align-items: center;
    }

    .card-logos {
        display: flex;
        width: 150px;
        justify-content: space-between;
        align-items: center;
    }

    .radio-input {
        margin-top: 20px;
    }

    input[type='radio'] {
        display: inline-block;
    }

    .input-fields {
        display: flex;
        justify-content: space-between;
    }

        .input-fields label {
            display: block;
            margin-bottom: 10px;
            color: #b4b4b4;
        }

    .info {
        font-size: 12px;
        font-weight: 300;
        display: block;
        margin-top: 50px;
        opacity: .5;
        color: #2e2e2e;
    }

    div[class*='column'] {
        width: 382px;
    }

    input[type='text'],
    input[type='password'] {
        font-size: 16px;
        width: 100%;
        height: 50px;
        padding-right: 40px;
        padding-left: 16px;
        color: rgba(46, 46, 46, .8);
        border: 1px solid rgb(225, 225, 225);
        border-radius: 4px;
        outline: none;
    }

        input[type='text']:focus,
        input[type='password']:focus {
            border-color: rgb(119, 219, 119);
        }

    #date {
     background: #ffffff;
    }

    #cardholder {
        background: #ffffff;
    }

    #cardnumber {
        background: #ffffff;
    }

    #verification {
         background: #ffffff;
    }

    .small-inputs {
        display: flex;
        margin-top: 20px;
        justify-content: space-between;
    }

        .small-inputs div {
            width: 100%;
        }



.field {
  background: white;
  box-sizing: border-box;
  font-weight: 400;
  border: 1px solid #CFD7DF;
  border-radius: 24px;
  color: #32315E;
  outline: none;
  flex: 1;
  height: 48px;
  line-height: 48px;
  padding: 0 20px;
  cursor: text;
}

.field::-webkit-input-placeholder {
  color: #CFD7E0;
}

.field::-moz-placeholder {
  color: #CFD7E0;
}

.subheader {
    text-align: center;
    margin: 0 -65px 45px -65px;
    height: 300px;
    border-bottom: 1px solid #e8ebed;
}
.styled-select span.error {
     top: -35px; 
}
.FloatRight.PayPalExpressCheckout{height: 85px!important;
overflow: hidden!important;}

#black-credit-card-button{
    display:none
}